<section id="feature" class="features" style='margin-top:35px;'>

<div class="about-Us">
<h2>Artificially Enhanced Diamonds</h2>  
  <br>
<p>Because of the rarity of a perfectly formed diamond, many processes have been developed to better the appearance of lower quality diamonds, making a more affordable option for lower budgets.  These diamond treatments are called artificial enhancements.  These enhancements are used to adjust a diamond's color or to remove inclusions or blemishes in the stone.</p>  
  
<p><b>Clarity</b><br> 
Every diamond, with the exception of a flawless diamond, contains natural fractures, crystallizations, or other internal flaws called Inclusions, or external flaws such a abrasions or nicks called Blemishes.  There are two processes designed to improve the appearance of these imperfections. </p>

<p><b>Drilling</b><Br> 
Laser drilling is the process in which a laser is used to drill into the imperfection, and then the discoloration or crystallization is injected with a chemical to make it less noticeable or eliminate it completely.</p>
   
<p><b>Filling</b><br> 
When a diamond is filled, a laser is used to drill into a fracture in the stone.  The diamond is then filled with a glass type chemical that resembles that of a diamond when it hardens. </p>
	  
<p><b>Color</b><br>  
A diamond's color is one of the keys to the beauty of the stone, hence the reason that methods to improve diamond color have been developed.</p>

<p><b>Irradiation</b><Br> 
 Irradiation is the process of altering the color of a stone by bombarding its existing particles with chemicals or exposing it to volts of electricity.  Irradiation will turn the diamond a dark green or blue color, or the gem can be annealed, or exposed to high amounts of heat, which will turn it yellow, orange, brown, or pink. </p>

<p><b> High Pressure High Temperature (HPHT) </b><Br> 
HPHT treatment is the process of using temperatures of over 2,000 degrees Celsius (3,632 degrees Fahrenheit) and pressure of up to 70,000 atmospheres to lighten the color of a diamond.  HPHT can whiten diamonds with hints of yellow and brown, or intensify a yellow diamond to make it more vivid. </p>

  
<p><b>Should I Buy An Enhanced Diamond? </b><br> 
Buying an enhanced diamond is your decision, but you need to know that an artificially enhanced diamonds will generally be worth LESS than a similar diamond that has not been artificially enhanced.  Experts can tell if a diamond has been artificially treated or enhanced.  It is okay to buy a treated diamond to get a better looking stone for less money, as long as you get a fair price for the diamond.  It's important that you know the exact treatments that were used on the stone to make sure they are safe.  It's also important to know that this diamond will not fetch a high resell value if you choose to sell it later, because it is not considered 'natural'.</p>

</div>
</section>