<section id="feature" class="features" style='margin-top:35px;'>
<h2>Color Grade</h2>
 <br>
<p>Color in diamonds most often appears as a pale yellow or slightly brown hue. The yellow color is due to the presence of trace amounts of nitrogen in the diamond. Strong yellow or vividly yellow diamonds are regarded as Fancy colored diamonds, which are rare and can be very valuable. Other colors of Fancy diamonds, which can be blue, green, orange, pink, red, violet, or other colors, are also rare and can be extremely valuable. Clear or colorless diamonds are also more rare and highly prized. Most diamonds sold in fine retail jewelry today are colorless or near colorless.</p>

<p><b><br>The Scale</b><br><br>
When referring to the color of a gem quality diamond, it is usual to refer to a Color Grade on the standard Color Grade Scale used by jewelers and gemologists worldwide. The Color Grade Scale was developed by the Gemological Institute of America (GIA) more than 50 years ago. It consists of ranking colorless to light yellow diamonds on a scale of D to Z, with D being absolutely colorless and Z being light yellow. Before the Color Grade Scale came into widespread use, diamond colors were referred to by a variety of different names, including River and Wesselton for colorless diamonds and Cape for very yellow diamonds. </p>

<p>In 1953, GIA introduced the Color Grading System. Because there were many diamond companies that had developed their own color grade using the first three letters of the alphabet, GIA elected to make the top grade D.  This system was taught in GIA's classes to those studying to become professional jewelers and gemologists, and eventually gained worldwide acceptance in the diamond industry.  The system consists of comparing diamonds under controlled, standardized, environment and lighting conditions with a master set of stones, each of the 23 master stones bearing a letter, D to Z, of the color grade it represents.  </p>

<p>Prior to the availability of quality fluorescent lighting, one of the challenges faced in grading the color of diamonds was a consistent quality light source. Over the years, GIA has continuously improved the quality of the standardized environment (angles, distance, background) and lighting under which diamonds are color graded. Today, the standard lighting for grading diamonds is fluorescent lighting.</p>

<p>The greatest challenge for color grading in the past, and even today, is consistency.  Many attempts have been made to invent machines that will grade the color of diamonds with consistency, but none met with success until recently when a proprietary machine was invented and put into service at GIA. Even still, diamonds continue to be color graded individually by trained gemologists or lab technicians. The process usually involves a diamond being graded by multiple color grade technicians in a standardized viewing environment. Each of the color graders evaluate the diamond and render an opinion of its color grade. A color grade is assigned to the diamond only when there is sufficient agreement among the color graders' independently derived opinions. </p>
 

<p>On the Color Grade Scale, diamonds that are colorless are designated D, E or F; near colorless are G, H, I, and J; faint yellow are K, L, and M; and N to Z ranges from very light yellow to light yellow. </p> 

<p><b>D</b>:	Absolutely colorless. Extremely rare diamonds.</p>
<p><b>E-F</b>:	Colorless. Traces of color can only usually be detected by a trained gemologist. Rare diamonds.</p>
<p><b>G-H</b>:	Near-colorless. Yellow color is difficult to detect except in side-by-side comparisons with other diamonds. </p>
<p><b>I-J</b>:	Near-colorless. Slight yellow hue may be detectable.</p>
<p><b>M-Z</b>	Noticeable color. </p>

<p><b><br>Color Grade and Value</b><br><br>
Other than Carat Weight, a diamond's Color Grade is the most significant factor of a diamond's value.  The better the Color Grade, the greater the value.</p>

<p>Diamonds with even faint yellow are less preferred than colorless or near colorless, and therefore the value of such diamonds is lower.  There are likely two reasons that colorless diamonds are preferred:  one is that clear diamonds are visually more appealing, and the other is that the absence of color improves the ability of a diamond to sparkle. Even faint yellow color in a diamond can reduce the flow of light through a diamond and thus impact its ability to achieve its maximum brilliance. </p>

<p>There is a smaller market for diamonds that are color K or lower, and values vary widely. For this reason, Max's Diamond Price Guide does not provide values for diamonds with color grades lower than J.</p>

<p>Because Color Grade is a significant factor in a diamond's value, if any particular gemological lab is regarded as generally giving diamonds better Color Grades than the standard, then the market will tend to discount the value of the diamonds graded by that gemological lab. </p>

<p><b><br>Selecting a Color Grade </b><br><br>
Personal preference and budget will determine which Color Grade diamond is best for you.  Unless you have a strong desire to buy a more expensive, colorless diamond, an excellent cut G, H or I color diamond will exhibit wonderful brilliance, fire and scintillation, and bear a much lower price tag. </p>

<p>If you want a colorless diamond (Color Grade D, E or F), we recommend that you also select on an "excellent" Cut Grade diamond. This is because colorless diamonds are highly prized for their uninhibited ability to transmit light in a wide spectrum of colors, just like a prism. The yellow or brown color in diamonds can interfere with the light passing through a diamond, reducing its potential for optimal brilliance, fire and scintillation.  Unless a diamond is cut properly, it will not also not be able be able to perform optimally, and the benefit of selecting a colorless diamond may be frustrated or lost.</p>

<p>Color is more easily observed in larger diamonds. For this reason, selecting a colorless or near colorless diamond may be preferable if you intend to buy a diamond greater than 1 carat.  For this same reason, if you are buying very small diamonds (less than 1/4 carat) for jewelry, your best choice may be a diamond that has faint or very light yellow color.</p>

<p>Because the Color Grades are discrete but color is not, one diamond with a Color Grade of F and another with a Color Grade of G may be nearly identical, though the price of the diamond with the Color Grade of F may be much higher.  It is for this reason we say that it is a diamond's Color Grade and not its color that is the true factor in its value.  Understanding this, when choosing between two diamonds, you will want to carefully examine and compare the color of each diamond.</p>


<p>Because of the human visual observation factor in determining Color Grades of diamonds, if the same diamond is submitted to the same gemological lab more than once, the lab could very well give the diamond different Color Grades. For this reason, the labs make an effort to prevent the submission of the same diamond for re-grading without their knowledge. </p>

<p>Each of the major gemological labs trains and establishes procedures for the grading of diamonds. The differences in the training and procedures between labs results in differences in how the labs grade the color of diamonds. Thus, a diamond with a Color Grade of J from one lab may be the equivalent of a diamond of Color Grade K from another lab. This means that the value of two diamonds with the same Color Grade each certified by different labs may be different.  It is therefore very important for you to take this into consideration as you shop for diamonds. </p>

<p>Just because one diamond is priced less than an equivalent diamond with the same Color Grade, the lower priced diamond may not be a better deal if the grading certificates of the two diamonds were issued by different gemological labs.</p>

<p>When you visit a jewelry store to shop for a diamond, you will probably not be able to distinguish the color difference between diamonds of adjacent Color Grades, such as the difference between a diamond with a Color Grade of D and one with a Color Grade of E.  If size or carat weight is highly important to you, by selecting a diamond with a slightly lower Color Grade you may be able to get a larger diamond for the same price.</p>

<p>Some people believe that the beauty of colorless or near colorless diamonds is enhanced by platinum or white gold jewelry settings, and that Diamonds with yellow gold settings work better for diamonds with faint or very light yellow color ratings. As this is a matter of personal taste, you may want to consider the setting as you decide on a Color Grade.</p>

<p>Ultimately, to determine what Color Grade you find satisfactory, you should visit your local jeweler and ask to see a variety of different Color Grade diamonds in various carat weights and shapes. Then select the Color Grades you find appealing.  To best see the color of a diamond, you should view it unmounted (loose), from the bottom, with the Table down on a bright white surface under fluorescent lighting. </p>

<p><b><br>Color Grade and Clarity Grade</b><br><br>
There is no relationship between the Color Grade and the Clarity Grade. A better clarity diamond, one with fewer imperfections, will not have a better color. Higher clarity does not make a diamond have or exhibit less color.  </p>

<p><b><br>Color Grade and Fluorescence</b><br><br>
35% of all diamonds on the retail market exhibit some amount of fluorescence, which can be from faint to very strong depending on the diamond.  Approximately 98% of these will have blue fluorescence. Years ago, jewelers marketed these as "blue-white" diamonds, but this practice was outlawed in the USA and discontinued. </p>

<p>If a diamond with medium, strong or very strong fluorescence is subjected to UV light rays, the diamond will fluoresce. Exposure to UV light can occur under direct sunlight in small amounts or in large doses from a Black Light. When exposed to UV light, a diamond with fluorescence may exhibit less yellow color than when not exposed to UV light.  Because a diamond's color is determined by the human eye, if a diamond's Color Grade is done by the gemological labs in an environment that includes UV light, the color grade may be higher than if UV light is excluded. </p>

<p>Recently, there has been debate as to whether or not to include UV light during color grading.  The GIA, which grades more than a majority of all diamonds in the retail market, has adopted this practice and recommended it as a standard.  The result is that diamonds with fluorescence are valued slightly lower because they are perceived as having been over-graded with respect to color. Before buying a diamond with fluorescence, you should   compare it to a diamond of the same color grade without Fluorescence.  You can read more information about Fluorescence <A HREF="pages/archive/diamond_fluorescence">here</A>.</p>
   

</section>