<section id="feature" class="features" style='margin-top:35px;'>
<h2>Conflict Diamonds</h2> 
  <br>
<p>Conflict Diamonds, also known as "blood diamonds," are diamonds originating from regions where the sellers use their profits to fund armed aggression,  political violence and terrorist activities, primarily in central and western African countries. The diamond industry states that in the past only approximately two or three percent of the diamond supply was coming from such sellers, but consumer advocates think it was more like ten to fifteen percent.  Conflict diamonds were produced through forced labor or stolen by attacking diamond mines. Recently, efforts by the diamond industry to carefully track the source of rough diamonds has all but eliminated the concern that a diamond you might be purchasing is a Conflict Diamond. </p>
  
<p>Ask your jeweler if the diamonds you are looking to purchase are certified by the Kimberly Process Certification Scheme (KPCS). The United Nations adopted the KPCS, which is a diamond certification process for all rough diamonds (diamonds that come from mines but are not yet cut and polished) crossing from one country to the next. The KPCS documents the origins and travel of each diamond, and requires that diamond roughs be shipped in tamper-proof casing.  Compliance with the KPCS ensures that virtually all rough diamonds are Conflict-Free. But consumers need to keep in mind that this refers only to rough diamonds. Cut and polished diamonds do not go through the KPCS process. </p>
  <br>
<p>Here are a things you should consider so that you don't buy a Conflict Diamond: 
 
<p>If you are told that the country of origin of the diamond you are thinking of buying is one of the countries known to be a source of Conflict Diamonds, you might reconsider your selection.  These countries include: Sierra Leona, Liberia, Angola, the Democratic Republic of Congo, and The Ivory Coast.</p>  
  
<p>Buy from a seller who is located in a country that has laws, regulations or voluntary programs that restrict or discourage the sale of Conflict Diamonds. The United States and Canada both have measures in place to prevent the trafficking of Conflict Diamonds.The United States has enacted the Clean Diamond Trade Act law to require compliance with the KPCS.  The Voluntary Code of Conduct for Authenticating Canadian Diamond Claims tracks a diamond all the way from the mine to the retailer. It's a voluntary program, however, so it's not foolproof. </p>
  
<p> Be suspicious about unusually low jewelry prices. It may mean that the jewelry includes a Conflict Diamond. </p> 

  
  
  
  
  </section>
  
  
  
  
  
  
  
  
