<section id="feature" class="features" style='margin-top:35px;'>
<h2>Cubic Zirconia</h2>
<br>
<p>If you are looking for a piece of jewelry with the look of a diamond, but without the high price tag, cubic zirconia may something to consider.  Cubic zirconia looks very similar to a diamonds, however they are not natural stones, but are created in a lab.  Because cubic zirconia are much less expensive than diamonds, they are often featured in fashion jewelry such as pendants, earrings, and bracelets.</p>
 <br>
<p><b> What are Cubic Zirconia?</b><br> 
Cubic zirconia are a lab created result of the element zirconium pairing with oxygen atoms.  Oxygen atoms surround zirconium atoms, and every oxygen atom is attached to four zirconium atoms.  Cubic zirconia are extremely hard, and would fall at an 8 on the Mohs Scale of Mineral Hardness.  This means that they are harder than most other minerals with the exception of a diamond or sapphire.  Because it is so hard, it is also a very brittle stone.  </p>

<p>What makes cubic zirconia noticeably different than diamonds are their high dispersion rates.  Dispersion rate is the way the color, or fire, is dispersed when light is reflected out of a stone.  A diamond's dispersion rate is .044, whereas cubic zirconia have a dispersion rate of .058 to .066.  This intense sparkle, in addition to the perfect clarity and color, is what alerts the eye to the synthetic aspect of cubic zirconia. </p>

<p>Cubic Zirconia contain no flaws and are colorless.  If one were being graded as a real diamond, it would be rated a "D" on the color scale, which means it would be considered a colorless diamond.  If it were made in nature, it would be a flawless diamond.  However, because it is lab created, it is not considered a mineral and is therefore drastically lower in cost. Though they are initially colorless, cubic zirconia can be made in various colors, such as yellow or pink, to resemble fancy colored diamonds.</p>  
<br>
<p><b>How are Cubic Zirconia Made?</b><br> 
Cubic Zirconia are made by melting zirconia feed powder at a temperature of 2,750 degrees Celsius, or nearly 5000 degrees Fahrenheit.  Because of the high melting point of zirconia, a special container called a skull crucible must be used to melt the zirconia from the inside out.  The zirconia forms a hard shell on the outside while the inside is molten, and the temperature is lowered gradually.  This leads to a formation of column shaped crystals, which are cut into gemstones.  </p>

<p>To add color to cubic zirconia, metal oxide dopants are added to the zirconia feed powder.  For instance, titanium forms a golden brown or champagne colored cubic zirconia, and erbium forms pink cubic zirconia. </p>
</section>


