<section id="feature" class="features" style='margin-top:35px;'>
<h2>Cut Grade</h2>  
<br>
<p>A diamond can be of the best Clarity and Color grades, but if its Cut Grade is poor, the diamond will not be the beautiful gem you will want to buy.  The "cut" of a diamond can refer to its shape (round, oval, emerald, etc.) or to the quality of how well it was cut and polished.  The Cut Grade is a rating of how well the diamond was cut and polished.  </p>

<p>The Cut Grade is determined by a gemological lab that evaluates how well the diamond was cut and polished.  Each of the leading labs approach the grading of Cut differently, but basically they all try to grade each diamond on how closely that diamond has been cut and polished to the ideal proportions, symmetry and polish standards for a diamond of that shape.</p> 

<p>Cut Grades are currently only available from most labs for Round Brilliant diamonds, which will be given a grade of Excellent or Ideal, Very Good, Good, Fair or Poor.  </p>

<p><b><br>Value and Cut Grade</b><br><br>
The Cut Grade, when available, will be a primary factor when determining the value of a diamond. When no Cut Grade is available, or two diamonds are of equivalent Cut Grade, individual components of a diamond's Cut (such as Depth Percentage, Table Percentage, Girdle Size, Polish, Symmetry, Culet size) may be evaluated to determine or refine the estimated value of a diamond.</p>

<p>If you are intending to buy a diamond from a retailer, you should be aware that because there is not yet an established standard in the industry for the grading of a diamond's Cut, some diamond retailers will make up brand names for cut grades or assign the retailer's own cut grades based on proportions or other characteristics.  In doing so, the retailer usually hopes to create additional value in the mind of the consumer by branding a diamond as "Signature" or "Super Ideal" or some other special name, in order to get a premium price for what the retailer believes are better quality diamond or for those diamonds which the retailer overpaid.  You should carefully review the lab certificate for the Cut Grade for any diamond you are considering, and use that as a basis for evaluating the price, rather than any special designation assigned by a particular retailer. </p>

<p><b><br>Cut and Beauty</b><br><br> 
How well a diamond is cut can make all the difference with respect to the diamond's beauty.  The beauty of a diamond is generally characterized by the three components of light performance:  Brilliance, Fire and Scintillation.    
The object of the diamond cutter is to fashion the diamond in such a way as to maximize beauty and weight.  While the diamond cutter cannot change the color of the diamond, and can often do little about the diamond's clarity, the diamond cutter has nearly 100% control over whether the diamond achieves ideal proportions, symmetry and polish standards.  When the ideal standards are met, light performance is maximized and the diamond reaches its potential for optimizing Brilliance, Fire and Scintillation. And it is the craftsmanship and skill of the diamond cutter that makes this happen. </p>

<p>Diamond cutting is a skilled art that today involves the use of specialized equipment and technology. The cutter will use a computer and x-rays to study a diamond rough carefully to plan how to best cut the rough into one or more diamonds. The cutter will then cleave or saw cut the rough, (Brute the diamond to make it round if it is to be a Round Shape), and then polish (grind) the facets onto the diamond at precise angles using diamond coated polishing wheels.   If the facets are not placed correctly, the diamond's beauty is compromised.</p>

<p><b><br>Light Performance</b><br><br> 
Cut grading of diamonds is a relatively new thing. Tremendous effort has been made in the past two decades to study light performance in diamonds and to try to correlate light performance with proportions, symmetry and polish. There is still not agreement among the various leading grading laboratories on how to measure ideal light performance, what the ideal cut standards should be, and how to grade cut.  At least part of the difficulty is that it happens that very beautiful diamonds can be cut that do not exactly match ideal cut standards, and some not-so-beautiful diamonds can match the ideal cut standards. The labs, therefore, have often revised their ideal cut standards and are continuing to seek ways to quantify the beauty of a diamond. </p>


<p><b><br>Components of the Cut Grade</b><br><br> 
The Cut Grade of a diamond is generally determined by a diamond grader in a gemological lab who judges the diamond's overall light performance as well how well the diamond's proportions, polish and symmetry meet the labs  ideal standards. </p>

<p>The diamond proportions that are typically evaluated when a diamond is graded include the diamond's table size (expressed as the Table Percentage), depth and width (expressed as the Depth Percentage), Crown Angle, Pavilion Angle, Girdle size and Culet (if any) size.</p>

<p><b><br>Table Percentage</b><br><br> 
The table is the top or upper flat plane of a cut and polished diamond. A Round Brilliant diamond is evaluated by measuring its width and comparing it to the diameter of the girdle. By dividing the girdle diameter by the table width, we get the Table Percentage, which is the proportion that is graded. For Fancy Shapes, the Table Percentage is also an important factor in evaluating the cut of the diamond, even though there may not be a Cut Grade. If a diamond's table is cut too small, the reflection of light is not optimized and the diamond will not be as brilliant as it could be. It the table is cut too large, then the diamond's fire and scintillation can be compromised.  </p>

<p><b><br>Depth Percentage</b><br><br> 
A diamond's depth percentage is a measure of its height compared to its width. If a diamond is cut too deep or too shallow, it will not optimize light performance. If it is cut too shallow, the light will escape through the bottom and the diamond will look glassy; if the cut is too deep, the light will refract out the sides and the diamond will appear dull or dark.</p>


<BR>
<%= image_tag "archive_cut_grade_table.jpg" %>
<BR>

<p><b><br>Crown Angle and Pavilion Angle</b><br><br> 
Crown Angle and Pavilion Angle are factors not only in the diamond's physical appearance, but also in light performance. The crown angle is the angle of the crown facet plane relative to the table plane. For grading purposes, the grader will use the average of the eight crown angles. The pavilion angle is the angle of the pavilion main facet plane relative to the table plane. For grading purposes, the grader will use the average of the eight pavilion angles. Crown Angles and Pavilion angles must achieve certain angle degree measurements determined by reference to the Table Percentage, for the diamond to receive a particular grade.  If the ideal standards are not met for either Crown Angle or Pavilion Angle, the diamond will receive a Cut Grade which is less than Excellent or Ideal.  </p>

<p><b><br>Girdle Size</b><br><br> 
Where the Crown and Pavilion meet in a cut and polished diamond is called the Girdle. The Girdle can be razor thin, or rather wide. It can be faceted or smooth. If it is too thin, it can chip, especially when the diamond is being placed in a setting. If it is too wide, it may be more difficult to set in a ring securely. As well, if the Girdle is wide, the diamond will make the diamond heavier than it needs to be to achieve the same light performance and beauty than a similar diamond with a properly sized Girdle. An oversized Girdle can hide extra weight, which will make the diamond more expensive on a per carat basis, unless a discount is given for the oversized Girdle.</p>
<BR>
<%= image_tag "archive_girdle_size_and_cut_grade.jpg" %>
<BR>
<p>Girdles are not assigned numbers, but are given a standard description which reflects the average narrow point and average wide point of the, with the typical descriptions being Extremely Thin, Very Thin, Thin, Medium, Slightly Thick, Thick, Very Thick and Extremely Thick.  For Round Brilliant diamonds, the preferred Girdle will be at the narrowest point Very Thin, and at the widest point Slightly Thick. Diamonds with Girdles that are Extremely Thin or Extremely Thick should be carefully evaluated before purchase and a discount likely applied to the value. </p>

<p><b><br>Culet</b><br><br> 
At the bottom side of a cut and polished diamond is located either a point, or a facet (flat plane), which facet is called the Culet. (Culet is pronounced either a Kyoo'-let or Kull'-et.) If a Round Brilliant diamond has no Culet (only a point), or a small or very small Culet, the diamond usually can receive the highest Cut Grade; diamonds with medium, large or very large Culets may receive lesser Cut Grades. The preferred modern style of cut for the Round Brilliant is without a Culet.  You should expect only a very minimal discount, if any, for a diamond because of the presence of a small or very small Culet.  Some Culets graded Very Small are only observable with a 10X microscope.</p> 
<BR>
<%= image_tag "archive_culet_size_and_cut_grade.jpg" %>
<BR>

<p><b><br>Diamond Finish</b><br><br> 
The "Finish" of a cut and polished diamond is a description of how well the diamond cutter created the facets on the diamond. </p>

<p><b><br>Polish</b><br><br> 
If a diamond has an Excellent or Ideal Polish, then all of the facets will have been carefully finished so as not to show any imperfections, such as abrasions, scratches, nicks or polishing marks on the surface of the facets. If a diamond's Polish does not meet at least Good grade standards, it will usually be returned for re-polishing.</p>

<p><b><br>Symmetry</b><br><br> 
A diamond's symmetry will be graded on how well the diamond meets ideal relative sizes and alignment of Table, Crown, Girdle, Pavilion, and Point, as well as how the alignment, size, balance and evenness of facets.</p>

<p>Symmetry is graded:  Excellent (AGSL = Ideal), Very Good, Good, Fair, or Poor.</p>

<p><b><br>GIA Cut Grading </b><br><br>
In 2006, GIA began using a new system for determining Cut Grades for Round Brilliant diamonds that makes use of proprietary software systems. The GIA Cut Grade evaluates seven components: Brightness, Fire, and Scintillation Weight Ratio, Durability, Polish, and Symmetry</p>

<BR>
<%= image_tag "archive_gia_cut_grade.jpg" %>
<BR>

<p><b><br>AGS Cut Grading</b><br><br> 
AGS Laboratories analyze a diamond's light performance quantitatively and qualitatively, using computer assisted equipment that measures the light traveling through the diamond, as well as evaluating the diamond's proportions, polish and symmetry under a 10X microscope</p>

<BR>
<%= image_tag "archive_ags_cut_grade.jpg" %>
<BR>

</section>