<section id="feature" class="features" style='margin-top:35px;'>
<h2>Diamond Mining</h2>
  <br>
<p>As you stare at a diamond, sparkling in a display case, it probably doesn't occur to you that the very diamond you are about to purchase took millions of years to come into existence.  Or that it was formed 120 to 200 kilometers (75 to 120 miles) beneath the earth's surface.  </p> 
  
<p>There are two methods of diamond mining:  pipe mining and alluvial mining. </p> 
  <br>
<p><b>Pipe Mining </b></br> 
Pipe mining is used for diamonds that are formed near volcanoes.  Pipe mining does not refer to mining using man-made pipes.  Rather the phrase describes the naturally occurring vertical "pipes" made of volcanic rock called Kimberlite where the diamonds are found.  Pipe mining involves drilling through the volcanic rock and making tunnels.  Chunks of diamond filled rock are then extracted from the mine and brought to the surface and separated in a screening plant. </p> 
  <br>
<p><b>Alluvial Mining</b></br> 
Diamonds can also be found in riverbeds or beaches, as well.  In alluvial mining, walls are constructed to hold back the water from the riverbed and allow for digging.  Bulldozers dig to remove the sand and dirt away until the level that contains the diamonds is reached.  Once the diamond levels are reached, this sand is moved into a bulldozer and taken to a plant where the diamonds are sorted and extracted from the dirt. </p> 
  <br>
<p><b>Diamond Mining Facts</b></br> 
Generally, in every ton of sand or rock extracted in a diamond mine, there is about 1 carat of diamonds.  And one carat of diamonds does not mean a single one carat diamond; it's a variety of smaller diamonds that make up about one carat of total weight. </p> 
  
<p>When diamonds are extracted from the earth, they are not all used for jewelry.  In fact, only 1/4th of the diamonds that are mined are made into jewelry. The rest are used for industrial purposes, such as in diamond tipped drills or on diamond coated saws. </p>  
</section>