<section id="feature" class="features" style='margin-top:35px;'>
<h2>Diamond Strength</h2>
<br>
<p>How strong are diamonds?</p>  
 
<p>It is a commonly known fact that diamonds are nature's hardest substance. However, does that mean that they are indestructible?  How strong are diamonds?  And can a diamond be destroyed? </p>  
  <br>
<p><b>Diamond Strength Facts </b> </br>  
Diamonds are a 10 on the mineral hardness scale. In fact, they are four times harder than the next substance on the list, corundum, which is a variety of sapphire and rubies.</p>  

<p>Diamonds conduct heat better than any other substance.  This makes them very difficult to melt.  Diamonds even tolerate high temperatures better than silver, which is the second best at heat conductivity. </p>  
 
<p>Diamonds have a high lattice density, meaning that the atoms that make up the diamond are packed closely together.  This contributes to the diamonds strength.</p>  
  
<p>Diamonds have an extremely high tensile strength.  Tensile strength measures how hard a material can be pulled before it breaks.  However, because diamonds can develop cracks and break, rope can still handle more pressure than a diamond. </p>  
 
<p>Diamonds can withstand large amounts of compression.  Diamonds have a bulk modulus, meaning a resistance to compression, of 443 GigaPascals (GPa). </p>  
 <br>
<p><b>How To Destroy A Diamond </b></br> 
If, hypothetically, you wanted to destroy a diamond, you just might be able to shatter it into pieces with hammer.  Despite diamond's hardness, many diamonds have flaws and cracks, which makes it possible to break them. </p>  
 
<p>You can also melt a diamond; however, you must heat the diamond to a temperature of 3500 degrees Celsius, or 6332 degree Fahrenheit.  That temperature is about half of the temperature of the outer layer of the sun, which is 5700 degrees Celsius. </p>  
  
<p>And just for the record, Max does not recommend destroying any diamond.  </p>  

</section>