<section id="feature" class="features" style='margin-top:35px;'>
<h2>Diamond Shapes</h2>
<br>
<p>What kind of common diamond shapes are there, what are the differences between shapes, and which are most popular? </p>
  
<p>The diamond is a classic symbol of beauty, commitment, and romance.  The shape of a diamond is one of the key factors that contribute to the beauty and sparkle of the diamond.  The diamond's shape refers to the overall geometric pattern of the stone; for example, round, emerald, or heart shaped.  Sometimes, the shape of the diamond is referred to as the "cut" of the stone.  However, the "Cut Grade" of a diamond refers to how well the diamond is fashioned, not its shape. </p>
  
<p>There are about ten basic diamond shapes, and a few that are most common among engagement rings, pendants, and earrings.  The shape of the diamond complements specific characteristics of the stone and optimizes its fire and brilliance.  The brilliance of the diamond is how much it sparkles when it catches the light.  The fire of the diamond is the red light that flashes off of the stone when it sparkles. The shape also can hide certain flaws, making the diamond's shape one of the most important aspects of the stone. </p>
  <br>
<p><b>Round</b></br>  
The round shape diamond is the most popular diamond shape on the market today. Nearly 50% of all diamonds cut for retail sale are round shaped.  Round diamonds are a classic shape of diamond, and have been researched and tested the most in order to provide the highest levels of fire and brilliance.  Round shaped stones are also one of the most versatile diamond shapes because they can balance the cut, color, and clarity of the stone.  Round diamonds are cut with a high number of facets in the bottom of the stone, allowing the light to reflect off of the lower facets and project out from the top of the stone. </p>
  <br>
<p><b>Princess</b></br>  
The Princess is the second most popular shape of diamonds today.  Princess cut stones are basically square in shape, with four pointed corners.  Because of their pointed corners, the color of the diamond is sometimes more visible in the corner of the stones.  Princess cut diamonds can vary between square and rectangular in shape.  For a squarer Princess cut stone, look for a length to width ratio between 1.0 and 1.05.  When shopping for a Princess cut diamond, look for stones that are cut with more facets, which will increase the sparkle of the diamond greatly.  A diamond with more facets is also better at hiding its flaws.</p> 
  <br>
<p><b>Emerald</b></br>  
An Emerald shape diamond is rectangular in shape, with a flat surface and tiered facets on its four sides.  The bottom portion of the Emerald cut, or the pavilion, has facets that are cut in a rectangular shape, which adds to the diamond's sparkle.  Emerald cut diamonds are ideal for extremely clear diamonds, because its open face showcases the diamonds clarity.  Emerald cut diamonds also vary between square and rectangle; for a more classic emerald shape, look for a length to width ratio between 1.30 and 1.40.</p> 
  <br>
<p><b>Asscher</b></br>  
The Asscher shape diamond is a close relative to the emerald cut, however it is squarer in shape.  Asscher cuts also feature rectangle facets in the pavilion, optimizing its brilliance.  Also, like the emerald shape, the asscher highlights the clarity of the diamond, making it a poor choice if you are buying a stone with a lower clarity.  Similar to the princess shape diamond, the asscher cut tends to show its color in the corners of the diamond.  Asscher cut diamonds vary between square and rectangle in shape.  For a more square shaped asscher cut diamond, look for a length to width ratio that is between 1.00 and 1.05. </p>
  <br>
<p><b>Marquise</b></br>  
Marquise shaped diamonds resemble an oval shape, however each end of the diamond is pointed.  This shape is ideal if you want to make the size of the diamond appear larger.  Not only does the Marquise shape make the diamond itself look bigger, but it also adds length to the fingers, making them look more long and slender.  The Marquise stones vary in the length and width, some appearing longer and slimmer, while others can be more egg shaped.  For a more classic Marquise shape, look for a length to width ratio between 1.75 and 2.25. </p>
  <br><br>
<p><b>Oval</b></br>  
An Oval shape diamond is similar to the round diamond, and also gives the piece a classic look.  A benefit of Oval diamonds is their ability to elongate the fingers as well, much like the Marquise shaped stone.  Similar to the other diamond shapes, Ovals shapes tend to vary between long and slim shapes, to more round and short in shape.  For a more classic Oval shape, look for length to width ratios between 1.33 and 1.66. </p>
  <br>
<p><b>Radiant</b></br>  
Radiant diamonds are square or rectangular in shape, much like the Princess, Asscher, and Emerald shape stones.  The Radiant cut features cropped edges, which make it differ from the Princess cut.  It also is cut with multiple facets throughout the diamond, which differs from the tiered facets of the Asscher and Emerald cuts.  Radiant cut diamonds are extremely brilliant, and the high number of facets helps to hide a lower clarity or color.  They also disguise flaws better within the diamonds. </p> 
  <br>
<p><b>Pear</b></br>  
The Pear shaped diamond resembles a teardrop in shape, and is a popular diamond for simple pendants.  However, it is also a very popular choice for solitaire rings.  Due to its unbalanced shape, it is rare that it is set with side stones.  Pear shaped diamonds vary in shape; an ideal pear shaped diamond is falls between a 1.5 and 1.0 length to width ratio. </p>
  <br>
<p><b>Heart</b></br>  
Heart shaped diamonds are quite literally shaped like a heart, making it ideal if you are looking for an original and creative diamond shape.  The color of the Heart shaped diamond is more noticeable along the edges and in the bottom point of the diamond.  For a traditional Heart shaped diamond, look for a length to width ratio between .90 and 1.10. </p>
  <br>
<p><b>Cushion</b></br>  
Cushion cut diamonds are often referred to as pillow-cut diamonds, because of the rounded corners and full shape.  Cushion cut diamonds are cut with larger facets, which add to the diamonds brilliance, but also draw attention to the clarity of the diamond.  More square shaped Cushion cut diamonds have length to width ratios between 1 and 1.05, where more rectangular shaped diamonds fall above 1.15. </p>
</section>