<section id="feature" class="features" style='margin-top:35px;'>
<div class="about-Us">
<h2>Diamond Fluorescence</h2>
<br>
<p>Diamond fluorescence is the special, fluorescent glow that some diamonds get under ultraviolet light.    Have you ever stood in a black light in a dance club or a haunted house and seen your white or light colored clothing glow in the dark?  Some diamonds tend to have that same special glow.</p> 

<p>Only thirty-five percent (35%) of diamonds on the retail market exhibit some sort of fluorescence. <br>
About 98% of diamonds with fluorescence glow blue, while very few glow other colors.</p>

<p>The existence of a diamond's fluorescence is usually noted on a diamond's grading  certificate, if it has been graded. </p> 
<br>
<p><b>Is Fluorescence OK?</b></br>
Generally speaking, colorless and near colorless diamonds are more preferred if they do not have medium, strong or very strong fluorescence.  However, it is a matter of personal preference.  For diamonds that are H color or lower, fluorescence may not negatively impact the value of the diamond at all because fluorescence can help hide some of the hints of yellow in the stone, making it appear slightly closer to colorless in certain light.</p> 

<p>Faint fluorescence in a diamond has very little, if any, impact on the diamond's appearance or value.   This is because faint fluorescence usually isn't noticeable to the naked eye under normal lighting.  </p>

<p>Medium, strong or very strong fluorescence may be visible in certain lighting conditions, such as a black light, but if this is not a problem for you, or you think it is an attractive quality (yes, some people do!), then you may be want to select a diamond with fluorescence.  You may be able to get a larger or better quality diamond at a slightly lower price then, too.</p>  

</div>
</section>