<section id="feature" class="features" style='margin-top:35px;'>
<div class="about-Us">
<h2>Fancy Colored Diamonds</h2>
  <br>
<p>One minute you're hearing that diamonds should be colorless; the next minute, everyone is talking about colored diamonds.  Confusing, right?  Sometimes color is good when it comes to diamonds, as long as the color is bright and vivid.  These stones are called Fancy Colored Diamonds, and they can be even more rare and valuable than a colorless diamond. </p>
  <br>
<p><b>What Are Fancy Colored Diamonds?  </b> </br> 
Fancy colored diamonds are diamonds that actually come from nature in bright and bold colors.  Different elements and conditions that the diamond is exposed to causes the stones to exhibit color.  For instance, exposure to radiation creates green colored diamonds, and large amounts of nitrogen create yellow colored diamonds.  </p>
  
<p>Because fancy colored diamonds occurring in nature are very rare and highly desirable, they are more valuable.  For this reason, some diamonds are artificially enhanced to try to create this type of color in a lab.  However, lab created color diamonds are far less valuable than those created by nature. </p>
  <br>
<p><b>Do Fancy Colored Diamonds Cost More?   </b> </br> 
Generally, fancy colored diamonds are higher in price than white diamonds, because they are more rare and desirable.  That is not to say that a non-colored diamond with an exceptional quality will not rival the price of a colored diamond. </p>
  
<p>The price of fancy colored diamonds is based on four main criteria:  Hue, color saturation, color purity, and availability.  The more rare the diamond is in color, the more valuable it will be.  Similarly, if the color is more rich or saturated, the diamond will be worth more.  And much like a white diamond, the clearness or purity of the color also increases its value.  A cloudy colored stone is worth much less than a clear one.</p>
<br>
<p><b>Why doesn't Max provide values for Fancy Colors?   </b> </br>  
  The market for fancy colored diamonds is very small and the diamonds are often very expensive.  We recommend seeking an appraisal from a professional gem appraiser experienced with colored diamonds before spending part of your fortune on a Fancy Color diamond.</p>
</div>
</section>