<section id="feature" class="features" style='margin-top:35px;'>
<div class="about-Us">
<h2>Flawless Diamonds </h2>
<br>
<p>Because diamonds are naturally occurring, created by millions of years of immense pressure beneath the earth's surface, they usually have imperfections: malformations, other mineral deposits, or cracks inside the stone.  However, there are some very rare diamonds that are created naturally without any imperfections on the inside that can be seen either with the naked eye or even with a 10X microscope.  These are called Internally Flawless diamonds. When a diamond has been cut into a specific shape, such a Brilliant Round, if the diamond has no external blemishes, such as nicks or scratches, visible to the naked eye or with a 10X microscope, then the diamond may be Externally Flawless.   A diamond that is both Internally Flawless and Externally Flawless can be given a Flawless Clarity Grade.</p> 
<br>
<p><b>What Is A Flawless Diamond? </b> </br>
When it comes to diamonds, the term "flawless", does not necessarily mean perfect.  Flawless is a Clarity Grade, and doesn't mean there might not be imperfections in how the diamond was cut, or that the diamond is colorless. </p> 
 
<p>For a diamond to be deemed flawless, it is studied beneath a microscope, under 10X magnification, and analyzed by a professional gemologist.  A flawless diamond will not be seen to contain any white or black specks, small cracks, hazy areas, or crystallizations inside or outside of the stone, which most diamonds do exhibit. The rarity of flawless diamonds makes them extremely valuable. </p> 
<br>
<p><b>Do I Need To Buy A Flawless Diamond? </b> </br>
A diamond does not have to be flawless to be beautiful.  In fact, most people won't even be able to tell whether the diamond is flawless.  Many diamond flaws are not visible to the naked eye, and cannot even be seen except under 10X magnification by someone who is trained in diamond grading. </p> 

<p>A diamond with a VVS1 or VVS2 rating (Very Very Slight Inclusions), or even a VS1 or VS2 rating (Very Slight Inclusions), is often just as beautiful, and usually much more affordable.  Most of the flaws in such diamonds won't be noticed by the naked eye, and usually will have little impact on the performance of the diamond. </p> 

</div>
</section>