<section id="feature" class="features" style='margin-top:35px;'>
<h2>Grading Color, Clarity and Cut</h2>
 <br>
<p>There are many different scales on which a diamond is graded:  the GIA (Gemological Institute of America), EGL (European Gemological Laboratory), and AGS (American Gem Society) are among the most popular grading scales.  Each grading scales varies on the factors that they use to determine the grade of the diamond, but they all have similar criteria on which they base their ratings.  A diamond is graded on its quality based on 3 of the 4Cs:  Cut, color, and clarity; these factors work together to make a beautiful diamond. </p>
  <br>
<p><b>Diamond Cut</b><br> 
  
<b>AGS</b> analyzes not only how the light is reflected, but how much light is reflected as well.  They analyze the polish and symmetry of the diamond and rank it on 6 point scale:  AGS Ideal Cut (the best), 1 Cut, 2 Cut, 3 and 4 Cut, 5 to 7 Cut, and 8 to 10 Cut (poor light performance). </p>
  
<p><b>EGL</b> considers the proportions, polish, and symmetry of the diamond.  They analyze the measurements of the diamond:  diameter, table, crown, girdle, pavilion, culet, and depth.  The diamond is graded on a 5-point scale:  Ideal Plus, Ideal, Very Good, Good, and Fair. </p>
  
<p><b>GIA</b> also looks at the proportions, polish, and symmetry of the diamond and how it affects the fire, scintillation, and brilliance.  GIA introduced a new ranking system in 2005, which ranks the cut on a 5-point scale:  Excellent, Very Good, Good, Fair, Poor. </p>
  <br>
<p><b>Diamond Color</b><br>  
  
<b>AGS</b> grades their diamonds on a color scale that runs from "0", which is considered Colorless, to "7.5 to 10," which has a noticeable light color. </p>
  
<p><b>EGL and GIA</b> both rank their diamonds on a scale of letters, which is the industry standard.  The best color is "D", which represents a colorless diamond, and moves down the alphabet to "Z," which has color, but not vivid enough color to be considered a fancy colored diamond. </p>
  <br>
<p><b>Diamond Clarity </b><br> 
  
<b>AGS</b> grades their diamonds on an 11-point scale.  AGS 0 represents a completely flawless diamond, meaning it has no inclusions and only the smallest of blemishes.  The scale continues in order to "AGS 10", which contains blemishes and inclusions that are visible to the naked eye. </p>
  
<p><b>EGL</b> judges their diamond clarity on a 5-point scale:  Internally Flawless (IF), meaning no inclusions and only minor blemishes, Very Very Slightly Included (VVS), Very Slightly Included (VS), Slightly Included (SI), and Included (I). </p>
  
<p><b>GIA</b> uses a similar clarity grading scale that EGL does, except it goes into a little more detail.  GIA grades their diamonds on a scale of five categories and 11 subcategories.  The categories include Flawless, Very Very Slightly Included, Slightly Included, and Included.  The sub-categories dig deeper, for instance, giving the option of a VS1 or VS2 rating to Very Slightly Included Diamonds. </p>
</section>