<section id="feature" class="features" style='margin-top:35px;'>
<div class="about-Us">
<h2>How to Tell If a Diamond is Fake</h2> 
<br>
<p>Most people say a diamond is a fake if it's simulated. But there are buyers out there looking for just that. The true definition of a fake diamond is something that is represented as a real diamond that is NOT! </p>

<p>The most common synthetic stones that are passed off as diamonds are cubic zirconia, zirconium silicate, and white sapphire. Then there is the king of all fakes: moissanite. It's the easiest to pass off as a fake because it has the same shimmer, sparkle, and brilliance as a diamond. There are also lab-created diamonds, which have the same physical and chemical properties as real diamonds. </p>

<p>If you're checking out a diamond, and have an opportunity to do so, there are some simple tests you can conduct yourself: 
<br><br>
<p><b>The Sparkle Test</b>: Synthetics sparkle less than diamonds. Diamonds have a high "refractive index", meaning they sharply bend the light that passes through them, which creates that sparkle. </p>
<p><b>The Transparency Test</b>: If your diamond is loose, first make sure it's clean, and then place it on top of a newspaper with the pointy side (culet) facing up. You won't be able to see the words clearly through a real diamond. Looking through a diamond, the words should appear somewhat blurry. There's one problem with this test: some diamonds are cut shallow and you will be able to read the text. </p>
<p><b>The Reflection Test</b>: The reflections of a diamond are in shades of grey. If you see a rainbow, it's either a fake or a low-quality diamond. Real diamonds also reflect from all sides, while fake diamonds don't.</p>
<p><b>The Ring Setting</b>: A real diamond is likely to be set in high quality gold or platinum, but anyone can place a fake in an expensive band. </p>
<p><b>The Water Test</b>: Put it in water, and if it floats, it is a fake. Diamonds sink. Of course, some other stones and fakes also may sink. </p>
<p><b>The Fog Test</b>: Make sure the stone is clear of oil and dirt. Then blow on it. If it looks foggy for over 4 seconds, then it's a fake. </p>
<p><b>The Signs of Wear Test</b>: If there are a lot of scratches or nicks, then it's a fake.</p>
<br>

<p>Buying a diamond from a reputable local jeweler or online retailer with a grading certificate from a reputable gemological lab such as GIA or AGS, can give you assurance that you are buying a real diamond. If you buy from a private party, and there's no certificate, have it checked out by a reputable, independent appraiser, who can do thermal, weight, and fluorescence tests to certify its composition and value before you buy. If there is any doubt, the way to absolutely guarantee that you're not buying a fake diamond is to have it examined by a professional jeweler you trust. </p> 
</div>
</section>