<section id="feature" class="features" style='margin-top:35px;'>
<h2>How Diamonds are Cut (Fabricated)</h2>
<br>
<p>When a diamond is mined, it does not come out sparkly and shiny, nor is it in a round or square shape.  A mined diamond is called a rough, and is usually just that, rough looking and somewhat egg-shaped. It must go through several steps in the cutting and finishing process before it is ready to be set in a beautiful piece of jewelry. 
<br><br>
<p> <b> Marking and Planning  </b> </br> 
The marking and planning process is what determines what shape each diamond will be cut into.  An expert planner examines the stone and decides the best shape and how to cut the diamond to maximize its value.  For instance, they determine the shape that will make the color look the brightest, will conceal any natural imperfections, and will allow it to be shaped without loosing too much of the stone. </p>
<br>
<p> <b> Cleaving And Sawing </b> </br>   
Cleaving and sawing are both methods of cutting the diamond.  If a diamond is cleaved, the cutter decides where the stone should be cleaved according to the natural "grain" of the crystals in the diamond.  A line where the diamond is to be cleaved is cut into the diamond with another diamond, and then a chisel and hammer are used to break the stone apart.  </p>

<p>The diamond can also be cut with a diamond saw, a slim disc with a blade coated in diamond dust.  A diamond can only be cut with another diamond, so as the blade is cutting the diamond, it accumulates and reuses the dust formed from the diamond.  Sawing is a much more precise method of cutting the diamond and presents limited risk of the diamond shattering, however it is also more expensive than cleaving.  Sawing is used most often, although cleaving is sometimes used on larger stones that must be cut into multiple pieces.</p>  

<p>Lasers are sometimes used today to cut diamonds instead of diamond saws.  The process is very precise, but more expensive.</p>  
<br>
<p> <b> Bruting</b> </br>  
Bruting is the process that gives the diamond its cone shape at the bottom.  The diamond is set in a lathe and spun.  As it is spinning, another diamond is held against the side of the diamond, smoothing it into a cone shape.  Bruting is also sometimes referring to as "rounding", or "girdling". </p> 
<br>
<p> <b>Faceting</b> </br>  
During the faceting step, the diamond actually transforms into the well-known diamond shape.  Facets are the planes that the diamond is cut with that give it its brilliant sparkle.  Facets are placed on the stone according to its shape to maximize the way the light is reflected from the diamond.  A large facet is placed on top, called the Table, and then a variety of other facets are placed all over the rest of the diamond.  Facets are cut by grinding the diamond at an angle against a blade coated with diamond dust until the desired size and angle is achieved. </p> 
<br>
<p> <b> Placing And Polishing</b> </br>  
In this final step, the diamond is placed in a clamp and polished with another blade coated in diamond dust.  This blade does not contain the same amount of roughness that the other blades, and therefore gives the diamond a shiney finish as opposed to a scratched one. </p> 
<br>
<p> <b> The Ideal Cut</b> </br> 
In 1919, mathematician Marcel Tolkowsky used a series of math equations to figure out the ideal cut for a round diamond that would maximize the way it reflects light.  Today, grading of a diamond and how it is cut (fabricated) is generally compared to the certifying lab's definition of an ideal diamond. Though over the years diamond cutters have continued to study and try to improve the perfect cut, many of the ideal cut proportions Tolkowsky laid out remain the same. </p>  


</section>