<section id="feature" class="features" style='margin-top:35px;'>
<h2>The Parts of Diamonds</h2>
<br>
<p>In order to fully understand the diamond you are buying, you need to be able to identify its parts and their importance to the beauty and value of the stone.  Having a solid understanding of what each term means will help you "talk the talk" of the jeweler in the jewelry store and allow you to ask the right questions so you can get the best value for your money.</p>  
<br>
<p><b>Facet </b> </br>
A facet is the flat surface on a diamond, cut at different angles and shapes to maximize the way the diamond reflects light.  The table is considered a facet, as is the culet, if the diamond has one.</p>  
<br>
<p><b>Table </b> </br>
The table is the top part of the diamond; the flat polished surface on the top of the stone.  The brilliance and scintillation of the diamond is based on how the light reflects through the table and other facets of the diamond.  The diameter of the diamond's table is measured and compared to the measurement of the widest part of the diamond.  This number is converted to a percentage, which is generally used as a factor in determining the Cut Grade of the diamond. </p> 
<br>
<p><b>Girdle </b> </br>
You will find the girdle at the widest part of the diamond.  It is a band that circles the diamond, right below the table of the stone. The value of the diamond can be impacted by on how wide or thin the girdle is, and also whether or not it is cut with facets. </p>  
<br>
<p><b>Crown </b> </br>
The crown of the diamond is the area between the table and girdle.  The crown is sometimes cut with facets to increase the stone's brilliance. </p> 
<br>
<p><b>Bezel </b> </br>
The aforementioned facets that are cut into the crown are called the bezel facets of the diamond.  Bezels are located between the girdle and the table of the diamond. </p>  
<br>
<p><b>Pavilion </b> </br>
The pavilion of the diamond is the area beneath the girdle, but above the bottom of the stone. </p>  
<br>
<p><b>Culet </b> </br>
The culet is the bottom most facet of the diamond.  The diamond will either come to a point at the bottom, or it will be cut straight across.  Not all diamonds shapes have a culet at the bottom.</p>  
<br>
<p><b>Point </b> </br>
The point is the very bottom of the diamond, when the stone is cut into a pointed shape. </p>   
 <br>
<p><b>Depth </b> </br>
A diamond's depth measures how deep the diamond is from the top to the bottom of the stone.  The depth determines how the stone reflects light, and therefore affects the diamond's value. </p> 
<br>
<p><b>Crown Angle </b> </br>
The crown angle is the measurement of the degree at which the crown and bezel slope inward to the table of the diamond.  A properly cut crown angle is one of the keys to a diamond with a lot of fire. </p> 
<br>
<p><b>Crown Height Percentage </b> </br>
The crown height is found by taken by dividing the height of the crown by the diameter of the girdle.  This is another factor in the way the diamond sparkles. </p> 
</section>