<section id="feature" class="features" style='margin-top:35px;'>

<div class="about-Us">


<h2>Round Brilliant Diamonds</h2>
  <br>
<p>Round cut diamonds are the most popular shape of diamond there is, and for good reason.  Round stones sparkle brilliantly and bring a classic beauty to any piece of jewelry.  However, round cut diamonds are commonly priced higher than the other shapes of diamonds.  This is due to both the high demand and the loss of diamond material that occurs when the stone is fashioned from a rough.</p>  
  <br>
<p><b>Popularity </b> </br> 
Round cut stones have remained popular throughout the decades, making it a very classic shape.  It is also a very versatile shape because it can be used in a large variety of jewelry pieces, from engagement rings, to earrings, to pendants.  This is not always the case with other shapes of jewelry.  Therefore, the round cut stone is in demand all over the world, and it is this pattern of supply and demand that really dictates the price. </p>  
  <br>
<p><b>Cut </b> </br> 
As you may know, Cut Grade of a diamond has a significant impact on its value.  How well a diamond is fabricated - cut and polished into the Round Shape - is a major component in its performance. The superior beauty of a Round Brilliant diamond with an Excellent Cut commands top prices.  </p>  

<p>Round diamonds are cut with an exact number of facets with a precise shape designed to maximize brilliance.  Round Brilliant diamonds are cut with 58 facets (57 if a culet is excluded).  Of these facets, 33 facets are cut into Crown above the girdle of the diamond and 24 are cut on the Pavilion, to optimize the reflection of light.  It is this precision that makes the diamond stand out, and therefore increases the demand in the marketplace, and ultimately, the cost. </p>  

</div>
</section>