<section id="feature" class="features" style='margin-top:35px;'>
<h2>Understanding Cut Grade and Shape</h2>
  <br>
<p>When you are shopping for diamonds, you are a sure to hear a lot of references to the diamond's cut.  And you should, because the cut is an important part of the diamond's brilliance, appeal, and beauty.  However, the terms "cut" and "shape" are often used interchangeably, which can be confusing at times.</p>
  
<p>When someone talks about a diamond's "Cut," they may be referring to the "Cut Grade" or how well he diamond is fashioned, which is a completely different thing than the "Cut Type" or shape of the diamond.</p>  
  <br>
<p><b>Cut Grade</b> <br>
How well a diamond is cut determines the way light reflects off the diamond.  A diamond is cut with facets in different sizes and shapes to optimize the stone's performance.  There are three types of criteria on which a diamond's cut is graded: performance, proportion factors, and finish. </p>
  <br>
<p><b>Performance</b> is judged by a diamond's Brilliance,  Fire and Scintillation.  A diamond's brilliance is a measure of how much light reflects off of the diamond, considering brightness, dispersion, leakage, and contrast.  A diamond's fire is a measure of how well the the diamond produces spectral colors as light passes through it. A diamond's scintillation is a measure of how well the diamond sparkles as it moves relative to a person's eye.  </p>
  <br>
<p><b>Proportion</b> factors include the table size, depth ratio, length to width ratio, girdle size, presence and size of a culet, and compliance with a particular diamond shape's other optimal design standards. </p> 
  <br>
<p><b>Finish</b> factors include the polish and symmetry of the diamond. </p>
  <br>
<p><b>Shape</b> <br> 
Shape refers to the actual geometric shape of the stone.  Popular shapes include Round, Princess, Emerald, Cushion, Heart, Oval, Asscher, Marquis, Radiant, and Pear.</p> 
</section>