<section id="feature" class="features" style='margin-top:35px;'>
<div class="about-Us">
<h2>Understanding Diamond Certification</h2>  
<br>
<p>In today's market, most natural, high quality diamonds are certified by a major gemological lab, such as GIA, EGL or AGSL, and sold with a certification or grading report so you know exactly what you are buying. The report is compiled by a group of certified gemologists who have been trained to identify every detail of the stone they are grading. It is important to understand how to read this report before shopping for a diamond, so that you can know everything about the diamond before you make that very important purchase. </p>
<br>
<p><b>Laboratory</b><br> 
The first thing you must identify on the certification is the name of the laboratory that created the report. There are a few well-known gemological labs that vary by country, such as GIA (Gemological Institute of America), AGSL (American Gem Society Laboratories), and EGL (European Gemological Laboratory).  </p>
<br>
<p><b>Report Number</b><br> 
Each report has a specific, unique number that marks the diamond. This number is kept on file with the lab that created the report, so that the information can also be accessed. This number is also sometimes laser imprinted on the diamond itself, and this will be verified on the report under "Laser Inscription Registry". </p>
<br>
<p><b>4C's, Shape, Measurements, And Proportions</b><br> 
The report will list the grades of each of the 4C's of the diamond: It's cut grade, color, clarity, as well as the shape of the diamond.  The diamond's measurements will be listed on the report, such as its length and width, as well as its proportions, listed as a percentage. </p>
<br>
<p><b>Finish</b><br> 
The diamond's polish and symmetry grades will be included on the report. The polish grade reflects the quality of the fashioning of the facets, and the symmetry grade tells how well certain elements of the diamond line up to ideal proportion standards.   </p>
<br>
<p><b>Picture </b><br>
An actual drawing of the diamond will usually be printed on the report with the identifying flaws of the stone marked. Any special characteristics, as well as the diamond's specific measurements and ratios, will be labeled on the drawing. </p>
<br>
<p><b>Girdle and Culet</b><br> 
A diamond's girdle is the area below the top part of the stone, but above the bottom part of the stone. The size of the girdle plays a major role in the look of the stone, which is why it is listed on the report.  If a Culet is present on the diamond, this will be noted in the report. The Culet is a facet that is occasionally cut into the bottom area of the stone where the point is or would be. </p>
<br>
<p><b>Comments, Keys, and Securities</b><br> 
  The diamond report also lists extra comments from the lab that aren't included in the regular report. The key helps to define any symbols used throughout the report. Finally, there are several security features in place that help to prevent the creation of a fake report. These security features may include a hologram and a UPC code.</p>
</div>
</section>