<section id="feature" class="features" style='margin-top:35px;'>
<h2 style="line-height:1.2em;">Understanding What "Total Carat Weight" Means</h2>
<br>
<p>Total carat weight is a term used to describe the total amount of carats in a piece of jewelry. It's important to understand exactly why this term is used and exactly what total carat weight means so that you can make an informed decision when making your purchase. </p> 
<br>
<p><b>What Is Total Carat Weight? </b> </br>  
Total carat weight is the total weight of all of the diamonds in the ring.  The center stone and any stones on the sides of the diamond or on the band of the ring are all added together to find the total carat weight.  For instance, a 3-stone engagement ring may have a 1-carat center stone with a .5 carat stone on each side, giving the ring a 2-carat total carat weight.</p> 
 <br>
<p><b>Why Is Total Carat Weight Used? </b> </br>  
Total carat weight is often used to describe engagement rings because it sounds impressive.  A store can advertise a ring with a total carat weight of 2 carats for an astonishingly low price.  However, that ring could have a center stone of .5 carat, with 1.5 carats of surrounding stones, and will be priced drastically lower than a ring with a 1.5 center stone and .5  carats of surrounding stones, even though both rings have a total carat weight of 2 carats.</p> 
 
<p>Be sure you are not valuing a single stone based on the total carat weight of that diamond and the other smaller stones on the ring. For example, three one-third carat stones (weighing a total of one carat) may be worth $800 (USD) each, or a total of $2,400 (USD), but a one carat diamond of the same color, clarity and cut grade will be worth over $7,500 (USD). </p> 
<br> 
<p><b>Things To Know About Total Carat Weight </b> </br>  
Though stores and sales people that advertise total carat weight are not wrong in doing so, you do need to be careful when purchasing a ring because the number can be deceiving.  Be sure to find out the weight of each individual stone and determine the value of each individual stone.  And remember, you can downgrade a little on the size of the largest stone and save money, while still buying a ring with an impressive total carat weight. </p> 
</section>