<section id="feature" class="features" style='margin-top:35px;'>

<div class="about-Us">

  <h2>All That Glitters: Understanding Brilliance, Fire and Scintillation</h2>
<br>
<p>When you think of a diamond, one word probably comes to mind:  Sparkle.  When a diamond catches the light, its sparkle is breathtakingly beautiful and eye catching.  There are three dynamics in a diamond's sparkle:  scintillation, fire, and brilliance.  A diamond is graded on how well it performs in each of these categories.</p> 
  <br>
<p><b>Brilliance </b><br>
Brilliance represents the way the diamond reflects the light.  This is determined by two components:  <b>brightness</b> and <b>contrast</b>.  A diamond is considered to have a high brilliance if it returns a large amount of bright  light from a "face-up" perspective, or when it is viewed from the top.  If light enters a diamond and leaks out the side or bottom of the stone, it is not very brilliant.  If a diamond is cut too deep or too shallow, this may allow light to escape, which will affect the stone's brilliance.</p> 
  
<p>Contrast is the way the light appears when it is reflected in the diamond.  If you look at a black and white checkered piece of paper next to a plain white piece of paper, the checkered paper looks brighter than the white paper, even though they actually have the same brightness.  This is due to the principle of contrast. The same is true with diamonds; if all facets of a diamond reflected light equally, it wouldn't look as bright as when light is reflected in a pattern of key areas with contrasting backgrounds.  </p>
  <br>
<p><b>Fire</b><br> 
You may notice that when you look at a diamond, you sometimes see flashes of other colors when it catches the light.  This is called the diamond's fire.  When the light is dispersed through the diamond, it will appear to be red, orange, or other colors.  Fire is more noticeable in a slightly darker environment, such as a restaurant, where the lighting is lower and there are only a few sources of light being reflected off of the stone.  A diamond that has a smaller table and a steep crown angle will produce large amounts of fire; however, this will lower the amount of light that is reflected from the diamond, so it is important to find a diamond that produces both fire and brilliance. </p>
  <br>
<p><b>Scintillation</b><br> 
  Basically, scintillation is the brief flashes of light that bounce off of a diamond when it moves relative to your eye position.  A diamond is cut to produce a large amount of scintillation; this is one of the reasons diamonds are cut with so many facets.  Spotlights tend to optimize scintillation is a diamond, as does as pinpoint lighting; now you know why your local jewelry store uses all those spotlights to display and market its diamond jewelry.  </p>
</div>
</section>