<section id="feature" class="features" style='margin-top:35px;'>
<h2>What is a Carat?</h2>
<br>
<p>Carat is probably one of the first words you associate with diamonds.  Though the term "carat" or "carat weight" is one of the most common assessments of a diamond, very few people actually know what a carat is.</p>  
<br>
<p><b>The Carat Weight</b><br> 
The carat of a diamond refers to the weight of the stone.  A carat is equal to about .2 grams, which can be compared to the weight of a standard size paper clip.  Carats are used to measure a diamond's weight because they are a universal standard of measurement.  This means that no matter what country you visit, a carat weighs the same worldwide.</p>  

<p>A diamond carat is divided into points.  Each carat is equal to 100 points, much like a dollar is equal to 100 pennies.  Therefore, a 75-point diamond is equal to .75 carats, or 3/4ths of a carat. </p>
<br>
<p><b>Why Is It Called A "Carat?"</b><br> 
The term carat is derived from the word "carob seed".  Carob seeds tend to be similar in weight and size, so the tiny seeds were used as a reference point for early gem sellers. </p>
<br>
<p><b>Misconceptions</b><br>  
Though a carat is a measurement of a diamond's weight, it does not necessary refer to the diamond's size.  Though weight does play a part in the size of the diamond, a bigger weight does not necessarily equal a larger stone.  For this reason, two other factors play a part in the diamond's size.  The first is the the Shape or way a diamond is cut, which affects the way the diamond reflects light, and therefore contributes to how large it looks.  Diamonds come in all shapes and sizes, and a stone with a bigger Table can look larger than a diamond with a larger carat weight.  </p>
</section>