<section id="feature" class="features" style='margin-top:35px;'>
<h2>What Is A Jeweler's Loupe?</h2>
<br>
<p>
When grading a diamond, a jeweler must carefully examine every detail of the stone to make
sure it is valued correctly.&nbsp; Missing a blemish or inclusion can result
in&nbsp;an incorrect appraisal of the value of a diamond.&nbsp; For this reason,
jewelers use a special magnifying glass, called a jeweler's loupe, to examine
diamonds. A jeweler's loupe is a special type of magnifying glass with three
lenses.&nbsp; This allows the jeweler to get much closer to the diamond he or
she is inspecting than with a typical magnifying glass, which would become
unfocused at such a close range.&nbsp; Loupes also typically have black frames
around the lenses, which eliminates reflection off the edges.&nbsp; Reflections
of light on the edges can result in poor grading because reflections can hinder
the jeweler from seeing the diamond clearly. 
<br><br>
A loupe is labeled with a number, followed by an 'X' behind it.&nbsp; The number specifies
that the loupe will make the object look 'x' times its size.&nbsp; For instance, a 2X loupe
means that the loupe will make the object look double in size, and a 4X loupe
means the loupe will make the object appear four times its actual size.&nbsp;
The most powerful loupe used by a Jeweler is a 10X loupe, which magnifies the
diamond to 10 times its size.&nbsp; Diamonds are graded based on 10X
magnification.&nbsp; Most certified labs do not consider blemishes or
inclusions that cannot be seen with a 10X Loupe; if it would take a more
powerful loupe, the blemish or inclusion is ignored for grading purposes.&nbsp;
</p>
</section>