<section id="feature" class="features" style='margin-top:35px;'>
<h2>What Exactly is a Diamond, Anyway?</h2>
<br>
<p>When you see diamonds sparkling in the display case, you probably don't think of them as tiny pieces of volcanic rock that were once buried miles beneath the earth's surface, but that's exactly what they are. </p> 
<br>
<p><b>What Is A Diamond?</b><br> 
Diamonds are made of carbon.  Four carbon elements are bonded together at exactly the same distance apart from each other.  When they connect in this way, they are extremely difficult to separate.  This is the reason behind a diamond's strength.  A diamond is just one of several different forms of carbon.  Other types of carbon are graphite and charcoal, which differ greatly in appearance from a diamond's brilliant sparkle.  So what makes a piece of carbon turn into a diamond?  It's all in the way the diamond is formed. </p>
<br>
<p><b>How Is A Diamond Formed?</b><br> 
Diamonds began forming millions of years ago, perhaps even beginning the formation process before life on earth. Diamonds are formed due to an immense amount of pressure found 120 to 200 kilometers (about 75 to 125 miles) beneath the earth's surface.  At this depth, the earth's pressure is nearly 50,000 times higher than it is at the surface.  It also takes extreme temperatures to form a diamond.  Diamonds are formed at a temperature of  900 to 1,300 degrees Celsius, or 1653 to 2,372 degrees Fahrenheit. </p>
<br>
<p><b>Where Are Diamonds Formed?</b><br> 
Diamonds form in something called a Kimberlite Pipe, which is created naturally by magma beneath the earth's surface.  The magma forms cracks in the surface, and releases carbon dioxide and places pressure on the surrounding rock.  The magma forms a strong stream, forcing its way through the weaker rock and out through the earth's surface, creating a pipe in the process.  In these pipes, diamonds are formed because the magma moves so quickly that the carbon atoms are unable to continue their transformation to graphite.  Once they cool, they cannot reenergize enough to transform, and thus they remain diamonds. </p>

<p>The location of the Kimberlite Pipes varies.  Most Kimberlite Pipes are located in the oldest part of certain continents, called Cratons.  Cratons are divided into two groups:  Archons, which are over 2,500 million years old, and Protons, which are 1,600 to 2,500 million years old.  The majority of diamonds are found in Archons, meaning most diamonds began forming over 2,500 million years ago.  Nearly half of the world's diamonds have been found in the central and southern parts of Africa, although diamonds have been found in Canada, India, Russia, Brazil, and Australia.  Diamonds have been found in other parts of the world; however, these continents have the most diamond discoveries. </p>
</section>