<div id="footer">
  <div class="footerLinks">
    <ul class="footerLinks-ul">
      <li><a href="/pages/about_us">About Us</a><span class="futter-span">|</span></li>
      <li><a href="/pages/contact_us">Contact Us</a><span class="futter-span">|</span></li>
      <li><a href="/pages/linking">Linking</a><span class="futter-span">|</span></li>
      <li><a href="/pages/privacy">Privacy Policy</a><span class="futter-span">|</span></li>
      <li><a href="/pages/copyright">Copyright/Trademarks</a><span class="futter-span">|</span></li>
      <li><a href="/pages/terms_of_use">Terms of Service</a><span class="futter-span">|</span></li>
      <li><a href="/pages/glossary">Glossary</a><span class="futter-span">|</span></li>
      <li><a href="/pages/archive">Archive</a><span class="futter-span">|</span></li>
      <li><a href="/pages/find_a_local_jeweler">Find a Local Jeweler</a></li>
    </ul>
  </div>
</div>

