<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Max's Diamond Price Guide</title>
  <meta name="description" content="Artificially Enhanced Diamonds " />
  <meta name="keywords" content="diamonds,diamond,diamond price,diamond prices,diamond price information,diamond price info,price guide,diamond price guide,loose diamonds,engagement rings,proposal,wedding rings,jewelry,fine jewelry,diamond rings,earrings,necklaces,rings,diamond education,guidance,ideal cut,GIA,AGS,AGSL,cut,clarity,color,carat,round brilliant,princess cut,diamond settings,engaged,max’s diamond,Free Diamond Price Guide" />



  <script src="js/jquery.js"  type="text/javascript"></script>
  <script src="js/jquery.numeric.js"  type="text/javascript"></script>
  <script src="js/cufon-yui.js" type="text/javascript"></script>
  <script src="js/Helvetica_300.font.js"  type="text/javascript"></script>
  <script src="js/main.js"  type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css"><![endif]-->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="canonical" href="http://www.diamondpriceinfo.com/" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7456866-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
    
<body>
  <div id="wrapper">
    
<div id="header">
  <div class="logoAndHeader">
    <div class="logoHeader">
      <ul id="logo">
        
        <li id="logo-1"><a href="index.html" title="Max's Diamond Price Guide, the Independent Authority on Diamond Pricing."><span>Max's Diamond Price Guide, the Independent Authority on Diamond Pricing.</span></a></li>
        
      </ul>
    </div>
    
    <div class="topBanner">
      <a href="http://www.jamesallen.com/engagement-rings/settings-with-sidestones/?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" target="_blank">
      <img src="http://www.jamesallen.com/b/engagement-rings/sidestones/diamond-with-side-stones-728x90.jpg" alt="Rings With Side Stones" title="Rings With Side Stones"   border="0" /></a>
      <img style="border:0" src="http://affiliates.jamesallen.com/scripts/imp.php?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" width="1" height="1" alt="" />
    </div>
</div>

<div id="menu">
    <ul class="menuUl">
      <li><a href="/pages/about_us">About Max</a></li>
      <li><a href="/calculator">RealMarket Values</a></li>
      <li><a href="/pages/learn_about_diamonds">Learn About Diamonds</a></li>
      <li><a href="/pages/tools">Tools</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </div>
</div>
    
    <div id="contentBox">
          <div class="main-block">
                <div class="leftBottom">
                  <div class="bottomSpaceAbout">
                        <div class="about-Us">
