<div class="logoAndHeader">
 
 <div class="logoHeader">
    <ul id="logo">    
        <li id="logo-1">
        <a href="/" title="Max's Diamond Price Guide, the Independent Authority on Diamond Pricing.">
          <span>Max's<br> Diamond<br> Price Guide<br> </span>
        </a>
        </li>
    </ul>
  </div>
  
  <div class="topBanner">
    <a href="http://www.jamesallen.com/engagement-rings/settings-with-sidestones/?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" target="_new">
    <img src="http://www.jamesallen.com/b/engagement-rings/sidestones/diamond-with-side-stones-728x90.jpg" alt="Rings With Side Stones" title="Rings With Side Stones"   border="0" /></a>
    <img style="border:0" src="http://affiliates.jamesallen.com/scripts/imp.php?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" width="1" height="1" alt="" />
 </div>

</div>
