<div class="clear"></div>
<div id="menu">
  <ul class="menuUl">
    <li><a href="/pages/about_us">About Max</a></li>
    <li><a href="/calculator">RealMarket Values</a></li>
    <li><a href="/pages/learn_about_diamonds/">Learn About Diamonds</a></li>
    <li><a href="/pages/tools">Tools</a></li>
    <li><a href="/pages/guide_to_online_jewelry_retailers">Guide to Online Diamond Retailers</a></li>
   </ul>
</div>
<div class="clear"></div>