<ul id="listIcon">
  <li>
    <a href="http://www.facebook.com/pages/Maxs-Diamond-Price-Guide/158327510884022" target="_blank">
      <%= image_tag  "fbBicon.jpg"  %>
    </a>
  </li>
  <li>
    <a href="http://twitter.com/maxspriceguides" target="_blank">
      <%= image_tag "twBicon.jpg" %>
    </a>
  </li>
</ul>	                   

