<script>

function submitCalc(){
$("#realmarketvalueform").submit();
}

</script>





<div id="realMarketBox">
  <div class="realMarketBoxContent">
    <h1>Find Your Diamond's RealMarket Value</h1>
    
    <% session[:wizard_params] ||= {} %>
    <% @wizard_state = WizardState.new(session[:wizard_params]) %>
   
    <%= form_for(@wizard_state,:url => @wizard_state.next_step_path , :method => :post, html: { :id => "realmarketvalueform" } ) do |f| %>
      <ul id="listContent">
        <% Shape.all.order("display_order ASC").each do |shape| %>    
          <li><label><p class="shape_name"><%= shape.shape %></p>
            <span><%= image_tag shape.image  %></span>
            <% checked = @wizard_state.shape == shape.shape.downcase %>
            <%= f.radio_button :shape, shape.shape.downcase, label: shape.shape ,  :checked => checked %>
          </label></li>
        <% end %>
      </ul>
      <div class="stepBox">
        <p class="stepBoxp">STEP 1 of 6: CHOOSE YOUR SHAPE</p>
        <a onclick="submitCalc();" class="next">Next</a>
      </div>
    <% end %>
  </div>
  <div class="sample">
    <%= image_tag "sampleb.jpg" %>
  </div>
</div>
