

         <!-- coontent-->

        <div class="tagline">
   <div class="about-Us">
  <h2>About Us</h2><br>
  <p>Whether this is your first visit to our site or not, we're glad that you found Max's Diamond Price Guide, your independent resource for diamond pricing information on the Internet.</p>
  <p>Max's Mission Statement is "To provide consumers relevant, timely and accurate pricing and related information to allow them to purchase and sell with confidence."</p>
  <p>Max's Price Guides was founded for the purpose of publishing pricing guides to assist precious gem buyers make informed decisions so they buy the right gem at the right price.
  <p> Our objective is to make Max's Diamond Price Guide the most complete independent resource for the pricing and other information you need about buying and selling diamonds.</p>
  <p>Our pricing information is produced using a proprietary system that evaluates vast amounts of actual market prices and relevant, worldwide economic data. In addition to our pricing data, we will continue to offer more and more research tools, feature articles, news reports, and diamond education resources.</p>
  <p>We're pleased to offer our service to you. We hope we can help you get the right diamond at the right price!</p>
</div>
<div class="about-right">
  <%= image_tag "rings.jpg" %>
</div>

 </div>

         <!-- AD SPACE-->

        <div class="tagline">
    <a href="http://www.jamesallen.com/engagement-rings/settings-with-sidestones/?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" target="_new">
    <img src="http://www.jamesallen.com/b/engagement-rings/sidestones/diamond-with-side-stones-728x90.jpg" alt="Rings With Side Stones" title="Rings With Side Stones" border="0"></a>
    <img style="border:0" src="http://affiliates.jamesallen.com/scripts/imp.php?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" width="1" height="1" alt="">
 </div>




