<%
  articles_path = Rails.root + 'app/views/pages/archive/*.html.erb'
  pages = []
  Dir.glob(articles_path).sort.each do |file|
    pages << File.basename(file, ".html.erb") 
  end
%>

<div class="about-Us">
  <h2>Archive</h2>
  <p><br>Listed below are articles that have been published on Max's Blog or in our Learn About Diamonds education section.</p>
  <br>
<% pages.each do |page| %>
  <h2><a href="/pages/archive/<%= page %>"><%= page.humanize %></a></h2><br>
<% end %>
</div>














