<section id="feature" class="features" style='margin-top:35px;'>
<script type="text/javascript">
	//jQuery(function($) {
	$(document).ready(function(){
		
		//$("#grams").mask("9?.99");
		//$("#mgrams").mask("999");

	 
    $("#caratform").submit(function(e){
    
    if  ($('.shape').value == 'round') {
      var ishape = 0.0061 ;}
  	 else if ($('.shape').val() == 'princess' || 'asscher' || 'radient' ) {
	  var ishape = 0.0083; }
     else if ( $('.shape').val() == 'emerald') {
      var ishape = 0.0089; }
   	 else if ($('.shape').val() == 'marquise') {
      var ishape = 0.0056; }
     else if ( $('.shape').val() == 'pear') { 
      var ishape = 0.0063; }
     else if ($('.shape').val() == 'oval') {
      var ishape = 0.0069; } 
     else if ( $('.shape').val() == 'heart') {
      var ishape = 0.0059; };
     

     var length = $('.length').val();
     var width = $('.width').val();
     var height = $('.height').val();
     
     answer = (length * width * height * ishape);
     console.log(answer)
     $('.results').text(answer); 
     return false;
	});

      

				
	});     
</script>
	
    <div class="about-Us">
		<h2>Diamond Carat Weight Estimator</h2><br>
        <p>If you do not have a scale, or the diamond is mounted in a setting, you can still estimate the carat weight by measuring the diamond. The best measurements will be obtained using a Diamond Gauge. If you can't get one, you can use a tape measure or ruler to approximate the measurements. To estimate Carat Weight, take these measurements:</p>
		<p/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		<form name="caratform" id="caratform">
		<table cellpadding="5" cellspacing="5" border="0">
			
			<tr>
				<td style="color:#000000;font-size:16px;padding:5px;">1) Measure the width (or length) of the diamond at its widest point viewed from the top, with the <A href="/pages/glossary#Face-up" style="color:#000000;font-size:16px;padding:5px;">Table up</A>. Enter this measurement in millimeters:</td>
				<td style="color:#000000;font-size:16px;padding:5px;text-align:right;">Length</td>
				<td><input style="color:#000000;width:55px;height:25px;font-size:20px;text-align:right;" type="Text" id="length" name="length" size="5" class="length"/></td>
				<td style="color:#000000;font-size:16px;padding:5px;text-align:left;">mm</td>
			</tr>
			<tr>
				<td style="color:#000000;font-size:16px;padding:5px;">2) Measure the width of the diamond at its narrowest point viewed with the Table up. Enter this measurement in millimeters. For a perfectly round diamond, the length and width are equal.</td>
				<td style="color:#000000;font-size:16px;padding:5px;text-align:right;">Width</td>
				<td><input style="color:#000000;width:55px;height:25px;font-size:20px;text-align:right;" type="Text" id="width" name="width" size="5" class="width"/></td>
				<td style="color:#000000;font-size:16px;padding:5px;text-align:left;">mm</td>
			</tr>
			<tr>
				<td style="color:#000000;font-size:16px;padding:5px;">3) Measure the height (also called the depth) of the diamond from the Table to the point or Culet (bottom facet). Enter this measurement in millimeters.</td>
				<td style="color:#000000;font-size:16px;padding:5px;text-align:right;">Height</td>
				<td><input style="color:#000000;width:55px;height:25px;font-size:20px;text-align:right;" type="Text" id="height" name="height" size="5"/ class="height"></td>
				<td style="color:#000000;font-size:16px;padding:5px;text-align:left;">mm</td>
			</tr>
			<tr>
				<td style="color:#000000;font-size:16px;padding:5px;">4) Determine the Shape of the Diamond.  Enter this here. (See the images on the home page for help in determining the Shape.)</td>
				<td colspan="2" style="color:#000000;font-size:16px;padding:5px;text-align:right;width:180px;" align="right">
					<select name="shape" size="1" tabindex="4" style="width:125px;" class="shape" >
						
							<option value="round">Round</option>
							<option value="round">Princess</option>
							<option value="emerald">Emerald</option>
							<option value="marquise">Marquise</option>
							<option value="heart">Heart</option>
							<option value="pear">Pear</option>
							<option value="asscher">Asscher</option>
							<option value="radient">Radient</option>
							<option value="oval">Oval</option>
							
						
					</select>
				</td>
				<td></td>
				
			</tr>


			<tr>
				
				<td colspan="4" align="right">
			    <input type="submit" style="height:35px;width:145px;background-color:#000;" value="Calculate Carat Weight">
				</td>
			</tr>
			<tr align="left">
				<td style="color:#000000;font-size:18px;padding:5px;"><b>Diamond Carat Weight: <span class="results">____</span> carats </b></td>
				
			</tr>
		</table>
		</form>
		

    </div>
    <div class="right-container" style="width:320px;float:right;">
<a href="http://www.jdoqocy.com/click-7744481-11436191" target="_blank">
<img src="http://www.ftjcfx.com/image-7744481-11436191" width="300" height="250" alt="" border="0"/></a>
</div>
</section>