<script type="text/javascript">
	//jQuery(function($) {
	$(document).ready(function(){
		
		//$("#grams").mask("9?.99");
		//$("#mgrams").mask("999");

				
		$("#grams").keyup(function(){
			if(	!isNaN($("#grams").val())){
				$("#mgrams").val( $("#grams").val() * 1000 );
				$("#carats").val( $("#grams").val() * 5 );
			}
		});
		$("#mgrams").keyup(function(){
			if(	!isNaN($("#mgrams").val())){
				$("#grams").val( $("#mgrams").val() / 1000 );
				$("#carats").val( $("#grams").val() * 5 );
			}
		});
		$("#carats").keyup(function(){
			if(	!isNaN($("#carats").val())){
				$("#grams").val( $("#carats").val() / 5 );
				$("#mgrams").val( $("#grams").val() * 1000 );
			}
		});
	});     
</script>
<section id="feature" class="features" style='margin-top:35px;'>
<div class="left-container" style="width:500px;float:left;">

	<h2 style="line-height:1.1em;">Diamond Carat Weight - Gram to Carat Converter</h2><br>
    <p>The best way to determine the carat weight of a diamond is to use a properly calibrated, digital scale that displays weight in grams.  After weighing the diamond, type in the gram (or milligram) weight below to calculate the carat weight.</p>
	<p/>&nbsp;&nbsp;&nbsp;&nbsp;<p/>&nbsp;&nbsp;&nbsp;&nbsp;
	<form action="#" method="get" name="caratgramform" id="caratgramform">
	<h3 style="font-size:14px;">Diamond Weight in Grams:</h3>
	<input style="color:#000000;width:185px;height:25px;font-size:20px;text-align:center;" type="Text" id="grams" name="grams" value="" size="5"/><br><br><br>
	<h3 style="font-size:14px;">Diamond Weight in Milligrams:</h3>
	<input style="color:#000000;width:185px;height:25px;font-size:20px;text-align:center;" type="Text" id="mgrams" name="mgrams" value="" size="5" /><br><br><br>

	<h3 style="font-size:14px;">Diamond Carat Weight:</h3>
	<input style="color:#000000;width:185px;height:25px;font-size:20px;text-align:center;" type="Text" id="carats" name="carats" value="" size="5" />

	</form>

</div>

<div class="right-container" style="width:320px;float:right;">
<a href="http://www.jdoqocy.com/click-7744481-11436191" target="_blank">
<img src="http://www.ftjcfx.com/image-7744481-11436191" width="300" height="250" alt="" border="0"/></a>
</div>
</section>