<section id="feature" class="features" style='margin-top:35px;'>

<div class="about-Us">

<h2>Carat Weight</h2>  
<br>

<p><b>What is a Carat?</b><br><br>
The weight of a diamond is expressed in units of weight measurement called carats.   When a diamond is weighed, we say that it weighs so many carats, rather than so many grams or ounces. This is a standard industry practice around the world. </p>

<p>A carat is a standardized measure equal to one-fifth (.02) of a metric gram or seven-thousands (.007) of an ounce. Five carats is the same as one metric gram.</p>

<p>The weight of diamonds is expressed in carats because of historical precedence. In other words, diamonds have been weighed this way for thousands of years. </p>

<p>The English word "carat" is thought to come from either the Arabic word Qirat: meaning carob bean, or the Greek word Keration or its diminutive form Kerat: meaning both the fruit of the carob tree and the measure of weight equivalent to one of the carob seeds found in the long pods that hang from the carob tree.  </p>

<p>Prior to the modern standardization of weights and measures, the weight of the carob bean was used as unit of measure for very small things. Because the carob bean differed in weight depending on the region where it was grown, efforts were made to standardize the weight. By the mid 1800's, the carat was defined as the equivalent of 4 grains, or about 200 milligrams, in most countries, except  in the U. S. and Great Britain, where it was defined as 3.2 troy grains, which is about 207 milligrams. In the early 1900's, the measure of the weight of the carat was standardized to be exactly 200 metric milligrams.</p>

<p>The weight of a diamond is expressed to the hundredth of a carat. Thus, you will see diamonds of .54 carat, 1.65 carats, and so forth.  Standard rounding occurs upwards only from nine thousands; this means that a diamond of .498 carat weight will be listed as a .49 carat diamond, but a diamond with .499 carat weight will be listed as a .50 carat diamond.</p>

<p>Carat weight of less than a carat is often expressed in points, a point meaning a hundredth. Thus, a 0.33 carat diamond is said to be 33 points. 
When reference is made to how many points a diamond has, this is not a statement about any geometric points on the diamonds, but only a description of the diamonds weight expressed in hundredths of a carat.</p>

<p>Diamonds of carat weight less than .20 carat are called "melee" diamonds; they are common, inexpensive most often used to accent a center or feature diamond.  Because the market for melee diamonds and other diamonds less than .23 carat is often volatile and uncertain, Max's Diamond Price Guide does not provide values for them.</p>

<p>The weight of some other gemstones are also measured in carats, but be careful not to judge the weight of your diamond by comparing its size to that of another gemstone, because other gemstones may have different specific gravities (weight per volume) and may look larger but be lighter.</p>

<p><br><b>Carat Weight and Value</b><Br><Br>

The value of a diamond is determined by market demand.  Because there is a limited supply of diamonds for sale at any time, the more market demand there is for any one diamond, the greater will be its price.  Since large diamonds are more highly demanded than small diamonds, the value of larger diamonds is greater than smaller diamonds.  In nature, large diamonds are much rarer than small diamonds. In fact, the rarity of large diamonds increases exponentially with carat weight.  Because the supply of larger diamonds decreases as carat weight increases, and the demand for larger diamonds increases with size, the result is that the value of diamonds increase exponentially with carat weight.  </p>

<p>While it is generally true that larger diamonds are rarer than smaller diamonds in nature, the supply of diamonds in the various carat weights is largely controlled by the diamond cutters. Each rough diamond is cut into two or more diamonds. The size of the diamonds is determined to maximize profit; thus, while two diamonds weighing .73 carat each could be cut from a particular rough, the diamond cutter will likely choose to instead cut a 1.00 carat and a .33 carat from that same rough if possible. This process means that there are many more diamonds at or near the 1.00 carat weight than there will be at the .73 carat range.  So, if you notice that there are few .47 carat diamonds available for sale, it is not because that size is naturally rare, but rather the lack of supply is only because diamond cutters are choosing not to cut to that size.</p>

<p>Diamonds are often valued (and usually priced) on a per carat basis. Thus, a one half carat diamond that has a total value of $1,000 USD, will be said to have a per carat value of $2,000 USD. A 1.50 carat diamond for sale in a jewelry store that is priced at $5,000 USD per carat will cost you $7,500 USD to purchase. While you might expect larger carat weight diamonds to be more valuable, the increase in value is often quite surprising; increasing the weight by 100% sometimes increases the value by almost 400%. </p>

<p>Certain carat weights are more highly favored than others.  There is a significant increase in value for a diamond that has a carat weight that is exactly at or greater than .25, .33, .50, .75, 1.00, 1.25, 1.50, 1.75, 2.00 (or other higher multiple of .50 carat weight, as compared to a diamond that is less than such carat weight.  For example, a diamond that with a .95 carat weight may sell for $11,000 USD per carat, but an equivalent diamond (one that only differs in carat weight) of 1.00 carat weight will sell for $12,000 USD per carat. The consumer demand for diamond of certain carat weights is historically attributed to personal vanity:  much like luxury car brands command higher prices, diamonds that are of at least a certain size allow the owner bragging rights that he or she has a "full one carat" diamond, which is something the owner of a .94 carat stone cannot say.  Indeed, diamonds that weigh just below a cutoff weight of a popular weight can sometimes represent an exceptional value.</p> 

<p>Carat weight is not the only factor of the value of a diamond, however.  The Color Grade, Clarity Grade, and Cut Grade and other factors affect value.  This means that the value of one diamond, say a .50 carat diamond, can be greater than that of another diamond, one that is a .65 carat diamond, even though the .65 carat diamond weighs more.  Nevertheless, the greatest single factor in the value of any diamond is its carat weight.</p>

<p>Although carat weight is the most important factor in the value of a diamond, it may not be the most important factor in choosing the right diamond for you.  If you intend to have the diamond set in an engagement ring for your fiance, and she has small fingers, a very large diamond may be inappropriate.  Similarly, if you intend to have the diamond set in an earring, you again may not want to choose a very large diamond.</p> 

<p>When you choose a diamond, you will want one that is both beautiful and within your budget.  Because of the substantial effects of the factors other than carat weight (including Color Grade, Clarity Grade, and Cut Grade and others) on value, carat weight should never be the sole factor in choosing the right diamond for you.  Be sure to consider carefully the other factors.</p>

<p><br><b>Size and Carat Weight</b><Br><Br>

As diamond carat weight increases, so does size, but not proportionally, because the diameter/perimeter as well as the depth of the diamond increases. Thus, you should not expect a 1.00 carat diamond (which might have a 6.4mm diameter) to appear twice as large a 0.50-carat diamond (which might have a 5.2mm diameter</p>

<p>Please remember that carat is a measure of weight and not size. The size of a diamond is expressed by the dimensions of the stone, measured in millimeters.  A diamonds dimensions will influence how large it appears.</p>

<p>How a diamond is cut can change the dimensions of the diamond and thus the appearance of its size. If a diamond is cut with a diameter that is too large and a depth that is too shallow, the diamond may appear larger, especially when set in a ring, even though this type of cut may detract from the performance or brilliance of the diamond.  Similarly, if a diamond is cut with a larger than ideal Table diameter and with larger than ideal Crown angles, the diamond may appear to be larger than its actual carat weight.  However, we do not recommend choosing a lower Cut Grade diamond in order to get a diamond that appears larger, because the performance of the diamond is also highly important to it value.   </p>

<p>The width of a diamond's girdle can impact how large a diamond appears. If the girdle is thick or extremely thick, the diamond will have a little extra weight that is not contributing to the performance of the diamond, and appear smaller.  Diamonds with extremely thick girdles usually will not achieve the highest Cut Grade. Diamonds with extremely thin girdles may appear slightly larger, but are also more susceptible to chipping and falling out of settings. Below are the expected diameters for Round Brilliant diamonds of some popular carat weights:</p>

<p>2.50 Carats = 8.8 millimeters<br>
1.00 Carat = 6.5 millimeters<br>
0.75 Carat (3/4 Carat) = 5.9 millimeters<br>
0.50 Carat (1/2 Carat) = 5.15 millimeters<br>
0.25 Carat (1/4 Carat) = 4.1 millimeters</p>

<p><br><b>Karats vs. Carats</b><Br><Br> 

The purity of gold is measured in Karats (often spelled Carats in England). The weight of gold is usually measured in ounces. </p>

<p><br><b>Carats vs. Grains</b><Br><Br> 

A grain is another standard measure of small things. Anciently, it was the weight of a wheat or barley seed, and a carat was the equivalent of about 4 grains. In modern standardized weights and measures, a grain is equal to 64.798 milligrams. Thus, one carat diamond that is 200 milligrams is not a "four grainer", as is often said, but is more like a "three and two-twenty-fifths grainer." </p>

<p><br><b>Calculating Carat Weight</b><Br> 

The best way to calculate the carat weight of a diamond is to weigh the un-mounted stone on a scale that measures in milligrams. Divide the milligrams by 20 to determine the carat weight. If you do not have a scale, you can estimate the weight by taking precise measurements of the stone and then using a carat weight estimator tool, such as the one we have available HERE [Link to Carat Weight Estimator Tool].</p>

<p>A single piece of Diamond Jewelry that includes multiple diamonds may be marketed or advertised as having a diamonds with a Total Carat Weight equal to or close to the sum of the carat weight of the diamonds. To the uninformed, this can be misleading for the value of a 1.00 carat diamond will in fact be greater than the value of two otherwise equivalent .50 carat diamonds.  </p>

<p><br><b>Right Sizing</b><Br><Br> 

You should be certain to select a diamond that is the right carat weight to match both the jewelry and who will be wearing it.  Small carat diamonds are better suited for earrings and larger diamonds for pendants. Solitaire engagement rings (a ring with just one diamond) should have a diamond that looks appropriate on her given the size of her hand and fingers.  Selecting too large of a diamond could make the ring look or feel awkward.
If you have chosen a setting (a ring) in advance of selecting a diamond, you will also need to carefully select a diamond that is neither too small nor too large for the setting.</p>

<p>When considering carat size, you should carefully review your budget. There is not a standard amount appropriate to spend; you are the one who decides what you can afford and whether you want to only pay cash or if you are willing to finance your purchase.  But remember, if you buy something that makes her happy, you will be investing in your happiness...</p>

<p>Our advice is to first determine the desired quality of Color Grade, Clarity Grade, Cut Grade and Fluorescence, and then try to choose the largest carat diamond appropriate for the setting and the person who will be wearing the diamond. By following this plan, you are more likely to enjoy the process and not to be disappointed after you buy. </p>

</div>

</section>