<section id="feature" class="features" style='margin-top:35px;'>

                       <div class="about-Us">
                            <h2>Contact Max's Price Guides</h2>
							<br><br>

</div>
</section>