<div class="about-Us">
  <h2>Trademark &amp; Copyright Policy</h2>
  <p>

    <br><br>
    Last Updated: 2/01/2015
    <br><br>
    <b>Copyright</b>
    <br><br>
    Copyright 2015 Max's Price Guides. All Rights Reserved. All text, images,and other materials on this Web site are protected by  copyright and other intellectual property rights of Max's Price Guides, LLC. Except as allowed, these materials may not be reproduced, distributed, modified or reposted to other Web sites without our express written permission.

    <br><br>
    <b>Trademark</b>
    <br><br>
    The marks appearing on this website including, but not limited to: (i) Max's Diamond Price Guide and the M Logo, and (ii) DiamondPriceInfo.com, are trademarks of Max's Price Guides.
</p>  </div>
<div class="about-right">
  <%= image_tag "rings.jpg" %>
</div>


