<section id="feature" class="features" style='margin-top:35px;'><h2>Currency Converter</h2>

<div class="left-container" style="width:500px;float:left;">

<p>While our diamond values are usually quoted in US Dollars, retail prices are often set in local currency. Use this powerful currency conversion tool to calculate prices in a foreign currency.</p>

  
        <div id="widget" style="display:inline; border:1px solid #d9d9e0; background:#fff; float:left; position:relative; margin-top:20px"> 
        
        <table border="0" cellspacing="0" cellpadding="0" align="center">
    <script src="http://www.dailyfx.com/currency-converter/embed" type="text/javascript"></script>
	<script type="text/javascript" type="text/javascript">
                showConverter("ev", "350", "280", "Verdana", "12", "333333", "ffffff", "e0e0e0", "0096d5", "c7c6cf", "ffffff", "f3f4f8", "666666", "USD", "EUR", "dailyfxcom", "http://www.diamondpriceinfo.com");
    </script>
  <tr>
    <td>
    	<ul style=" color:#999999; text-transform:uppercase; width:95%; margin:0 2.5%; list-style:none; padding:5px 0; border-top:1px dotted #eaeaea; display:inline-block;">
          <li style=" display:inline-block; float:right;"><a href="http://www.fxcm.com/resources/website-tools/widgets/?DFXwidget=currency-converter&DFXrequester=http://www.diamondpriceinfo.com" target="_blank"><img style="border:none; outline:none;" alt="FXCM, Forex Capital Markets" src="http://www.dailyfx.com/currency-converter/images/fxcm-branding.png"/></a></li>
          <li style=" display:inline-block; float:right;"><a href="http://www.dailyfx.com/widgets/?DFXwidget=currency-converter&DFXrequester=http://www.diamondpriceinfo.com" target="_blank"><img style="border:none; outline:none;" alt="DailyFX: Forex Market News & Analysis" src="http://www.dailyfx.com/currency-converter/images/dfx-branding.png"/></a></li>
          <li style=" display:inline-block; float:right;"><span style="font-size:8px; font-weight:normal; font-family: Verdana, Geneva, sans-serif; height:25px; line-height:25px;">Powered By</span></li>
        </ul>
     </td>
  </tr>
</table>
</div>
</div>

<div class="right-container" style="width:320px;float:right;">
    <a href="http://www.jdoqocy.com/click-7744481-11436191" target="_blank">
    <img src="http://www.ftjcfx.com/image-7744481-11436191" width="300" height="250" alt="" border="0"/></a>
</div>
</section>