<section id="feature" class="features" style='margin-top:35px;'><div class="bottomSpaceAbout">
                       <!--  <div class="about-Us"> -->
                            <h2>Find a Local Jeweler</h2>
                            <p><br><br>
							<strong>Visit our Showcase Jeweler</strong> - <a href="http://www.charleskoll.com/" target="_blank">Charles Koll Jewellers, recognized leader in custom diamond jewelry in Southern California</a>
							<br><br>
							</p>
							
							<iframe width="875" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?q=jewellers&amp;ie=UTF8&amp;hq=jewellers&amp;output=embed"></iframe>


        <!-- <script src="http://www.gmodules.com/ig/ifr?url=http://financemyidea.com/google-map-search.xml&amp;synd=open&amp;w=380&amp;h=500&amp;title=GOOGLE+MAP+SEARCH&amp;border=%23ffffff%7C0px%2C1px+solid+%23004488%7C0px%2C1px+solid+%23005599%7C0px%2C1px+solid+%230077BB%7C0px%2C1px+solid+%230088CC&amp;output=js"></script>
          -->           <!--   </div> -->
                        
                                
                    </div>
                    </section>