                	<section id="feature" class="features" style='margin-top:35px;'><div class="bottomSpaceAbout">
                        <div class="glossary">
                            <h2>Glossary of Terms</h2><br>
							
							
									<p><span class="bold"><a name="A">Abrasion</a>:</span> Blemish, such as small nicks along the facet edges, caused by impact damage, polishing or grinding, usually during the cutting or polishing process. </p>
								
									<p><span class="bold"><a name="AGS - American Gem Society">AGS - American Gem Society</a>:</span> Established in 1934 by independent jewelers, the institution is dedicated to setting and maintaining standards of ethics and professionalism in the jewelry industry.  Since 1996, AGS has operated its diamond grading service through the AGS Laboratories. </p>
								
									<p><span class="bold"><a name="AGS Cut Grading Scale">AGS Cut Grading Scale</a>:</span> 0 - Ideal <br> 1 - Excellent <br>2 - Very Good<br>3 - Good<br>4 - Fair<br>5 - Poor </p>
								
									<p><span class="bold"><a name="Appraisal">Appraisal</a>:</span> An estimation of value. For diamonds, this is typically done for sale, insurance assessment or taxation purposes by a professional jeweler skilled in the art of determining value.&nbsp; </p>
								
									<p><span class="bold"><a name="Arrows">Arrows</a>:</span> <a href="#Hearts and Arrows"> See Hearts and Arrows</a>.</p>
								
									<p><span class="bold"><a name="Artificially Irradiated">Artificially Irradiated</a>:</span> <a href="#Irradiated Diamond"> See Irradiated Diamond</a>.</p>
								
									<p><span class="bold"><a name="Asscher Cut">Asscher Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="B">Baguette</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="Bearded Girdle">Bearded Girdle</a>:</span> Sometimes called bearding, the occurrence ofmany small hairline fractures running from the Girdle into the gemstone. </p>
								
									<p><span class="bold"><a name="Bezel">Bezel</a>:</span> The large Facets of the Crown located above the Girdle and below the Table of a gemstone. </p>
								
									<p><span class="bold"><a name="Blemish">Blemish</a>:</span> An imperfection on the surface of the gemstone, including scratches, nicks, abrasions, and cracks. Blemishes in diamonds may be natural or caused by external factors, such as poor handling during cutting and polishing or contact with other diamonds during transport. Blemishes diminish a diamond's value. </p>
								
									<p><span class="bold"><a name="Bort">Bort</a>:</span> Low quality diamonds used in industrial applications. <a href="#Industrial diamonds"> See Industrial diamonds</a>.</p>
								
									<p><span class="bold"><a name="Bow Tie Effect">Bow Tie Effect</a>:</span> The appearance of a dark shadow in some Fancy shapes. The cause is said to be a result of light not properly reflecting out of the top of the gemstone. This is sometimes also called a Butterfly Effect. </p>
								
									<p><span class="bold"><a name="Brilliance">Brilliance</a>:</span> The description of the reflections of light shining from the diamond. Characteristic of a beautiful diamond, brilliance is composed of brightness and contrast.  Brilliance is created primarily when light enters through the Table, reaches the Pavilion Facets, and is then reflected back out through the Table, where the light is most visible to your eye. The quality of a diamond's Cut, Clarity, Polish, and Symmetry all play a role in its Brilliance. </p>
								
									<p><span class="bold"><a name="Brilliant Cut">Brilliant Cut</a>:</span> A preferredCut of diamond where Facets are situated so as to maximize the gemstone's brilliance. A Round diamond with a Brilliant Cut will have 57 Facets, or 58 if there is a Culet.  Other popular styles of Brilliant Cut include the heart, marquise, oval, pear, princess (square), and radiant shapes. </p>
								
									<p><span class="bold"><a name="Bruise">Bruise</a>:</span> An inclusion or imperfectionat or near the surface typically marked by the presence of associated tiny hairline cracks or feathers </p>
								
									<p><span class="bold"><a name="Burned Facet">Burned Facet</a>:</span> A damaged Facet which appears ash white, as if burnt, usually caused during polishing. </p>
								
									<p><span class="bold"><a name="Butterfly Effect">Butterfly Effect</a>:</span> <a href="#Bow Tie Effect"> See Bow Tie Effect</a>.</p>
								
									<p><span class="bold"><a name="C">Canary</a>:</span> A diamond may be described as canary, meaning canary yellow, if it is has yellow hue. </p>
								
									<p><span class="bold"><a name="Cape Diamond">Cape Diamond</a>:</span> A pejorative term used to describe any diamond within the yellow Color range of M to Z on the Color grading scale. </p>
								
									<p><span class="bold"><a name="Carat">Carat</a>:</span> The standard unit of measurement used for the weight of gemstones. One Carat is equal to 200 milligrams (one-fifth of a gram). The fractions of a Carat may be expressed as points, with one point equal to 1/100 of a Carat. Weight is one of the most substantial factors in the value of a diamond. </p>
								
									<p><span class="bold"><a name="Carbon Spots">Carbon Spots</a>:</span> Common term for black or dark inclusions in a diamond. </p>
								
									<p><span class="bold"><a name="Cavity">Cavity</a>:</span> An unfilled or hallow space that is an imperfection in a gemstone. </p>
								
									<p><span class="bold"><a name="Certificate">Certificate</a>:</span> A written document from a professional grading laboratory that certifies its evaluation of a gemstone, typically including the gemstone's weight, proportions, Color grade, Clarity grade, Cut grade, and other characteristics and qualities of the gemstone. </p>
								
									<p><span class="bold"><a name="Chip">Chip</a>:</span> An exterior imperfection due to small piece of a gemstone having been broken or cut off. </p>
								
									<p><span class="bold"><a name="Clarity">Clarity</a>:</span> The degree to which a diamond is clear of internal imperfections called Inclusions and external imperfections called Blemishes. The imperfections may be carbon or other mineral deposits, impurities, or internal cracks or other natural misformations of the diamond molecular structure.  When a diamond is free of significant Inclusions and Blemishes, light is able to clearly pass through the gemstone without interference, enhancing its beauty. A diamond must be viewed under a microscope at 10X magnification by a skilled professional jeweler or grading technician to properly assess its Clarity, as many imperfections not visible with the naked eye can affect the desirability of the gemstone. Inclusions that are observable under 10X magnification may affect a diamond's brilliance. The size, number, position, type, and Color of the imperfections will affect the Clarity grade, which is expressed on a scale of FL (flawless), IF (internally flawless), VVS1 and VVS2 (very, very, slightly included), VS1 and VS2 (very slightly included), SI1 and SI2 (slightly included), and I1, I2, I3 (imperfect). Diamonds without imperfections visible at 10X magnification are referred to as flawless, and are very rare.  Rarity affects a diamond's value; the more rare a diamond is, the higher will be its value. The rarity of Diamonds with Clarity grades VVSI, VVS2, VS1 and VS2 also make them more valuable. Clarity is one of the four C's, the primary factors in determining the value of a diamond. </p>
								
									<p><span class="bold"><a name="Clarity Enhancement or Clarity Enhanced">Clarity Enhancement or Clarity Enhanced</a>:</span> Repairs or treatments made to fill fractures or Laser Drill holes with glass or resin in an effort to improve the Clarity or appearance of a gemstone. </p>
								
									<p><span class="bold"><a name="Cleavage">Cleavage</a>:</span> The occurrence in (or characteristic of) a diamond of splitting along planes. Such splitting can occur by exertion of a significant outside force, such as a blow with a diamond cutting tool. </p>
								
									<p><span class="bold"><a name="Clouds">Clouds</a>:</span> One or more small inclusions appearing as a hazy, white area inside a diamond, typically only observable under magnification. Depending on their number and size, clouds may negatively affect a diamond's Clarity grade. </p>
								
									<p><span class="bold"><a name="Color">Color</a>:</span> One of the four primary characteristics commonly graded in diamonds, the Color of a white or clear diamond generally ranges from nearly colorless to yellow. The Color of such diamonds is graded by skilled professional jewelers and grading technicians using a grading scale of D through Z, with the letter grade D given to the colorless and the letter grade Z to a diamond of light yellow color that is not a fancy yellow diamond. The diamonds of Colors other than yellow or yellow/brown, such as blue, pink, green and red are very rare, can be quite valuable, and are not graded according to standard color grading or pricing standards. The Color of fancy diamonds is graded according to hue, depth and saturation of color.  Color is one of the four C's, the primary factors in determining the value of a diamond.  Color scale of the Gemological Institute of America (GIA): <br> D, E, F = Colorless<br>G, H, I, J = Near Colorless <br>K, L, M = Faint Yellow <br>N, O, P, Q, R = Very Light Yellow <br>S, T, U, V, W, X, Y, Z = Light Yellow<br> <br> </p>
								
									<p><span class="bold"><a name="Color Enhancement">Color Enhancement</a>:</span> Improving a diamond' Color by one of three methods:<br>
1.    HPHT Annealed to remove the appearance of color.<br>
2.    Irradiation to improve the color of fancy colored diamonds.<br>
3.    Application of a coating (usually to the Pavilion) to either whiten a gemstone, or to add color. </p>
								
									<p><span class="bold"><a name="Crown">Crown</a>:</span> The upper portion of a cut gemstone, from above the Girdle to and including the Table. </p>
								
									<p><span class="bold"><a name="Crown Angle">Crown Angle</a>:</span> The acute angle formed by the intersection of the plane of the Girdle and the plane of the Main Facets of the Crown. The ideal Crown angle is generally thought to be about 34.5°.  A Crown angle that is too steep or too shallow can negatively affect a diamond's brilliance. </p>
								
									<p><span class="bold"><a name="Crown Height Percentage">Crown Height Percentage</a>:</span> The height of the Crown divided by the diameter of the Girdle. </p>
								
									<p><span class="bold"><a name="Crystal Inclusion">Crystal Inclusion</a>:</span> An imperfection within a gemstone of crystalline form. </p>
								
									<p><span class="bold"><a name="Cubic Zirconium">Cubic Zirconium</a>:</span> (CZ or Cubic Zirconia) Synthetic (man-made, not naturally occurring) gemstone made to simulate a diamond. Cubic Zirconium is made from zirconium dioxide, which at high temperature transforms to a cubic crystalline form. Cubic Zirconium can be distinguished from diamond by testing for thermal conductivity, as diamonds conduct heat at a greater rate than does Cubic Zirconium, and by measurement of weight, as a Cubic Zirconium stimulant of equal size will be approximately 1.65 times the weight of the diamond. </p>
								
									<p><span class="bold"><a name="Culet">Culet</a>:</span> A flat Facet on the bottom of a cut gemstone. In a round brilliant diamond, an octagonal Facet cut parallel to the Table at the tip of the Pavilion.  Pronounced either 'kyü-let or 'k?l-let. Not all round diamonds are cut with a Culet. A large culet is oft </p>
								
									<p><span class="bold"><a name="Cushion Cut">Cushion Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="Cut (or Cut Grade)">Cut (or Cut Grade)</a>:</span> The quality grade of the fashioning of a gemstone.  In cut and polished diamonds, the Cut Grade is a measure of the overall performance (including Brilliance, Fire and Scintillation) and the quality of Polish and Symmetry of the diamond. In Round Brilliant diamonds, the primary Cut proportions include the relationships of Girdle diameter and total length, Table diameter and diameter of the Girdle, the angle of the Pavilion and the angle of the Crown, the thickness of the Girdle and the total depth, Crown star Facet length and length of the Crown, the lower half length and the total Depth, and the Shape, size, placement, alignment and symmetry of the Crown and Pavilion Facets, and point or Culet.  Cut is one of the four C's, the primary factors in determining the value of a .diamond. The grading of Cut has not yet been standardized in the industry and can vary depending on the methods, standards, and terminology used by the particular grading laboratories; a grade of "Ideal" by one grading laboratory may actually be the equivalent of a grade of "Very Good" by another. </p>
								
									<p><span class="bold"><a name="Cut (shape)">Cut (shape)</a>:</span> Refers to the style of Shape of a gemstone (such as a Round Heart, Marquise or Oval), or the style of faceting (such as Brilliant). <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="D">Dead Stone</a>:</span> A gemstone lacking brilliance due to a multitude of inclusions, or a poor cut. </p>
								
									<p><span class="bold"><a name="Depth">Depth</a>:</span> A measurement of the height of gemstone. In a round brilliant diamond, it is the distance from the point of the Pavilion (or from the Culet, if there is one) to the Table, typically measured in millimeters. </p>
								
									<p><span class="bold"><a name="Depth Percentage">Depth Percentage</a>:</span> Depth (height) divided by average width or diameter. </p>
								
									<p><span class="bold"><a name="Diamond">Diamond</a>:</span> The hardest known mineral, comprised 99.5% of repeating units of 8 covalently bonded carbon atoms arranged in a cubic formation, and 5% of other trace minerals that give a diamond Color. </p>
								
									<p><span class="bold"><a name="Diamond Cutting">Diamond Cutting</a>:</span> Processing of cleaving, sawing, bruiting, blocking, grinding, Faceting and polishing rough into cut and polished diamonds. , </p>
								
									<p><span class="bold"><a name="Diamond Gauge">Diamond Gauge</a>:</span> An instrument that is used to measure a diamond's length, width and depth in 100ths of a millimeters. </p>
								
									<p><span class="bold"><a name="Diamond Grading Report">Diamond Grading Report</a>:</span> <a href="#Certificate"> See Certificate</a>.</p>
								
									<p><span class="bold"><a name="Digging">Digging</a>:</span> <a href="#Painting and Digging"> See Painting and Digging</a>.</p>
								
									<p><span class="bold"><a name="Dispersion">Dispersion</a>:</span> The separation of light either by refraction or diffraction into the spectrum of Colors, such as in a rainbow. </p>
								
									<p><span class="bold"><a name="E">EGL</a>:</span> (EGL-USA)  European Gemological Laboratory or EGL is an independent, privately owned, for-profit, Gemological institution founded in 1974 focusing on gemstone certification and research with labs in Antwerp, London, Paris, Tel Aviv, Johannesburg, Mumbai, Seoul,  and Hong Kong.  EGL-USA became independently owned in 1986 and has labs in New York, Los Angeles, Vancouver and Toronto. </p>
								
									<p><span class="bold"><a name="Emerald Cut">Emerald Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="Extra Facet">Extra Facet</a>:</span> Any Facet in excess of those normally presented for a particular design. </p>
								
									<p><span class="bold"><a name="Eye-Clean">Eye-Clean</a>:</span> When a gemstone has no Blemishes or Inclusions visible to the naked eye (thus, unaided by a magnifying glass or microscope), it is sometimes referred to as being "Eye-Clean." </p>
								
									<p><span class="bold"><a name="F">Face-down</a>:</span> (Table down) Relative position of a gemstone when viewed with bottom, Culet and Pavilion side facing the viewer. </p>
								
									<p><span class="bold"><a name="Facet">Facet</a>:</span> The plane surfaces of a polished gemstone, typically created by grinding or polishing. Round brilliant diamonds each have 57 (58 if a Culet is present).  Light enters through and interacts with the Facets to produce a diamonds Brilliance, Fire and Scintillation.  The number, placement and size Facets will differ among Shapes. </p>
								
									<p><span class="bold"><a name="Faceted Girdle">Faceted Girdle</a>:</span> A Girdle produced with approximately 32 small flat planes. </p>
								
									<p><span class="bold"><a name="Faceting">Faceting</a>:</span> The  process of producing Facets, typically by grinding or polishing a gemstone. </p>
								
									<p><span class="bold"><a name="Face-up">Face-up</a>:</span> (Table-up) Relative position of a gemstone when viewed with the Table facing the viewer. </p>
								
									<p><span class="bold"><a name="Fancy">Fancy</a>:</span> Either a gemstone with a Shape other than a Round Brilliant(for example, a Heart, Princess, Marquis, or Oval Shape), or a colored gemstone with a Color - diamond of natural Color other than light yellow. </p>
								
									<p><span class="bold"><a name="Fancy Color">Fancy Color</a>:</span> <a href="#Fancy"> See Fancy</a>.</p>
								
									<p><span class="bold"><a name="Fancy Shape">Fancy Shape</a>:</span> <a href="#Fancy"> See Fancy</a>.</p>
								
									<p><span class="bold"><a name="Feather">Feather</a>:</span> An internal imperfection that affects a gemstone's Clarity, typically appearing to resemble a tiny white feather when viewed under 10X magnification. </p>
								
									<p><span class="bold"><a name="Fire">Fire</a>:</span> Term commonly used to describe the flashes of Colored light caused by Dispersion in a cut and polished diamond as light is refracted and diffractedf  Generally speaking, the more Fire a diamond has, the greater will be its value. </p>
								
									<p><span class="bold"><a name="Fisheye">Fisheye</a>:</span> The optical effect created when the Pavilion of a diamond lacks depth resulting ina circular reflection of the Girdle through the Table. </p>
								
									<p><span class="bold"><a name="Flaw">Flaw</a>:</span> An imperfection, such as a Blemish, Inclusion, Fracture, or Cavity. </p>
								
									<p><span class="bold"><a name="Flawless">Flawless</a>:</span> Without imperfection. </p>
								
									<p><span class="bold"><a name="Fluorescence">Fluorescence</a>:</span> The glow which some diamonds exhibit when exposed to ultraviolet light, such as from a black light.Not all diamonds will exhibit fluorescence. Diamonds that have no fluorescence, or at most faint blue fluorescence, are generally preferred unless the blue fluorescence happens to offset yellow Color in a diamond to make it appear more nearly Colorless. Generally speaking, any fluorescence other than blue will negatively affect value, as will strong or very strong blue fluorescence in diamond of Color grade D-H due to a slight haze that may be present under certain lighting circumstances. Fluorescence is typically graded by its presence, color and intensity as: None, Faint, Medium, Strong, or Very Strong. </p>
								
									<p><span class="bold"><a name="Four C's">Four C's</a>:</span> Common term for the four primary grading criteria ofCarat, Cut, Color and Clarity. </p>
								
									<p><span class="bold"><a name="Four Grainer">Four Grainer</a>:</span> A one Carat diamond. </p>
								
									<p><span class="bold"><a name="Fracture">Fracture</a>:</span> A significant imperfection consisting of a break in the crystalline structure appearing as a crack, chip or cavity not typically along or parallel to a cleavage plane. </p>
								
									<p><span class="bold"><a name="Fracture Filled">Fracture Filled</a>:</span> <a href="#Clarity Enhancement or Clarity Enhanced"> See Clarity Enhancement or Clarity Enhanced</a>.</p>
								
									<p><span class="bold"><a name="G">Gemstone</a>:</span> (Gem)  A desirable mineral or petrified organic material that can be used in jewelry after being cut and polished, possessingvarying degrees of beauty, rarity and durability. </p>
								
									<p><span class="bold"><a name="GIA">GIA</a>:</span> The Gemological Institute of America, or GIA, is a reputable, non-profit organization focused on Gemological education, research and certification. GIA boasts six laboratories, thirteen schools and four research facilities internationally. </p>
								
									<p><span class="bold"><a name="Girdle">Girdle</a>:</span> The narrow area between the Crown and Pavilion on the outside perimeter of a cut and polished gemstone. A part of the design that can negatively affect durability if too thin and desirability if too think or poorly finished.  In a round brilliant diamond, the Girdle is often finished either with or without Facets. The Girdle will typically appear wide (areas called "peaks") and narrow (areas called "valleys") at different places in a round brilliant diamond. </p>
								
									<p><span class="bold"><a name="Girdle Thickness">Girdle Thickness</a>:</span> The average width of the Girdle, typically measured at the narrow areas (called "valleys"), divided by the diameter of the Girdle. </p>
								
									<p><span class="bold"><a name="Grain">Grain</a>:</span> Weight measure equal to one quarter Carat. </p>
								
									<p><span class="bold"><a name="Graining">Graining</a>:</span> Visible crystal structure in a diamond or other gemstone of crystalline structure presenting as faint streaks, lines, or hazy areas internally or externally. </p>
								
									<p><span class="bold"><a name="H">Hardness</a>:</span> The measurement of resistance to permanent deformations (such as scratches).   On the Mohs hardness scale of mineral materials, the hardness of a diamond is a 10, the hardest rating of all minerals. </p>
								
									<p><span class="bold"><a name="Heart Cut">Heart Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="Hearts and Arrows">Hearts and Arrows</a>:</span> The pattern of geometric shapes resembling hearts and arrows observable in Round Brilliant diamonds of high Cut Grade.  Viewed Table-up, the pattern of arrows is observable, and viewed Table-down, the pattern of hearts is observable. </p>
								
									<p><span class="bold"><a name="HPHT Annealed">HPHT Annealed</a>:</span> High Pressure High Temperature (HPHT) color improvement treatment process for diamonds. Like other treatments to alter the natural Color of a diamond, HPHT makes a diamond less valuable than it might appear.Government regulatory agencies, such as the United States Federal Trade Commission, require artificial enhancement of diamonds to be disclosed at sale. </p>
								
									<p><span class="bold"><a name="HRD">HRD</a>:</span> HogeRaadvoorDiamant (HRD) or Diamond High Council is a private foundation established in Antwerp in1973 to provide diamond laboratory certification services, education and research for the Belgian diamond industry. </p>
								
									<p><span class="bold"><a name="Hue">Hue</a>:</span> Gradation or mixture of the basic spectral Colors of red, orange, yellow, green, blue, violet and purple (such as navy, periwinkle, indigo, teal, turquoise, jade, or aquamarine).Sometimes merely a synonym of Color. </p>
								
									<p><span class="bold"><a name="I">IGI</a>:</span> International Gemological Institute, established in Antwerp in 1974, is a privately owned Gemological institution focusing on certification and appraisal, with offices in Antwerp, Bangkok, Cavalese (Italy), Dubai, Hong Kong, Los Angeles, Mumbai, New York, Tel Aviv, Tokyo, and Toronto. </p>
								
									<p><span class="bold"><a name="Inclusion">Inclusion</a>:</span> An internal, imperfection in a gemstone. Common types of inclusions are: Cavities, Clouds, Crystals, Feathers, Fractures, Graining, Needles, and Pinpoints.<br>The presence of Inclusions negatively affects value. The fewer Inclusions found in a gemstone, the better will be its Clarity grade. An internally Flawless diamond has no Inclusions observable under 10X magnification. </p>
								
									<p><span class="bold"><a name="Industrial Diamonds">Industrial Diamonds</a>:</span> Diamonds of a quality typically used in industrial tools for cutting or drilling, or other industrial applications. Also known as Bort. </p>
								
									<p><span class="bold"><a name="Internal Graining">Internal Graining</a>:</span> <a href="#Graining"> See Graining</a>.</p>
								
									<p><span class="bold"><a name="Irradiated Diamond">Irradiated Diamond</a>:</span> A diamond which has been exposed to radiation for the purpose of altering its Color to a Fancy Color, usually using neutron or electron bombardment. Irradiation makes a diamond less desirable and negatively affects value.Government regulatory agencies, such as the United States Federal Trade Commission, require artificial enhancement of diamonds to be disclosed at sale. </p>
								
									<p><span class="bold"><a name="K">Knot</a>:</span> A Crystal Inclusion that extends to the surface of a cut and polished diamond. </p>
								
									<p><span class="bold"><a name="L">Laser Drill Hole</a>:</span> Hole created by laser drilling to remove a dark Inclusion to improve Clarity. </p>
								
									<p><span class="bold"><a name="Laser Drilling">Laser Drilling</a>:</span> Procedure to remove a dark Inclusion from a diamond for the purpose of enhancing Clarity. Using a high power laser, a tiny hole is drilled and an acid solution is inserted to remove the Inclusion. </p>
								
									<p><span class="bold"><a name="Laser Inscription">Laser Inscription</a>:</span> Identification marks engraved by a laser, typically made on the Girdle. </p>
								
									<p><span class="bold"><a name="Loupe">Loupe</a>:</span> Small, handheld magnifying glass. A 10X Loupe is the standard instrument used in the Gemological industry. </p>
								
									<p><span class="bold"><a name="Loupe Clean">Loupe Clean</a>:</span> A gemstone in which no imperfections are observable under 10X magnification. </p>
								
									<p><span class="bold"><a name="Lower Girdle Facet">Lower Girdle Facet</a>:</span> On a round brilliant diamond, a triangular Facet with its short side just below the Girdle on the Pavilion. </p>
								
									<p><span class="bold"><a name="Lower Girdle Facet Percentage">Lower Girdle Facet Percentage</a>:</span> The average length of the lower Girdle Facets divided by the length of the Pavilion measured from the Girdle (or a plane parallel to the Girdle) to the point or Culet. </p>
								
									<p><span class="bold"><a name="Lower Main Facet">Lower Main Facet</a>:</span> <a href="#Pavilion Facet"> See Pavilion Facet</a>.</p>
								
									<p><span class="bold"><a name="Luster">Luster</a>:</span> Quality of light reflecting and refracting from the surface of a gemstone. </p>
								
									<p><span class="bold"><a name="M">Make</a>:</span> <a href="#Cut (or Cut Grade)"> See Cut (or Cut Grade)</a>.</p>
								
									<p><span class="bold"><a name="Marquise Cut">Marquise Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="Master Stones (Master Set)">Master Stones (Master Set)</a>:</span> Collection of diamonds of Color grades D to Z against which to compare for Color grading purposes. </p>
								
									<p><span class="bold"><a name="Melee">Melee</a>:</span> Small Diamonds, typically less than .20 Carat. </p>
								
									<p><span class="bold"><a name="N">Naturals</a>:</span> In a cut and polished gemstone, a Blemish caused by leaving a part of the surface in its rough, unpolished state. This may be done to ensure the gemstone meets a particular weight threshold or because removing the Blemish would cause an inferior Cut.  These Blemishes are often found at or near the Girdle. </p>
								
									<p><span class="bold"><a name="Needle">Needle</a>:</span> A thin, straight crystal Inclusion. </p>
								
									<p><span class="bold"><a name="Nick">Nick</a>:</span> A surface imperfection, or damage, where a very small piece of the gemstone has been chipped off. </p>
								
									<p><span class="bold"><a name="O">Open Culet</a>:</span> <a href="#Culet"> See Culet</a>.</p>
								
									<p><span class="bold"><a name="Oval Cut">Oval Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="P">P.C.</a>:</span> (or P/C). Per Carat. </p>
								
									<p><span class="bold"><a name="Painting and Digging">Painting and Digging</a>:</span> Polishingtechniques used to maximize weight in a cut and polished Brilliant diamond. Painting is done by moving the upper-half or lower-half Facets to positions relative to the Bezels or Pavilion Main Facets such that there is less than optimal definition between them, allowing for the half Facets to be polished very lightly, which is sometimes referred to as "painting on" the Facets. Digging is done byangling the half Facets away from the Bezel or Pavilion Main Facets, which is a technique also employed to "dig out" or remove Naturals near the Girdle.  Painting and Digging are usually regarded as signs of inferior workmanship and can negatively affect value. </p>
								
									<p><span class="bold"><a name="Pavilion">Pavilion</a>:</span> The portion of a gemstone between the Girdle and the Point or Culet. </p>
								
									<p><span class="bold"><a name="Pavilion Angle">Pavilion Angle</a>:</span> The acute angle formed by the plane of the Pavilionfacet and the plane of the Girdle. </p>
								
									<p><span class="bold"><a name="Pavilion Facet">Pavilion Facet</a>:</span> One of the four-sided Facets on the Pavilion that meet at the Point or intersect the Culet. </p>
								
									<p><span class="bold"><a name="Pavilion Main Facet">Pavilion Main Facet</a>:</span> <a href="#Pavilion Facet"> See Pavilion Facet</a>.</p>
								
									<p><span class="bold"><a name="Pear Cut">Pear Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="Pillow Cut">Pillow Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="Pinpoints">Pinpoints</a>:</span> Inclusions appearing as very tiny white or black dots when viewed under 10X magnification, which when clustered can form a Cloud. </p>
								
									<p><span class="bold"><a name="Pit">Pit</a>:</span> A surface Blemish appearing as a very small hallow, indentation or CAVITY. </p>
								
									<p><span class="bold"><a name="Point">Point</a>:</span> The tip of a brilliant round diamond at the bottom of the Pavilion if there is no Culet.Also, a common expression of one hundredth (1/100) of a Carat. Other fractional weights of a Carat are also often expressed in Points, such as a one-quarter Carat diamond being 25 points. </p>
								
									<p><span class="bold"><a name="Polish">Polish</a>:</span> The process of finishing a cut and polished gemstone, including grinding to create Facets. Also, the quality of the result of the polishing process, typically graded as: Excellent, Very Good, Good, Fair, or Poor.  The Cut grade generally includes the evaluation of Polish. </p>
								
									<p><span class="bold"><a name="Polish Lines">Polish Lines</a>:</span> Surface marks caused by the finishing process if poorly finished or due to an irregular crystalline structure. </p>
								
									<p><span class="bold"><a name="Polish Mark">Polish Mark</a>:</span> <a href="#Burned Facet"> See Burned Facet</a>.</p>
								
									<p><span class="bold"><a name="Princess Cut">Princess Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="R">Radiant Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="Refraction">Refraction</a>:</span> The deflection of light as it goes from one medium (air) to another (a gemstone), and vice versa. </p>
								
									<p><span class="bold"><a name="Rough Diamond">Rough Diamond</a>:</span> A diamond that is not yet cut and polished. </p>
								
									<p><span class="bold"><a name="Round Brilliant Cut">Round Brilliant Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="S">Scintillation</a>:</span> The emission of tiny, brilliant flashes of light.  In a cut and polished diamond, Scintillation, sometimes called sparkle, is seen when the observer is in a relatively static position and the diamond is moving, or vice versa. </p>
								
									<p><span class="bold"><a name="Shape">Shape</a>:</span> Theform of a cut and polished gemstone. A gemstone is cut in order to establish its Shape, and therefore the various shapes are typically also referred as a "type of cut," however the Shape of a gemstone should not be confused with its CUT. For cut and po </p>
								
									<p><span class="bold"><a name="SI">SI</a>:</span> Abbreviation forSlightly Included or Slightly Imperfect, as in the Clarity Grades SI1 and SI2. </p>
								
									<p><span class="bold"><a name="Spread Stone">Spread Stone</a>:</span> A diamond cut in a less desirable fashion, having both a large Table and a short Crown. A diamond with alarger diameter than the weight would suggest. </p>
								
									<p><span class="bold"><a name="Star Facet">Star Facet</a>:</span> Triangular shaped Facet on the upper part of the Crown adjacent to the Table of a Brilliant Cut diamond. </p>
								
									<p><span class="bold"><a name="Step Cut">Step Cut</a>:</span> Design or style of faceting arrangement with wide Facets like stair steps in concentric rows parallel to the Girdle. The faceting arrangement of the Emerald and Asscher Shapes are examples. </p>
								
									<p><span class="bold"><a name="Surface Graining">Surface Graining</a>:</span> Blemish appearing as tiny grooves or Facet junction lines. Typically caused by imperfections in molecular structure. </p>
								
									<p><span class="bold"><a name="Symmetry">Symmetry</a>:</span> The balance of proportions and relative positions of the parts of a gemstone.Also, the symmetrical alignment of Facets in a cut and polished gemstone.A component of Cut. Typically graded as Excellent, Very Good, Good, Fair or Poor. </p>
								
									<p><span class="bold"><a name="Synthetic Diamond">Synthetic Diamond</a>:</span> A man-made gemstone created to simulate a diamond using high pressure high temperature (HPHT) or by chemical vapor deposition (CVD) process. Material properties differ from a Cubic Zirconium.  These man-made diamonds can be identified and distinguished from natural diamonds, and trade at substantial discounts. </p>
								
									<p><span class="bold"><a name="T">Table</a>:</span> The large top Facet in the center of the Crown of a cut and polished gemstone. </p>
								
									<p><span class="bold"><a name="Table Percentage">Table Percentage</a>:</span> For a round brilliant cut, the average width of the Table (at its eight corners) expressed as a percentage of the average diameter of the gemstone. For Fancy shapes, it is the width of the Table (across the widest part of Table) expressed as a percentage of the width of the gemstone. </p>
								
									<p><span class="bold"><a name="Table-up">Table-up</a>:</span> <a href="#Face-up"> See Face-up</a>.</p>
								
									<p><span class="bold"><a name="Treated Diamond/Gemstone">Treated Diamond/Gemstone</a>:</span> A diamond  or gemstone which has had its Color or Clarity artificially altered by irradiation, coating or annealing. <a href="#Irradiated Diamond"> See Irradiated Diamond</a>.</p>
								
									<p><span class="bold"><a name="Trillion Cut">Trillion Cut</a>:</span> <a href="#Shape"> See Shape</a>.</p>
								
									<p><span class="bold"><a name="Twinning Wisp (Twin Crystals)">Twinning Wisp (Twin Crystals)</a>:</span> An Inclusion caused by the irregular structure of two joined crystals, typically appearing as a Cloud. </p>
								
									<p><span class="bold"><a name="U">Upper Girdle Facet</a>:</span> On a round brilliant diamond, a triangular Facet just above the Girdle on the crown. </p>
								
									<p><span class="bold"><a name="V">VS</a>:</span> Abbreviation forVery Slightly Included or Very Slightly Imperfect, as in the VS1 and VS2 Clarity grades. </p>
								
									<p><span class="bold"><a name="VVS">VVS</a>:</span> Abbreviation forVery, Very Slightly Included or Very, Very Slightly Imperfect, as in the VVS1 and VVS2 Clarity grades. </p>
								
									<p><span class="bold"><a name="Z">Zirconia</a>:</span> <a href="#Cubic Zirconium"> See Cubic Zirconium</a>.</p>
								
									<p><span class="bold"><a name="Zirconium">Zirconium</a>:</span> <a href="#Cubic Zirconium"> See Cubic Zirconium</a>.</p>
								
                        </div>
                    
                </div>
</section>