<section id="feature" class="features" style='margin-top:35px;'>
<div class="retailer-guide">

<h2>Max’s Guide to Online Diamond Jewelry Retailers:</h2>

<p>As part of our efforts to improve the diamond buying experience worldwide, we present the Spring Edition of Max's Guide to Online Diamond Jewelry Retailers. </p> 

<div class="retailer">
<a href="http://www.kqzyfj.com/click-7744481-12018872-1416523878000" target="_top">
<img src="http://www.awltovhc.com/image-7744481-12018872-1416523878000" width="468" height="60" alt="" border="0"/></a>
<p><a href="http://bluenile.com">Blue Nile</a> is the leading online diamond retailer. Founded in 1999 in Seattle, Washington (USA) this Internet savvy marketer has developed an excellent website with all the features and tools for you to be able to easily search and find a quality diamond for an engagement ring or other fine jewelry.  The website is truly world class in its design and function, making diamond shopping online a pleasant experience.  Of particular note are the <a href="http://www.kqzyfj.com/click-7744481-11436171-1412805214000?url=http%3A%2F%2Fwww.bluenile.com%2Ftransfer.jsp%3Fgoto%3Dhttp%3A%2F%2Fwww.bluenile.com%2Fbuild-your-own-earrings" target="_blank">Build Your Own Earrings</a><img src="http://www.tqlkg.com/image-7744481-11436171-1412805214000" width="1" height="1" border="0"/> and <a href="http://www.jdoqocy.com/click-7744481-11436171-1412805214000?url=http%3A%2F%2Fwww.bluenile.com%2Ftransfer.jsp%3Fgoto%3Dhttp%3A%2F%2Fwww.bluenile.com%2Fbuild-your-own-diamond-pendant" target="_blank">Build Your Own Diamond Pendant</a><img src="http://www.lduhtrp.net/image-7744481-11436171-1412805214000" width="1" height="1" border="0"/> pages.
</p> 

<p>Blue Nile is connected to diamond wholesalers worldwide and offers over 200,000 diamonds online.  Most diamonds are available with a GIA or AGSL certificate. The company is publicly traded on the NYSE and a responsible, trusted online retailer with many years of experience delivering on its promise of superior customer service.</p>

<p>Prices for diamonds on Blue Nile are very competitive.  For example: the diamond (round, GIA, 1.01 carat, E-VVS1, Ex/Ideal Cut) on 3/14/15 was $11,379 (Serial # LD05426144) -- Compare:  Max’s Suggested Internet Retail Price = $11,456. </p>

<p>Before buying a diamond online, you should always check <a href="http://www.kqzyfj.com/click-7744481-11436171-1412805214000?url=http%3A%2F%2Fwww.bluenile.com" target="_blank">Blue Nile</a><img src="http://www.ftjcfx.com/image-7744481-11436171-1412805214000" width="1" height="1" border="0"/> first.</p>

<p>Blue Nile offers free FEDEX shipping on all orders.  30 day return policy.  See website for details.</p>
</div>

<div class="retailer">
<a href="http://www.jamesallen.com/engagement-rings/settings-with-sidestones/?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" target="_blank">
      <%= image_tag "jamesallen.png"%></a>
      <img style="border:0" src="http://affiliates.jamesallen.com/scripts/imp.php?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" width="1" height="1" alt="" />
<p>If you are seeking an engagement ring diamond or other diamond jewelry and want to find a GIA, AGSL or IGI certified diamond at a very competitive price, be sure to visit <a href="http://www.jamesallen.com/engagement-rings/settings-with-sidestones/?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" target="_blank">James Allen’s website.</a>
      <img style="border:0" src="http://affiliates.jamesallen.com/scripts/imp.php?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" width="1" height="1" alt="" />  James Allen is an aggressive competitor offering over 20,000 diamonds.  James Allen is a popular, trusted online retailer that also has an in-store presence at some SEARS department stores.</p> 

<p>The James Allen website is beautiful, well-designed and easy to use. The design your own engagement ring pages are intuitive with all the options you need. The site also has several designer ring collections, including Mille Coeurs and Royal Halo. James Allen also features its 360 degree viewer that allows you to see up close all angles of a diamond in your web browser prior to purchase.</p>

<p>Diamond prices at James Allen are very competitive. For example: the diamond (round, GIA, .51 carat, G-VS1, Ex/Ideal Cut) on 3/14/15 was $1,880 (SKU # 444696) -- Compare:  Max’s Suggested Internet Retail Price = $1,811.</p>

<p>Before buying a diamond online, you will want to check <a href="http://www.jamesallen.com/engagement-rings/settings-with-sidestones/?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" target="_blank">James Allen’s website.</a>  </p>

<p>James Allen offers free FEDEX shipping on all orders.  30 day return policy.  See website for details.</p>
</div>

<div class="retailer">
<a href="http://www.ritani.com"><%= image_tag "ritani.png"%></a>
<p>With an excellent online sales website, <a href="http://www.ritani.com">Ritani</a> has a wide selection of quality diamonds and diamond jewelry.  The website is sleek and modern, with the right navigation and tools you need to find a diamond engagement ring or other diamond jewelry at a fair price.  Ritani has the following fashion designer jewelry available on their site: Mimi So, Omi PrivÉ, Slane, Hulchi Belluni, Erica Courtney, Kara Ross, and Soho Plus.  Ritani works with local jeweler associates to allow you to view the diamond at a local jeweler’s store before you complete the online purchase.</p>  

<p>Diamond prices are fair and very competitive.  For example, the diamond (round, GIA, .53 carat, E-VVS1, Ex/Ideal Cut) on 3/2/15 was $2,462 (sku #D-9HR9WN) - Compare:  Max’s Suggested Internet Retail Price = $2,377, BlueNile.com = $2,436 (Stock # LD04977527), James Allen = $2,740 (sku # 432572). Engagement ring settings are also competitively priced to Bluenile.com.</p>

<p>Free overnight shipping, 30 day return policy. <a href="http://www.ritani.com">See website for details.</a></p> 

<p>The value with Ritani is getting the diamond/jewelry shipped to a local jeweler’s store to be able to view the diamond/jewelry, and if you are unhappy with it, you can simply walk away on the spot and your credit card will not be charged.</p>
</div>

<div class="retailer">
<a href="http://www.adiamor.com"><%= image_tag "adiamor.png"%></a>
<p><a href="http://www.adiamor.com">Adiamor</a> is a leading online retail store operating out of Los Angeles, California.  Offers diamonds and fine jewelry, including engagement rings and custom designed wedding jewelry. The site has a design your own engagement ring channel that allows you to select from over 150,000 diamonds, and even has a live chat assistant.  With a solid selection a fine quality diamonds and engagement rings, earrings, pendants and bracelets, this online retailer is definitely worth your visit.</p>

<p>Free shipping, and 30 day return policy. <a href="http://www.adiamor.com">See website for details.</a> </p>
</div>
<div class="retailer">
<a href="http://www.belgiumdiamonds.net"><%= image_tag "belgiumdiamonds.png"%></a>
<p>For those in the UK or EU, an online retailer working out of the diamond capital Antwerp is <a href="http://www.belgiumdiamonds.net">Belgium Diamonds</a>. While its website does not have the features of some of the top retailers and the prices are not Internet competitive with pricing only in euros (€s), the site does appear to offer a vast selection of fine quality diamonds. </p>
</div>

<div class="retailer">
<a href="http://www.diamonds.com"><%= image_tag "diamondsdotcom.png"%></a>
<p><a href="http://www.diamonds.com">Diamonds.com</a> is one of the premier online retailers of loose diamonds and diamond jewelry. Has a very nicely designed website with comprehensive information about diamonds on the education pages. The site has a very good selection of certified loose diamonds and diamond jewelry.</p>

<p>In the customize your own pages, the user can choose a diamond and then a setting. Diamond prices are mostly fair and competitive.   For example, the diamond (round, GIA, round .50 carat, E-VVS1, Ex/Ideal Cut) on 2/28/15 was $2,420 (Serial # 52475091) -- Compare:  Max’s Suggested Internet Retail Price = $2,289, BlueNile.com = $2,212 (Stock # LD05486661), James Allen = $2,340 (sku # 296052).</p>

<p>Free shipping, and 30 day return policy. <a href="http://www.diamonds.com">See website for details.</a> </p>
</div>

<div class="retailer">
<a href="http://www.jared.com"><%= image_tag "jared.png"%></a>
<p>A leading diamond jewelry retailer, <a href="http://www.jared.com">Jared the Galleria of Jewelry</a> is a division of Sterling Jewelers Inc., headquartered in Akron, Ohio, USA, which also owns Kay Jewelers. While primarily a brick-and-mortar jewelry store with stand-alone locations near major shopping malls, it has a solid online presence offering a comprehensive easy to use website with many very nice design and online shopping features. Jared’s support’s its sales with creative TV, radio, print and online advertising and quality customer service. Its line of specialized women’s jewelry, the Pandora bracelet collection, is well regarded.</p>

<p>A very good build your own ring section of the site. Also sells loose diamonds, but the diamonds are Very Expensive.  For example, the diamond (round, GIA, .56 carat, E-VVS1, Ex/Ideal Cut) on 3/2/15 was $4,950 (Serial # 2351218) - Compare:  Max’s Suggested Internet Retail Price = $2,692, BlueNile.com = $2,716 (Stock # LD05385602), James Allen = $2,720 (sku # 449118).</p>

<p>Free shipping (direct or to a store), and 30 day return policy.  <a href="http://www.jared.com">See website for details.</a></p>

<p>The value with Jared is getting the diamond shipped to the local Jared store within 2 days to be able to view it, and if you are unhappy with it, you can simply return it on the spot and get a refund.</p>
</div>

<div class="retailer">
<a href="http://www.kay.com"><%= image_tag "kayjewelers.png"%></a>
<p>A leading diamond jewelry retailer, <a href="http://www.kay.com">Kay Jewelers</a> is also a division of Sterling Jewelers Inc., headquartered in Akron, Ohio, USA, which also owns Jared the Galleria of Jewelry.  While primarily a brick-and-mortar jewelry store with locations inside major shopping malls, it has an attractive website with many very nice design and online shopping features.  Kay Jewelers is featured on TV, radio, print and online advertising.  </p>

<p>Kay Jewelers sells a few loose diamonds, but the diamonds are Very Expensive.  For example, the diamond (round, GIA, .60 carat, E-VVS1, Ex/Ideal Cut) on 3/2/15 was $5,999 (Serial # 1288630) - Compare:  Max’s Suggested Internet Retail Price = $2,795, BlueNile.com = $3,121 (Stock # LD04522883), James Allen = $3,410 (sku # 457729).  If you have a very limited budget, Kay Jewelers will likely have an engagement ring or wedding ring set in your price range.

<p>Free shipping (direct or to a store), and 30 day return policy.  <a href="http://www.kay.com">See website for details.</a></p>

<p>The value with Kay Jewelers is getting the diamond shipped to the local Kay Jewelers store within 2 days to be able to view it, and if you are unhappy with it, you can simply return it on the spot and get a refund.</p>
</div>

<div class="retailer">
<a href="http://www.shaneco.com"><%= image_tag "shaneco.png"%></a>
<p><a href="http://www.shaneco.com">Shane Co.</a> is a prominent brick and mortar jewelry retailer with a slow and difficult to use website.  A very limited selection of loose diamonds is available. There is also a limited selection of settings to choose from. Most of the diamond engagement rings are multiple diamond sets with only total carat weight information noted, and no certification or diamond specification information provided. </p>

<p>The loose diamonds can be expensive.  For example, the diamond (round, GIA, .52 carat, H-VS2, Ex/Ideal Cut) on 3/2/15 was $2,115 (Item # 30000007) - Compare:  Max’s Suggested Internet Retail Price = $1,418, BlueNile.com = $1,591 (Stock #LD05431357), James Allen = $1,570 (sku # 459356). Shane Co. may have an engagement ring or wedding ring set in your price range.</p>

<p>Free shipping on orders of $100 or more, and 60 day return policy. <a href="http://www.shaneco.com">See website for details.</a></p>
</div>

<div class="retailer">
<a href="http://www.helzberg.com"><%= image_tag "helzberg.png"%></a>
<p><a href="http://www.helzberg.com">Helzberg Diamonds</a> is a successful brick-and-mortar jewelry retailer dedicated to delighting its customers with superior service and high-quality jewelry.  Now owned by Warren Buffet founded Berkshire Hathaway, Helzberg Diamonds has a website that features create your own pages where you can choose a diamond and then a setting.  In our review of the site, we found most diamonds were severely overpriced, perhaps even more than what you would expect to pay at full retail in a high-end retail shop.  For example, the diamond (round, GIA, .51 carat, E-VVS1, Ex/Ideal Cut) on 2/28/15 was $5,081 (Serial # BR051EVVS190107) - Compare:  Max’s Suggested Internet Retail Price = $2,402, BlueNile.com = $2,405 (Stock # LD04866015), James Allen = $2,640 (sku # 449118).</p>

<p>Free ground shipping on orders of $149 or more, and 60 day return policy. <a href="http://www.helzberg.com">See website for more details.</a></p>
</div>

<div class="retailer">
<a href="http://www.ice.com"><%= image_tag "ice.png"%></a>
<p>If you want to shop online for lower cost jewelry for a birthday or anniversary gift, consider <a href="http://www.ice.com">Ice.com</a>.  Ice.com is not a fine diamond retailer, and you will not be able to select and order an engagement ring with a diamond that has a GIA certificate. However, Ice.com has an attractive website and a wide variety of precious gems and diamond jewelry that can fit within most budgets.  If you are an emotional shopper, be careful because on this site you may just find so many beautiful things that before you know it, you will have a shopping cart full.   While this may not be a site to buy an engagement ring for a price-sensitive diamond buyer, Ice.com has a lot to offer.  Free shipping and a 45 day return policy.  <a href="http://www.ice.com">See the website for details</a>.</p>
</div>

<div class="retailer">
<a href="http://www.loosediamondexchange.com"><%= image_tag "ldx.png"%></a>
<p><a href="http://www.loosediamondexchange.com">Loose Diamond Exchange</a> is a small online retailer offering exclusively GIA certified loose diamonds. This retailer appears to have been online for several years, and comes up high in search results for loose diamonds, but is not well known and does not advertise. With an easy to navigate website, and over 9,000 GIA certified diamonds available to choose from, this is an attractive website.  The owner appears to be located in Houston, Texas USA. Let us know if you use this retailer.</p>

<p>The diamond prices we checked were fairly priced.  For example, the diamond (round, GIA, .51 carat, E-VVS1, Ex/Ideal Cut) on 3/2/15 was $2,667 (Item # 28079) - Compare:  Max’s Suggested Internet Retail Price = $2,402, BlueNile.com = $2,418 (Stock # LD05460313), James Allen = $2,640 (sku # 449118). </p>
</div>

<div class="retailer">
<a href="http://www.lumeradiamonds.com"><%= image_tag "lumera.png"%></a>
<p><a href="http://www.lumeradiamonds.com">Lumera</a> is an online only retailer offering a selection of over 50,000 GIA diamonds. With a modern, sleek design, Lumera’s website has excellent engagement ring buying tips and information. This retailer is focused on helping you find a loose diamond at a good price. </p>

<p>Diamond prices are fair and very competitive.  For example, the diamond (round, GIA, .75 carat, E-VVS1, Ex/Ideal Cut) on 3/2/15 was $5,028 (Item # 60694326) - Compare:  Max’s Suggested Internet Retail Price = $4,698, BlueNile.com = $5,140 (Stock # LD05486531), James Allen = $5,160 (sku # 432572). </p>
</div>

<div class="retailer">
<a href="http://www.szul.com"><%= image_tag "szul.png"%></a>
<p><a href="http://www.szul.com">Szul</a> offers a wide selection of diamond, gemstone, and pearl jewelry.  An online only retailer with offices in the Manhattan NY Diamond District, this retailer is right on the money. With an easy-to-use website, including design your own ring pages, Szul offers both loose diamonds and complete engagement ring sets. </p>

<p>Diamond prices are fair and competitive.  For example, the diamond (round, GIA, .51 carat, E-VVS1, Ex/Ideal Cut) on 3/7/15 was $2,270 (Stock # CLS53223970) - Compare:  Max’s Suggested Internet Retail Price = $2,402, BlueNile.com = $2,384 (Stock # LD05627732), James Allen = $2,640 (sku # 449118). </p>

<p>Free shipping, 15 day return policy. <a href="http://www.szul.com">See website for details</a>.</p>
</div>


<div class="retailer">
<a href="http://www.whiteflash.com"><%= image_tag "whiteflash.png"%></a>

<p>An online retailer from Houston Texas, <a href="http://www.whiteflash.com">White Flash</a> features fashion designer jewelry from Tacori, Verragio, Simon G., and Vatche. They sell loose diamonds as well as complete engagement rings and other diamond jewelry. The comprehensive website has not been updated in some time, but the retailer has been online for many years. </p>

<p>Diamond prices are fair and competitive.  For example, the diamond (round, GIA, .51 carat, E-VVS1, Ex/Ideal Cut) on 3/2/15 was $2,594 (Stock # 3269176) - Compare:  Max’s Suggested Internet Retail Price = $2,402, BlueNile.com = $2,418 (Stock # LD05460313), James Allen = $2,640 (sku # 449118). </p>

<p>Free shipping, 10 day return policy. <a href="http://www.whiteflash.com">See website for details</a>.</p>
</div>

<div class="retailer">
<a href="http://www.zales.com"><%= image_tag "zales.png"%></a>
<p>A well-known name in retail jewelry, <a href="http://www.zales.com">Zales Jewelers</a> has a broad selection of classic and contemporary styles. Although predominantly known as the leading jeweler in regional malls, Zales Jewelers also offers a moderate selection of diamond jewelry on the Internet.
On the design your own page, a user can choose a setting and then choose a diamond. </p> 

<p>The site is fairly easy to use and attractive.</p>

<p>The drawback is that the diamonds are mostly overpriced and the selection of higher quality diamonds is limited.  For example, the diamond (round, GIA, .51 carat, E-VVS1, Ex/Ideal Cut) on 2/28/15 was $4,008 (Serial # 56733742) - Compare:  Max’s Suggested Internet Retail Price = $2,402, BlueNile.com = $2,405 (Stock # LD04866015), James Allen = $2,640 (sku 449118). However, look for sales that occur from time to time.</p>

<p>Free shipping to a retail store, or ship by FEDEX (rates vary), and 60 day return policy.  <a href="http://www.zales.com">See website for details</a>.  </p>
</div>

<div class="retailer">
<a href="http://www.brilliantearth.com"><%= image_tag "brilliantearth.png"%></a>
<p>Promoting conflict free diamonds and diamond jewelry, <a href="http://www.brilliantearth.com">Brilliant Earth</a> aims to combine the ease of online shopping with the personalized service of a fine jewelry boutique.  Their diamond search tool indicates the original source (i.e., country) of the diamond in keeping with its commitment to selling only conflict free diamonds.   </p>

<p>Website is modern and easy to use. Users can search and purchase online loose diamonds as well as choose a setting.</p>

<p>The loose diamond prices we checked were fair and competitive.  For example, the diamond (round, GIA, .51 carat, E-VVS1, Ex/Ideal Cut) on 3/2/15 was $2,940 (Stock # 1401216Y) - Compare:  Max’s Suggested Internet Retail Price = $2,402, BlueNile.com = $2,418 (Stock # LD05460313), James Allen = $2,640 (sku # 449118). </p>

<p>Free shipping, and 30 day return policy. <a href="http://www.brilliantearth.com">See website for details</a>.</p>
</div>
</div>
</section>