
<title>Max's Diamond Price Guide | free diamond price calculator, diamond prices for diamond engagement rings, diamond education & more.</title>
<meta name="description" content="Max's Diamond Price Guide includes a free diamond price calculator, diamond prices for diamond engagement rings, diamond education & more. Get fair RealMarket retail diamond pricing based on diamond clarity, carat, color, cut & more for loose diamonds." />
<meta name="keywords" content="Diamond Clarity, Find The Right Diamond, Max's Diamond Guide" />



        <!-- TAGLINE -->
        <div class="tagline">



            <h2>WHEN YOU PROPOSE TO THE LOVE OF YOUR LIFE,  <strong> SMILE</strong></h2>
            <h4>YOU GOT A GOOD DEAL AND A FAIR PRICE ON THE DIAMOND RING TOO</h4>
            <div class="clearfix">
                <%= link_to 'FIND A DIAMOND VALUE NOW', calculator_path, class: "button blue" %>
             
            </div>
             
        </div>

        <!-- AD SPACE-->

        <div class="tagline">
    <a href="http://www.jamesallen.com/engagement-rings/settings-with-sidestones/?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" target="_new">
    <img src="http://www.jamesallen.com/b/engagement-rings/sidestones/diamond-with-side-stones-728x90.jpg" alt="Rings With Side Stones" title="Rings With Side Stones" border="0"></a>
    <img style="border:0" src="http://affiliates.jamesallen.com/scripts/imp.php?a_aid=4f11db8dbdbdf&amp;a_bid=cdc9c915" width="1" height="1" alt="">
 </div>
        <!-- TAGLINE -->

       <!-- FEATURES -->
        <section id="feature" class="features">
            <h4>LEARN ABOUT DIAMONDS - <span> The more you know, the better deal you can get!</span></h4>
            <ul class="clearfix">
                <li>
                    <%= link_to image_tag('diamond_color1.gif'), page_path('archive/color_grade') %> 
                    <h6>Color</h6>
                    <p>Color in diamonds most often appears as a pale yellow or slightly brown hue. The yellow color is due to the presence of trace amounts of nitrogen in the diamond.</p>
                    <p>Read More</a></p>
                </li>
                <li>
                <%= link_to image_tag('diamond_cut1.gif'), page_path('archive/cut_grade') %> 
                    <h6>Cut</h6>
                    <p>A diamond can be of the best Clarity and Color grades, but if its Cut Grade is poor, the diamond will not be the beautiful gem you will want to buy.</p>
                     <p>Read More</a></p>
                </li>
                <li><%= link_to image_tag('diamond_clarity1.gif'), page_path('archive/clarity_grade') %> 
                    <h6>Clarity</h6>
                    <p>Gem-quality diamonds are evaluated and graded by their clarity, the absence of naturally occurring internal flaws, called Inclusions, and external flaws, called Blemishes.</p>
                     <p>Read More</a></p>
                </li>
                <li><%= link_to image_tag('diamond_carat_weight1.gif'), page_path('archive/what_is_a_carat') %>
                    <h6>Carat Weight</h6>
                    <p>The carat of a diamond refers to the weight of the stone. A carat is equal to about .2 grams, which can be compared to the weight of a standard size paper clip. </p>
                     <p>Read More</a></p>
                </li>
            </ul>
        </section>
        <!-- FEATURES -->

                

       