
<section id="feature" class="features" style='margin-top:35px;'>
    
    <div class="learn-introduction">
      <h2>LEARN ABOUT DIAMONDS</h2>
		<p>The process of choosing a diamond is an exciting experience, but it can be a little intimidating at first. By learning about diamonds and their characteristics, you can become an informed diamond shopper, prepared to select just the right diamond.</p>
 		<h3 style='margin-top:10px;'>Choose The Right Diamond At The Right Price</h3>
 		<p>Max's Diamond Price Guide's diamond education section can answer all your questions about diamonds. Not only will you learn the basics about a diamond's characteristics, and how those characteristics impact a diamond's performance, we give you the inside information about how things like Carat, Color, Clarity, Cut and other factors really impact a diamond's value. In just a short time, you will know all the terms and phrases unique to diamonds and be armed with the information you need to get the right diamond at the right price.</p>
		
		<p style='margin-top:10px;''><a href="/pages/glossary" class="button blue"> Read through our Diamond Glossary</a>.</p>
	</div>

	<div class="learn-ad">
	<a href="http://www.jdoqocy.com/click-7744481-11436191" target="_blank">
    <img src="http://www.ftjcfx.com/image-7744481-11436191" width="300" height="250" alt="" border="0"/></a>
	</div>
	<div class="clear"></div>
    
    <div id="six-boxes">        
    
	    <div class="learn-box">
			 <h3>Diamond Shapes</h3>
			<%= image_tag ("diamond_shapes1.gif") %>
			<h4 class="title">What kind of common diamond shapes are there, what are the differences between shapes, and which are most popular?</h4>
		     <p>The diamond is a classic symbol of beauty, commitment, and romance. The shape of a diamond is one of the key factors that contribute to the beauty and sparkle of the diamond. The diamond's shape refers to the overall geometric.</p>
		     <p><a href="/pages/archive/diamond_shapes" class="view-blog button blue">Read More</a></p>
		</div>
    
	    <div class="learn-box">
	       <h3>Carat Weight</h3>
	       <%= image_tag "diamond_carat_weight1.gif" %>
		   
	       <h4 class="title">What is a carat, and why is a diamond's weight measured in carats?</h4>
	       <p>The carat of a diamond refers to the weight of the stone. A carat is equal to about .2 grams, which can be compared to the weight of a standard size paper clip. Carats are used to measure a diamond's weight because they are a universal standard of measurement.</p>
		   <p><a href="/pages/archive/what_is_a_carat" class="view-blog button blue">Read More</a></p>
	    </div>
        
        <div class="learn-box">
        <div class="learn-box_fw">
           <h3>Learn More About...</h3>
		   <ul>

				<li><a href="/pages/archive/understanding_brilliance">Brilliance, Fire & Scintillation</a></li>
				<li><a href="/pages/archive/artificially_enhanced_diamonds">Artificially Enhanced Diamonds</a></li>
				<li><a href="/pages/archive/conflict_diamonds">Conflict Diamonds</a> </li>
				<li><a href="/pages/archive/cubic_zirconia">Cubic Zirconia</a> </li>
				<li><a href="/pages/archive/understanding_cut_grade_and_shape">Cut Grade vs. Shape</a>  </li>
				<li><a href="/pages/archive/diamond_mining">Diamond Mining</a></li>
				<li><a href="/pages/archive/diamond_strength">Diamond Strength</a></li>
				<li><a href="/pages/archive/fancy_colored_diamonds">Fancy Colored Diamonds</a></li>
				<li><a href="/pages/archive/how_are_diamonds_cut">How Diamonds are Cut</a> </li>
				<li><a href="/pages/archive/how_to_tell_if_a_diamond_is_fake">How to tell a Fake Diamond</a> </li>
				<li><a href="/pages/archive/round_brilliant_diamonds">Round Brilliant Diamonds</a></li>
				<li><a href="/pages/archive/parts_of_diamonds">The Parts of a Diamond</a></li>
				<li><a href="/pages/archive/what_is_a_jeweler's_loupe">The Jeweler's Loupe </a></li>
				<li><a href="/pages/archive/understanding_total_carat_weight">Total Carat Weight (TCW)</a></li>
			</ul>
		</div>	
		</div>

		<div class="learn-box">
           <h3>Diamond Color</h3>
		   <%= image_tag "diamond_color1.gif" %>
		   <h4 class="title">What is the Color Grade of a diamond and how does it affect value?</h4>
           <p>Color in diamonds most often appears as a pale yellow or slightly brown hue. The yellow color is due to the presence of trace amounts of nitrogen in the diamond. Strong yellow or vividly yellow diamonds are regarded as Fancy colored diamonds, which are rare and can be very valuable.</p>
		   <p><a href="/pages/archive/color_grade" class="view-blog button blue">Read More</a></p>
		</div>

		<div class="learn-box">
	        <h3>Diamond Clarity</h3>
	        <%= image_tag "diamond_clarity1.gif" %>
	        <h4 class="title">What is the Clarity Grade of a diamond and how does it affect value?  </h4>
	        <p>Gem-quality diamonds are evaluated and graded by their clarity, the absence of naturally occurring internal flaws, called Inclusions, and external flaws, called Blemishes. Inclusions and Blemishes, whether visible to the naked eye or only under a 10X microscope, can interfere with... </p>
			<p><a href="/pages/archive/clarity_grade" class="view-blog button blue">Read More</a></p>
        </div>
        <div class="learn-box">
            <h3>Diamond Cut</h3>
             <%= image_tag "diamond_cut1.gif" %>
			<h4 class="title">What is the Cut Grade of a diamond and how does it affect value?  </h4>
			<p>A diamond can be of the best Clarity and Color grades, but if its Cut Grade is poor, the diamond will not be the beautiful gem you will want to buy. The "cut" of a diamond can refer to its shape (round, oval, emerald, etc.) or to the quality of how well it was cut and polished.</p>
			</p><a href="/pages/archive/cut_grade" class="view-blog button blue">Read More</a></p>
		</div>

        <div class="learn-box">       
		 	<h3>Diamond Certification</h3>
		 	<%= image_tag "diamond_certification1.gif" %>
			<h4 class="title">What is the importance of a Grading Report or Certificate and how does it affect value?  </h4>
             <p>A diamond grading report, also referred to as a diamond certificate, is a document issued by a gemological laboratory, after evaluation of a diamond by professional gemologists and diamond graders, that describes the important attributes of the diamond. </p>
             <p><a href="/pages/archive/understanding_certification" class="view-blog button blue">Read More</a></p>
           </div>

         <div class="learn-box">
	       <h3>Diamond Fluorescence</h3>
	       <%= image_tag "diamond_fluorescence1.gif" %>
	        <h4 class="title">What is Fluorescence, is it good or bad, and how does it affect value?</h4>
	        <p>Diamond fluorescence is the special, fluorescent glow that some diamonds get under ultraviolet light. Have you ever stood in a black light in a dance club or a haunted house and seen your white or light colored clothing glow in the dark? Some diamonds tend to have that same special glow. </p>
	        <p><a href="/pages/archive/diamond_fluorescence" class="view-blog button blue">Read More</a></p>
	     </div>
	     <div class="learn-box">
		     <h3>Diamond Glossary</h3>
			 <p>Learn the terms you need to know to understand the language of diamonds. You can look up words and phrases associated with diamonds in our Glossary. For example, here are three listings from the Glossary related to the diamond's crown:</p> 
			  <div class="learn-box_fw">
		     <ul style="margin-bottom:15px;">
			   <li><strong>Crown:</strong> The upper portion of a cut gemstone, from above the Girdle to and including the Table.</li>
			    <li><strong>Crown Angle:</strong> The acute angle formed by the intersection of the plane of the Girdle and the plane of the Main Facets of the Crown. The ideal Crown angle is generally thought to be about 34.5°. A Crown angle that is too steep or too shallow can negatively affect a diamond's brilliance.</li>
				<li><strong>Crown Height Percentage:</strong> The height of the Crown divided by the diameter of the Girdle.</li>
			  </ul>
			  </div>
				<p><a href="/pages/glossary" class="view-blog button blue">Start Here</a></p>

		</div>
</section>
	 <div class="clearfix"></div>
	 <div class="tagline"></div>



