<div class="about-Us">
  <h2>Privacy Policy</h2>
  <br><br>
  <p>   

    Last Updated: 2/01/15 
    <br><br>
    We collect certain information about you when you visit DiamondPriceInfo.com. This Privacy Policy discloses what information we collect on DaimondPriceInfo.com and how we use it. 
    <br><br>
    If you have questions or concerns regarding this Privacy Policy, you should contact us at legal@DiamondPriceInfo.com.
    <br><br>
    Your Personal Information
    <br><br>
    To receive services, products or information from us or our business partners, you may be required to submit to us your personally identifiable information (e.g., your name, your street address, your e-mail address, your telephone number).  Throughout this Privacy Policy, we will refer to such personally identifiable information, as well as any other information you give us about yourself (but not your city, state or Zip Code), as your "Personal Information.") We may share your Personal Information with other companies, and may disclosed to other entities who work with us or those companies, but only to provide you the services, products or information you requested.  
    <br><br>
    We may use your Personal Information and other information we may have about you (such as your IP address) or your use of our website (such as which pages you have visited) to customize or enhance your experience on our website, including the display of advertisements.
    <br><br>
    Cookies
    <br><br>
    "Cookies" are computer files written to your hard drive when you visit a Web site. A cookie file may have information such as a user ID that will allow the Web site to track the pages you've visited.
    <br><br>
    We use cookies in many ways, including the following:
    <br><br>
    First Visits: When you first visit our Web site, we served a cookie to you. This cookie resides permanently on your hard drive (unless you chose to delete it) and enables us to track your activity on our Web site.
    <br><br>
    Applications: Whenever you use certain applications on the Edmunds Automotive Network, such as Dealer Locator, we may serve a "session cookie" to you, which is a cookie that is only used by us during your use of that application. In addition, for some applications we may serve a cookie to you that has a longer expiration date. These cookies help us manage our delivery to you of application information and related content.
    <br><br>
    Advertisements: Our advertising may result in the serving of cookies that facilitate the delivery and administration of such advertising.
    <br><br>
    Advertisers:  We may allow advertisers to write cookies to our visitors' computers for advertising campaign tracking and management purposes.
    <br><br>
    Security
    <br><br>
    The security of your Personal Information is important to us. However, please understand that no method of transmission of data over the Internet, or method of electronic storage, is 100% secure.
    <br><br>
    We do not knowingly collect or solicit personal information from anyone under the age of 13. If you are under 13, please do not send or attempt to send any information about yourself to us. In the event that we learn that we have collected personal information from a child under age 13, we will delete that information as quickly as possible.
    <br><br>
    Links to Other Web Sites
    <br><br>
    This Web site contains links to many other Web sites not operated by us, including sites where you can obtain products and services. However, this Privacy Policy only applies to this Web site, and we are not responsible for the privacy policies or practices of any other Web sites.
    <br><br>
    Third Party Ad Servers
    <br><br>
    We use DoubleClick Inc., a third-party advertising company, to serve advertisements. We also sometimes use other third-party advertising companies and advertising networks to serve ads. DoubleClick and these other third-party advertising companies and advertising networks may use information (not including your name, address, e-mail address or telephone number) about your visits to our Web site and other Web sites in order to provide advertisements to you about goods and services of interest to you. "Web beacons" may also be used by third parties on our Web site to target advertisements of interest to you. (Web beacons, sometimes called "pixel tags," are small strings of code that are placed on Web pages.) Any such third party advertising companies' cookies and web beacons is subject to their own privacy policies. For more information about this and to know your choices about not having your information used by these companies to target advertisements to you, you may view DoubleClick's privacy policy or visit <a href="http://www.networkadvertising.org/optout_nonppii.asp" target="_blank">http://www.networkadvertising.org/optout_nonppii.asp</a>.
    <br><br>
    Changes to this Privacy Policy
    <br><br>
    We reserve the right to change this Privacy Policy at any time at our discretion. Changes shall be effective when made and the updated Privacy Policy posted on our Web site.  Information collected prior to the time any change is posted will be used according to the provisions of this Privacy Policy that applied when the information was collected.

</p>
</div>

<div class="about-right">
  <%= image_tag "rings.jpg" %>
</div>


