<div class="about-Us">
  <h2>Terms of Service</h2><br>                         
  <p>
    <br>
    Revised 2-01-2015
    <br><br>
    Thanks for visiting <a href="../">www.diamondpriceinfo.com</a>.  We provide this website, and our services and products, to you subject to these Terms of Service. <b>By using this website or viewing its content, you accept and agree to be bound by this Visitor Agreement</b>. 
    <br><br>
    <b>License for Personal Use</b>
    <br><br>
    Visitors are granted a limited license to access and make personal use of this website but not to download any portion for commercial purposes, except with our written consent. This license does not include any right to resell or make any commercial use of any content; any collection or use of any values or prices; any derivative use of the website or its content; or any use of data mining, robots or similar data gathering or extraction tools or processes; and you agree not to do any of the foregoing. Except as explicitly provided in these Terms of Service, you agree not to store in any form, distribute, transmit, display, reproduce, modify, create derivative works from, sell or otherwise exploit any of the content of any portion of this website for any commercial purpose. You may display and occasionally print a single copy of pages of the website for your personal, non-commercial use, but may not otherwise reproduce the content of the website without our prior written consent.
    <br><br>
    You may not use our trade names ("Max’s Diamond Price Guide,” “DiamondPriceInfo.com," or misspelling or typographical variation of those words, and whether alone or in conjunction with any other word or phrase), trademarks or service marks in any manner (including use in any metatags or any other "hidden text") without our prior written consent.
    <br><br>
    <b>Liability and Warranty Disclaimers</b>
    <br><br>
    ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THIS WEBSITE ARE PROVIDED "AS IS" AND "AS AVAILABLE."  ALL MATERIALS, INFORMATION, SOFTWARE, PRODUCTS AND SERVICES AVAILABLE THROUGH THIS WEBSITE ARE PROVIDED WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT. WE DO NOT WARRANT THAT THE MATERIALS, INFORMATION, SOFTWARE, PRODUCTS OR SERVICES ARE ACCURATE, RELIABLE OR CORRECT; THAT THE WEBSITE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED; OR THAT THE WEBSITE OR ITS CONTENTS IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOUR USE OF THIS WEBSITE IS SOLELY AT YOUR RISK. BECAUSE SOME JURISDICTIONS DO NOT PERMIT THE EXCLUSION OF CERTAIN WARRANTIES, THESE EXCLUSIONS MAY NOT APPLY TO YOU.
    <br><br>
    All pricing, value, and other information displayed on this website are gathered from sources and based on information and systems that are believed by us to be reliable, but no assurance can be given that this information is accurate, complete or current. In addition, we can give no assurance that any advice, recommendation or guidance that we provide on this website, in press releases, in communications between our staff and you, or in any other medium, is accurate, complete or current. We do not warrant the accuracy of, and we assume no responsibility for any errors or omissions in the pricing, values, information, advice, recommendations or guidance provided by this website or by our staff.
    <br><br>
    Before you purchase any gem or other goods or services you read about on this website, you should confirm with the seller any information (including the price and gem characteristics) that is important to your decision.
    <br><br>
    This website displays third-party advertising and links to other Web sites not operated by us. We do not control, and do not guarantee any of the content found on such sites, or the content of any advertising we display; we are not responsible for the claims made by third parties, including advertisers on this website, or for the products or services those third parties provide. We also do not guarantee or warrant the prices, terms, quality, reliability or performance of the products or services provided by such third parties. You agree that we shall not be liable for any loss or damage you incur in connection with any use of third-party content, services or products.
    <br><br>
    <b>Limitation of Liability</b>
    <br><br>
    UNDER NO CIRCUMSTANCES SHALL WE OR ANY OF THE COMPANIES WITH WHICH WE DO BUSINESS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR INABILITY TO USE, THIS WEBSITE. THIS LIMITATION APPLIES WHETHER THE ALLEGED LIABILITY IS BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR ANY OTHER BASIS, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN UNDER CIRCUMSTANCES THAT MAY CAUSE ANY EXCLUSIVE REMEDY UNDER THIS AGREEMENT TO FAIL OF ITS ESSENTIAL PURPOSE.
    <br><br>
    <b>Damages; Indemnification</b>
    <br><br>
    You agree that you will be responsible for any damages resulting from your violation of any of these Terms of Service. You further agree to indemnify and hold Max’s Price Guides and its affiliates, officers, directors, agents and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your breach of these Terms of Service, or any violation of any law or the rights of any third party that occurs in connection with your use of this website.
    <br><br>
    <b>Choice of Law and Forum</b>
    <br><br>
    These Terms of Service shall be governed by and construed in accordance with the laws of the State of Delaware, excluding its conflicts of law rules. You agree that, unless expressly waived by us or we bring an action in a different jurisdiction, the exclusive jurisdiction for any claim or action arising out of or relating to these Terms of Service or your use of this website shall be in the state or federal courts located in the State of Delaware, and you further agree and submit to the exercise of personal jurisdiction of such courts for the purpose of litigating any such claim or action. You also agree that in the event of any action to enforce or interpret these Terms of Service, the prevailing party shall be entitled to collect its reasonable attorney fees.
    <br><br>
    <b>Severability</b>
    <br><br>
    If any of provision of these Terms of Service shall be deemed invalid, void or for any other reason unenforceable, that provision shall be deemed severable and shall not affect the validity and enforceability of the balance of these Terms of Service. 
</p></div>


<div class="about-right">
  <%= image_tag "rings.jpg" %>
</div>


