<section id="feature" class="features" style='margin-top:35px;'><div class="about-Us">
  <h2>Tools</h2><br>
  <p>Max's Diamond Price Guide is working to bring you the tools and information you need to find the right diamond at the right price. Here are some tools you may find useful:
    <br><br>

    <a href="/calculator"><font size="3"><b>RealMarket Value Search Tool</b></font></a> <br><br>
    This is the tool you need to make sure the price is right. Our editors verify and update prices weekly to give you useful, relevant market pricing information, accessible free on www.diamondpricebluebook.com. Enter  a diamond Shape, Carat Weight, Color Grade, Clarity Grade, and Cut Grade and get a free RealMarket Value report for the diamond. Avaialble values include Suggested Retail Price - In Store, Suggested Retail Price - Internet, Private Party Transaction Price, and the Sell to Jeweler Price. Values are updated weekly.
    <br><br>
    <!--<a href="DiamondAffordability.cfm"><font size="3"><b>What Diamond Can I Afford Tool</b></font></a> <br><br>
    This tool helps you figure out the best carat, color, clarity, and cut available in your budget.  Produce a report in minutes that will be your guide to selecting the right diamond within your spending budget.
    <br><br>-->
    <a href="/pages/find_a_local_jeweler"><font size="3"><b>Find a Local Jeweler</b></font></a> <br><br>
    Search for a local jeweler in your area using this GOOGLE MAP search tool.
    <br><br>
    <a href="/pages/carat_weight_converter"><font size="3"><b>Diamond Carat Weight  -  Gram to Carat Converter</b></font></a> <br><br>
    Quickly convert grams to Carat Weight using this calculator.
    <br><br>
    <a href="/pages/currency_converter"><font size="3"><b>Currency Converter</b></font></a> <br><br>
    While diamond values are usually quoted in US Dollars, retail prices are often set in local currency. Use this powerful currency conversion tool to calculate prices in a foreign currency.
    <br><br>
    <a href="/pages/carat_weight_estimator"><font size="3"><b>Diamond  Carat Weight Estimator</b></font></a> <br><br>
    Enter a diamond's measurements and calculate the approximate weight of the diamond. 

  </p>
</div>

<div class="about-right">
    <a href="http://www.anrdoezrs.net/click-7744481-12018875" target="_blank">
    <img src="http://www.tqlkg.com/image-7744481-12018875" width="300" height="250" alt="" border="0"/></a>
</div>


</section>