


<div class="additional_container">
  <div class="additional_section">
  <h2>Fluorescence</h2>
    <div class="additional_options">
     <div class="float-left"><%= f.radio_button :fluor, "fluor.f1", class: "radioboxStep2" %></div>
      <div ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f1') %></h3></div>
    </div>        
    <div class="additional_options"> 
      <div class="float-left"><%= f.radio_button :fluor, "fluor.f2", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f2') %></h3></div>
    </div>
                               
     <div class="additional_options">
      <div class="float-left"><%= f.radio_button :fluor, "fluor.f3", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f3') %></h3></div>
    </div>
                            
     <div class="additional_options">
        <div class="float-left"><%= f.radio_button :fluor, "fluor.f4", class: "radioboxStep2" %></div>
        <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f4') %></h3></div>
     </div>
                               
    <div class="additional_options">
      <div class="float-left"><%= f.radio_button :fluor, "fluor.f5", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f5') %></h3></div>
    </div>
  </div>


  <div class="additional_section">
  <h2>Culet</h2>
    <div class="additional_options">
     <div class="float-left"><%= f.radio_button :culet, "cul.f1", class: "radioboxStep2" %></div>
     <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f1') %></h3></div>
    </div>        
    <div class="additional_options"> 
      <div class="float-left"><%= f.radio_button :culet, "cul.f2", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f2') %></h3></div>
    </div>
                               
     <div class="additional_options">
      <div class="float-left"><%= f.radio_button :culet, "cul.f3", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f3') %></h3></div>
    </div>
                            
     <div class="additional_options">
        <div class="float-left"><%= f.radio_button :culet, "cul.f4", class: "radioboxStep2" %></div>
          <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f4') %></h3></div>
     </div>
                               
    <div class="additional_options">
      <div class="float-left"><%= f.radio_button :culet, "cul.f5", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f5') %></h3></div>
    </div>
  </div>   


  <div class="additional_section">
  <h2>Girdle</h2>
    <div class="additional_options">
    <%= f.select :min_girdle , @wizard_state.girdles %>
    TO
    <%= f.select :max_girdle , @wizard_state.girdles %>
    </div>
  </div>

  <div class="additional_section">
  <h2>Depth</h2>
    <div class="additional_options">
    <%= f.text_field :depth, style:"color:#000000;width:40px;height:30px;font-size:20px;text-align:right;", id:"depth" %> 
      (min. <%= min_depth %>, max <%= max_depth %>)

    </div>
  </div>


 <div class="additional_section">
  <h2>Table</h2>
    <div class="additional_options">
    <%= f.text_field :table, style:"color:#000000;width:40px;height:30px;font-size:20px;text-align:right;", id:"table" %>
     (min. <%= min_table %>, max <%= max_table %>)
    </div>
  </div>


  <div class="additional_section">
  <h2> Symmetry </h2>
    <div class="additional_options">
     <div class="float-left"><%= f.radio_button :sym, "sym.f1", class: "radioboxStep2" %></div>
     <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('sym.f1') %></h3></div>
    </div>        
    <div class="additional_options"> 
      <div class="float-left"><%= f.radio_button :sym, "sym.f2", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('sym.f2') %></h3></div>
    </div>
                               
     <div class="additional_options">
      <div class="float-left"><%= f.radio_button :sym, "sym.f3", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('sym.f3') %></h3></div>
    </div>
                            
     <div class="additional_options">
        <div class="float-left"><%= f.radio_button :sym, "sym.f4", class: "radioboxStep2" %></div>
        <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('sym.f4') %></h3></div>
     </div>
                               
    <div class="additional_options">
      <div class="float-left"><%= f.radio_button :fluor, "fluor.f5", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f5') %></h3></div>
    </div>
  </div>

  <div class="additional_section">
  <h2>Polish</h2>
    <div class="additional_options">
     <div class="float-left"><%= f.radio_button :polish, "pol.f1", class: "radioboxStep2" %></div>
     <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('pol.f1') %></h3></div>
    </div>        
    <div class="additional_options"> 
      <div class="float-left"><%= f.radio_button :polish, "pol.f2", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('pol.f2') %></h3></div>
    </div>
                               
     <div class="additional_options">
      <div class="float-left"><%= f.radio_button :polish, "pol.f3", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('pol.f3') %></h3></div>
    </div>
                            
     <div class="additional_options">
        <div class="float-left"><%= f.radio_button :polish, "pol.f4", class: "radioboxStep2" %></div>
        <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('pol.f4') %></h3></div>
     </div>
                    
   </div>
  </div>



