        	<div class="rightTop">
            

<a href="http://www.jdoqocy.com/click-7744481-11436191" target="_blank">
<img src="http://www.ftjcfx.com/image-7744481-11436191" width="300" height="250" alt="" border="0"/></a>


            </div>

            <div class="rightBottom">
			

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- block2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-9924977412019312"
     data-ad-slot="4569734375"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<a href="http://www.jamesallen.com/?a_aid=4f11db8dbdbdf&amp;a_bid=a799d640"rel="nofollow" target="_blank"><img src="http://images.jamesallen.com/b/affiliatebanners/new-07-15-15/300x250.jpg" alt="JamesAllen Engagement Rings" title="JamesAllen Engagement Rings" width="300" height="250" /></a><img style="border:0" src="http://affiliates.jamesallen.com/scripts/imp.php?a_aid=4f11db8dbdbdf&amp;a_bid=a799d640" width="1" height="1" alt="" />

            </div>
        </div>