<%

shape = PriceQuoteCalculator.get_shape(@wizard_state.shape)
min  = shape.min_carat
max  = shape.max_carat

%>

<script type="text/javascript">
    function submitCalc(){
      $("#realmarketvalueform").submit();
    }

$(document).ready(function(){
  
  $("#realmarketvalueform").on("submit", function(){
    var val = $("#carat").val();
    
    if (val == '' || val < <%= min %> || val > <%= max %>) {
      alert('The carat weight must be between <%= sprintf('%.2f', min+0.01) %>  and <%= sprintf('%.2f', max-0.01) %>');
      return false;
    }

    var num = 1;
    num = parseFloat($("#carat").val());
    
    $("#carat").val(num.toFixed(2));
      return true;  
  });
    
  $("#carat").numeric();
 
});
</script>
<h2><strong> REALMARKET VALUE CALCULATOR</strong></h2>
<h4>Step 2: Carat Weight:</h4>
<p><br>What is a carat? It is a unit of measurement of the weight of a diamond equivalent to 200 milligrams. For a single diamond, the weight is expressed in the abbreviated form CT.  One Hundredth of a carat is referred to as a "point." Thus, a diamond weighing .25 carat is referred to as a 25 point diamond or a quarter carat diamond. The value of a diamond is often expressed in price per carat, which is calculated by dividing the price by the Carat Weight of the diamond.</p>
<div class="calculator_options">

     <%= form_for(@wizard_state, :url => @wizard_state.next_step_path, :method => :post, html: { :id => "realmarketvalueform" } ) do |f| %>
      <%= f.hidden_field :shape %>
      <h4 class="directions">Enter the weight of a single diamond in carats</h4>
      <h3 class="directions"> <%= f.text_field :carat, style: "color:#000000;width:45px;height:30px;font-size:20px;text-align:right", :id => "carat"  %></h3>
      <p>(min. <%= sprintf('%.2f', min+0.01) %> carat, max <%= sprintf('%.2f', max-0.01) %> carats)</p>

      <div class="netxButtonBox">
         <a onclick="submitCalc();" class="next button blue" style="margin-top:25px;">Next</a>
       </div>
     <% end %>


 </div>


 <div class="clearfix"></div>

 