<script type="text/javascript">
  function submitCalc(){
    $("#realmarketvalueform").submit();
  }

  function setAdditional(){
    var  show_additional = $("input[name='wizard_state[hascertificate]']:checked").val();
    if(show_additional == "NO"){
      //hide additional
        $("#additionaldiv").hide();
        $("#warningdiv").fadeIn("slow");
    } else {
      //show additional
      $("#additionaldiv").fadeIn("slow");
      $("#warningdiv").hide();
    }
  }
</script>



<h2><strong> REALMARKET VALUE CALCULATOR</strong></h2>
<h4>Step 3: Grading Report/Certificate:</h4>
    <div class="calculator_options">

    <%= form_for(@wizard_state, :url => @wizard_state.next_step_path, :method => :post, html: { :id => "realmarketvalueform" } ) do |f| %>

      <%= f.hidden_field :shape %>
      <%= f.hidden_field :carat %>

      
      <p>A Diamond Grading Report, also often called a Diamond Certificate, is a written report from a professional grading laboratory that documents the lab's evaluation of a diamond, typically including its Carat Weight, proportions, Color Grade, Clarity Grade, Cut Grade, and other characteristics and qualities. It is not an appraisal, and does not include a value or price</p>
      <h4>Does the diamond have a Grading Report or Certificate?</h4>
      <br/>
      <div class="calculator_options_fw">
<ul class="listContent">
        <li>
          
            <%= f.radio_button :hascertificate, "NO", {   class: "radioboxStep2",onchange:"setAdditional();"} %>
          
          No / Not Sure / I have one, but not with me right now
         
        </li>

        <li>
          
            <%= f.radio_button :hascertificate, "YES", {  class: "radioboxStep2", onchange:"setAdditional();"} %>Yes
         
        </li></ul>

      <div id="warningdiv" class="step2listbox" style="display:none">
        <p style="height:210px"><br>Without a Grading Report/Certificate from a recognized laboratory , you will need to estimate the Color, Cut and Clarity grades of the diamond. RealMarketvalues calculated based on estimates will not be as accurate as values calculated based on information from Grading Report/Certificates of reputable labs.</p>
      </div>
  
      <div id="additionaldiv">     <br>
      <ul id="listContent" class="listContent" >
        <li>
            <%= f.radio_button :certificate, "GIA", { label: "" } %> GIA (Gemological Institute of America)
        </li>	
        <li>
            <%= f.radio_button :certificate, "AGS", { label: "" } %> AGSL (American Gem Society Laboratories)
        </li>	
        <li>
         <%= f.radio_button :certificate, "EGL", { label: "" } %> EGL (European Gemological Laboratory)
        </li>	
        <li> 
        <%= f.radio_button :certificate, "EGL USA", { label: "" } %> EGL USA (EGL USA Group)
        </li>	
        <li>
         <%= f.radio_button :certificate, "IGI", { label: "" } %> IGI (International Gemological Institute)
        </li>	
        <li>
            <%= f.radio_button :certificate, "HRD", { label: "" } %> HRD (Diamond High Council)
        </li>	
        <li>  <%= f.radio_button :certificate, "OTHER", { label: "" } %> Other
        </li>	
      </ul>
      </div>

      <div class="netxButtonBox">
         <a onclick="submitCalc();" class="next button blue" style="margin-top:25px;">Next</a>
       </div>
     <% end %>
</div>

 </div>


 <div class="clearfix"></div>