
<script>
  function submitCalc(){
    $("#realmarketvalueform").submit();
  }
</script>

<h2><strong> REALMARKET VALUE CALCULATOR</strong></h2>
<h4>Step 5: Select the Clarity Grade:</h4>

        <p><br>A diamond's Clarity Grade reflects the external blemishes and internal flaws, called "inclusions." The inclusions can be carbon deposits or other foreign matter, microscopic fractures, or other structural imperfections. Grading is done under 10X microscope magnification. Inclusions may affect a diamond's value, especially if they negatively impact a diamond's ability to clearly transmit light. A properly trained professional jeweler or gemologist can determine or verify a diamond's clarity grade by evaluating the number, size, location, orientation, color, and visibility of the inclusions, as well as surface irregularities that may impact a diamond's clarity.</p>
      
<div class="calculator_options">

      
      

      <%= form_for(@wizard_state, :url => @wizard_state.next_step_path, :method => :post, html: { :id => "realmarketvalueform" } ) do |f| %>

        <%= f.hidden_field :shape %>
        <%= f.hidden_field :carat %>
        <%= f.hidden_field :certificate %>
        <%= f.hidden_field :hascertificate %>
        <%= f.hidden_field :color %>
        <div class="calculator_options_fw">
        <ul class="step-list">
          <div> 
          <li><h4>Flawless or Internally Flawless</h4>
          </li>
          <li>
          <%= f.radio_button :clarity, "clar.f1", {  class: "radioboxStep2"} %>IF/F
             
            </li>
           <li><h4>Very, Very Slightly Imperfect/Included</h4>
              </li>
            <li>
            <%= f.radio_button :clarity, "clar.f2", {  class: "radioboxStep2"} %> VVS1
              </li>
              
              <li>
                
                  <%= f.radio_button :clarity, "clar.f3", {  class: "radioboxStep2"} %> VVS2
              </li>
            <li><h4>Very Slightly Imperfect/Included</h4>
              </li>
              <li>
                  <%= f.radio_button :clarity, "clar.f4", { label: "" , class: "radioboxStep2"} %> VS1
              </li>
              
              <li>
                
                  <%= f.radio_button :clarity, "clar.f5", { label: "" , class: "radioboxStep2"} %> VS2
                </li>
                     <li><h4>Slightly Imperfect/Included</h4>
              </li>     
              <li>
                
                  <%= f.radio_button :clarity, "clar.f6", { label: "" , class: "radioboxStep2"} %> SI1
              </li>
              
              <li>
                

                  <%= f.radio_button :clarity, "clar.f7", { label: "" , class: "radioboxStep2"} %> SI2

              </li>
              </ul>

               <div class="netxButtonBox">
         <a onclick="submitCalc();" class="next button blue" style="margin-top:25px;">Next</a>
       </div>
     <% end %>

</div>
 </div>


 <div class="clearfix"></div>