<script>

function submitCalc(){
$("#realmarketvalueform").submit();
}
</script>

<h2><strong> REALMARKET VALUE CALCULATOR</strong></h2>
<h4>Step 4: Select The Color Grade:</h4>
    <div class="calculator_options">

            <p><br>Color is one of the four Cís, the primary factors in determining the value of a diamond.  The Color of a white or clear diamond generally ranges from nearly colorless to yellow. The Color of such diamonds is graded by skilled professional jewelers and grading technicians using a grading scale of D through Z, with the letter grade D given to the colorless and the letter grade Z to a diamond of light yellow color. Most diamonds available for retail sale for fine jewelry fall in the color range of Color D to Color J.</p>  



      <%= form_for(@wizard_state, :url => @wizard_state.next_step_path , :method => :post, html: { :id => "realmarketvalueform" } ) do |f| %>

        <%= f.hidden_field :shape %>
        <%= f.hidden_field :carat %>
        <%= f.hidden_field :hascertificate %>
        <%= f.hidden_field :certificate %>

        <div class="color-options">
          <div class="color-options calculator_options_fw">
          <h4>Colorless Diamonds<h4>
          <ul>
            <li> D: <%= f.radio_button :color, "color.f1", { label: "D" } %>  </li>
            <li> E: <%= f.radio_button :color, "color.f2", { label: "E" } %>  </li>
            <li> F: <%= f.radio_button :color, "color.f3", { label: "F" } %>  </li>
          </ul>

          </div>
          <div class="color-options calculator_options_fw">
          <h4>Near-Colorless Diamonds<h4>
          <ul>
            <li> G: <%= f.radio_button :color, "color.f4", { label: "G" } %>  </li>
            <li> H: <%= f.radio_button :color, "color.f5", { label: "H" } %>  </li>
            <li> I: <%= f.radio_button :color, "color.f6", { label: "I" } %>   </li>
            <li> J: <%= f.radio_button :color, "color.f7", { label: "J" } %> </li>
          </ul>
          </div>
        </div>   

        <div class="netxButtonBox">
         <a onclick="submitCalc();" class="next button blue" style="margin-top:25px;">Next</a>
       </div>
     <% end %>
</div>




 <div class="clearfix"></div>
