<script type="text/javascript">
  function submitCalc(){
    $("#realmarketvalueform").submit();
  }

</script>



<h2><strong> REALMARKET VALUE CALCULATOR</strong></h2>
<h4>Step 6: Select The Cut Grade:</h4>
<p><br>The Cut Grade of a diamond reflects the quality of its appearance, design, and craftsmanship, measured against industry standards by a properly trained and experienced professional jeweler or gemologist. Grading of a diamond's cut includes an evaluation, against industry standards, of:<br>
            <br> - Brightness (often called Brilliance, how well the diamond reflects light)
            <br> - Fire (how well the diamond flashes colors from the color spectrum)
            <br> - Scintillation (how well the diamond sparkles)
            </p>
    <div class="calculator_options">
            
              
<%= form_for(@wizard_state, :url => @wizard_state.next_step_path, :method => :post, html: { :id => "realmarketvalueform" } ) do |f| %>
      <%= f.hidden_field :shape %>
      <%= f.hidden_field :carat %>
      <%= f.hidden_field :certificate %>
      <%= f.hidden_field :hascertificate %>
      <%= f.hidden_field :color %>
      <%= f.hidden_field :clarity %>
      <div class="calculator_options_fw">
      <ul class="step-list listContent">

        <li>            
            <%= f.radio_button :cut, "cut.f1", { class: "radioboxStep2"  } %> <%= @wizard_state.label_lookup("cut.f1") %>
        </li>

        <li>
            <%= f.radio_button :cut, "cut.f2", { class: "radioboxStep2"  } %> <%= @wizard_state.label_lookup("cut.f2") %>
        </li>

        <li> <%= f.radio_button :cut, "cut.f3", { class: "radioboxStep2"  } %> <%= @wizard_state.label_lookup("cut.f3") %>
        </li>

        <li><%= f.radio_button :cut, "cut.f4", { class: "radioboxStep2"  } %> <%= @wizard_state.label_lookup("cut.f4") %>
        </li>

        <li> <%= f.radio_button :cut, "cut.f5", { class: "radioboxStep2"  } %> <%= @wizard_state.label_lookup("cut.f5") %>
        </li>
      </ul>
      </div>


<% if @wizard_state.shape == "round" %>

<% else %>

<%

shape = PriceQuoteCalculator.get_shape(@wizard_state.shape)
min_depth  = shape.min_depth
max_depth  = shape.max_depth

min_ratio  = shape.min_ratio
max_ratio  = shape.max_ratio

min_table  = shape.min_table
max_table  = shape.max_table


%>

<script type="text/javascript">
  function validateAndSubmit()
  {
  $("#realmarketvalueform").submit();
  }


  $(document).ready(function(){
  $("#wlratio").numeric();
  $("#depth").numeric();
  $("#table").numeric();
  $("#realmarketvalueform").submit(function(){

  var min_ratio = <%= min_ratio %>;
  var max_ratio = <%= max_ratio %>;
  var min_depth = <%= min_depth %>;
  var max_depth = <%= max_depth %>;
  var min_table = <%= min_table %>;
  var max_table = <%= max_table %>;


  var wlratio_val = $("#wlratio").val();
  var depth_val   = $("#depth").val();
  var table_val   = $("#table").val();


  if (wlratio_val == '' || wlratio_val < min_ratio || wlratio_val > max_ratio){
  alert('The width to length ratio must be between <%= min_ratio %> and <%= max_ratio %>');
  return false;
  }
  var num = 1;
  num = parseFloat($("#wlratio").val());
  $("#wlratio").val(num.toFixed(2));

  if (depth_val == '' || depth_val < min_depth || depth_val > max_depth)
  {
  alert('The depth must be between <%= min_depth %> and <%= max_depth %>');
  return false;
  }
  var num = 1;
  num = parseFloat($("#depth").val());
  $("#depth").val(num.toFixed(1));

  if (table_val == '' || table_val < min_table || table_val > max_table){
  alert('The table must be between <%= min_table %> and <%= max_table %>');
  return false;
  }
  var num = 1;
  num = parseFloat($("#table").val());
  $("#table").val(num.toFixed(2));
  return true;
  });

  });

</script>


<input type="hidden" name="cut" value="no" />
<br/>

<h3>Enter the Length to Width ratio 
  <%= f.text_field :wlratio, style: "color:#000000;width:45px;height:30px;font-size:20px;text-align:right;", id: "wlratio"%>

  <p>(min. <%= min_ratio %>, max <%= max_ratio %>)</p>

  <%= render 'additional', f: f, min_depth: min_depth, max_depth: max_depth, min_table: min_table, max_table: max_table %>
<% end %>

<div class="netxButtonBox">
         <a onclick="submitCalc();" class="next button blue" style="margin-top:25px;">Next</a>
       </div>


<% end %>
</div>

 <div class="clearfix"></div>