<div class="bottomSpaceTwo">

						<h2>Step Six: Select the Cut Grade</h2>
						<p><br>The Cut Grade of a diamond reflects the quality of its appearance, design, and craftsmanship, measured against industry standards by a properly trained and experienced professional jeweler or gemologist. Grading of a diamond's cut includes an evaluation, against industry standards, of:<br>
						<br> - Brightness (often called Brilliance, how well the diamond reflects light)
						<br> - Fire (how well the diamond flashes colors from the color spectrum)
						<br> - Scintillation (how well the diamond sparkles)
						</p>
							
							
						<form action="DiamondRealMarketValue.cfm" method="get" name="realmarketvalueform" id="realmarketvalueform">
							
							<input type="Hidden" name="shape" value="6">
							<input type="Hidden" name="carat" value="0.23">
							<input type="Hidden" name="certificate" value="GIA">
							<input type="Hidden" name="color" value="color.f6">
							<input type="Hidden" name="clarity" value="clar.f3">
							
<script type="text/javascript">
function validateAndSubmit()
{
	$("#realmarketvalueform").submit();
} 
//jQuery(function($) {
$(document).ready(function(){
	$("#wlratio").numeric();
	$("#depth").numeric();
	$("#table").numeric();

	$("#realmarketvalueform").submit(function(){
		if ($("#wlratio").val() == '' || $("#wlratio").val() <1.0 || $("#wlratio").val() > 2.0){
			alert('The width to length ratio must be between 1.00 and 2.00');
			return false;
		}
		var num = 1;
		num = parseFloat($("#wlratio").val());
		$("#wlratio").val(num.toFixed(2));

		if ($("#depth").val() == '' || $("#depth").val() <54.0 || $("#depth").val() > 80.0){
			alert('The depth must be between 54.0 and 80.0');
			return false;
		}
		var num = 1;
		num = parseFloat($("#depth").val());
		$("#depth").val(num.toFixed(1));

		if ($("#table").val() == '' || $("#table").val() <50.0 || $("#table").val() > 80.0){
			alert('The table must be between 50 and 80');
			return false;
		}
		var num = 1;
		num = parseFloat($("#table").val());
		$("#table").val(num.toFixed(2));
		return true;
	});
	
});     

/*	$(document).ready(function(){
		$("#depth").blur(function(){
			//var num = $("#depth").val();
			//$("#depth").val(num.toFixed(2));
			if ($("#wlratio").val() == '' || $("#wlratio").val() < 0){
				$("#depth").val("0");
			}else if ($("#wlratio").val() > 9.99){
				$("#wlratio").val("9.99");
			}
		});
		var def = $("#wlratio").val();
		$("#wlratio").mask("9?.99");
		$("#wlratio").val(def);

		$("#depth").blur(function(){
			//var num = $("#depth").val();
			//$("#depth").val(num.toFixed(2));
			if ($("#depth").val() == '' || $("#depth").val() < 0){
				$("#depth").val("0.0");
			}else if ($("#depth").val() > 99.9){
				$("#depth").val("99.9");
			}
		});
		var def = $("#depth").val();
		$("#depth").mask("99.9");
		$("#depth").val(def);

		$("#table").blur(function(){
			//var num = $("#table").val();
			//$("#table").val(num.toFixed(2));
			if ($("#table").val() == '' || $("#table").val() < 0){
				$("#table").val("0");
			}else if ($("#table").val() > 99){
				$("#table").val("99");
			}
		});
		var def = $("#table").val();
		$("#table").mask("99");
		$("#table").val(def);
	});     
*/
</script>
	<input type="hidden" name="cut" value="no">
	<br>
	
	<h3>Enter the Length to Width ratio <input style="color:#000000;width:45px;height:30px;font-size:20px;text-align:right;" type="Text" id="wlratio" name="wlratio" value="1.00"></h3>
	<p>(min. 1.00, max 2.00)</p>
	
	<br>
	
<div class="additional_container">
  <div class="additional_section">
  <h2>Fluorescence</h2>
    <div class="additional_options">
     <div class="float-left"><%= f.radio_button :fluor, "fluor.f1", class: "radioboxStep2" %></div>
      <div ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f1') %></h3></div>
    </div>        
    <div class="additional_options"> 
      <div class="float-left"><%= f.radio_button :fluor, "fluor.f2", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f2') %></h3></div>
    </div>
                               
     <div class="additional_options">
      <div class="float-left"><%= f.radio_button :fluor, "fluor.f3", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f3') %></h3></div>
    </div>
                            
     <div class="additional_options">
        <div class="float-left"><%= f.radio_button :fluor, "fluor.f4", class: "radioboxStep2" %></div>
        <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f4') %></h3></div>
     </div>
                               
    <div class="additional_options">
      <div class="float-left"><%= f.radio_button :fluor, "fluor.f5", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f5') %></h3></div>
    </div>
  </div>


  <div class="additional_section">
  <h2>Culet</h2>
    <div class="additional_options">
     <div class="float-left"><%= f.radio_button :culet, "cul.f1", class: "radioboxStep2" %></div>
     <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f1') %></h3></div>
    </div>        
    <div class="additional_options"> 
      <div class="float-left"><%= f.radio_button :culet, "cul.f2", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f2') %></h3></div>
    </div>
                               
     <div class="additional_options">
      <div class="float-left"><%= f.radio_button :culet, "cul.f3", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f3') %></h3></div>
    </div>
                            
     <div class="additional_options">
        <div class="float-left"><%= f.radio_button :culet, "cul.f4", class: "radioboxStep2" %></div>
          <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f4') %></h3></div>
     </div>
                               
    <div class="additional_options">
      <div class="float-left"><%= f.radio_button :culet, "cul.f5", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('cul.f5') %></h3></div>
    </div>
  </div>   


  <div class="additional_section">
  <h2>Girdle</h2>
    <div class="additional_options">
    <%= f.select :min_girdle , @wizard_state.girdles %>
    TO
    <%= f.select :max_girdle , @wizard_state.girdles %>
    </div>
  </div>

  <div class="additional_section">
  <h2>Depth</h2>
    <div class="additional_options">
    <%= f.text_field :depth, style:"color:#000000;width:40px;height:30px;font-size:20px;text-align:right;", id:"depth" %> 
      (min. <%= min_depth %>, max <%= max_depth %>)

    </div>
  </div>


 <div class="additional_section">
  <h2>Table</h2>
    <div class="additional_options">
    <%= f.text_field :table, style:"color:#000000;width:40px;height:30px;font-size:20px;text-align:right;", id:"table" %>
     (min. <%= min_table %>, max <%= max_table %>)
    </div>
  </div>


  <div class="additional_section">
  <h2> Symmetry </h2>
    <div class="additional_options">
     <div class="float-left"><%= f.radio_button :sym, "sym.f1", class: "radioboxStep2" %></div>
     <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('sym.f1') %></h3></div>
    </div>        
    <div class="additional_options"> 
      <div class="float-left"><%= f.radio_button :sym, "sym.f2", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('sym.f2') %></h3></div>
    </div>
                               
     <div class="additional_options">
      <div class="float-left"><%= f.radio_button :sym, "sym.f3", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('sym.f3') %></h3></div>
    </div>
                            
     <div class="additional_options">
        <div class="float-left"><%= f.radio_button :sym, "sym.f4", class: "radioboxStep2" %></div>
        <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('sym.f4') %></h3></div>
     </div>
                               
    <div class="additional_options">
      <div class="float-left"><%= f.radio_button :fluor, "fluor.f5", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('fluor.f5') %></h3></div>
    </div>
  </div>

  <div class="additional_section">
  <h2>Polish</h2>
    <div class="additional_options">
     <div class="float-left"><%= f.radio_button :polish, "pol.f1", class: "radioboxStep2" %></div>
     <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('pol.f1') %></h3></div>
    </div>        
    <div class="additional_options"> 
      <div class="float-left"><%= f.radio_button :polish, "pol.f2", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('pol.f2') %></h3></div>
    </div>
                               
     <div class="additional_options">
      <div class="float-left"><%= f.radio_button :polish, "pol.f3", class: "radioboxStep2" %></div>
      <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('pol.f3') %></h3></div>
    </div>
                            
     <div class="additional_options">
        <div class="float-left"><%= f.radio_button :polish, "pol.f4", class: "radioboxStep2" %></div>
        <div  ><h3> &nbsp;<%= @wizard_state.label_lookup('pol.f4') %></h3></div>
     </div>
                    
   </div>
  </div>

								<div class="netxButtonBox"><br>
                            <a href="javascript:validateAndSubmit();" class="next-step1">Next</a>
                         	</div>
                       
						 </form>
                     </div>