<%
h = PriceQuoteCalculator.new(@wizard_state.to_hash)
%>

<div class="calculator_options">


    <div style="border:solid 3px; margin:10px;">
      
      <h2 class="blue-title">RealMarket Value™ Report</h2>
        <p class="blue-small">Report Date: <%= Date.today.strftime("%e %B, %Y") %>
        </p>
        <p class="blue-small">Shape: <%= @wizard_state.shape.titleize %> </p>
        <p class="blue-small">Carat Weight: <%= @wizard_state.carat %></p>
        <p class="blue-small">Grading Report/Certificate: <%= @wizard_state.certificate %> <%= @wizard_state.label_lookup(@wizard_state.certificate) %> </p>
        <p class="blue-small">Clarity Grade: <%= @wizard_state.label_lookup(@wizard_state.clarity) %> </p>
        <p class="blue-small">Color Grade: <%= @wizard_state.label_lookup(@wizard_state.color) %></p>
        <p class="blue-small">Cut Grade: <%= @wizard_state.label_lookup(@wizard_state.cut) %></p>

      <% unless  @wizard_state.shape == "round" %>
        <p class="blue-small">Width to Length Ratio: <%= @wizard_state.wlratio %></p>
        <p class="blue-small">Fluorescence: <%= @wizard_state.label_lookup(@wizard_state.fluor) %></p>
        <p class="blue-small">Culet: <%= @wizard_state.label_lookup(@wizard_state.culet) %></p>
        <p class="blue-small">Girdle:<%= @wizard_state.min_girdle %> - <%= @wizard_state.max_girdle %> </p>
        <p class="blue-small">Depth: <%= @wizard_state.depth %>%</p>
        <p class="blue-small">Table: <%= @wizard_state.table %>%</p>
        <p class="blue-small">Symmetry: <%= @wizard_state.label_lookup(@wizard_state.sym) %></p>
        <p class="blue-small">Polish: <%= @wizard_state.label_lookup(@wizard_state.polish) %></p>
      <% end %>


      

      <h4 class="suggestedH3">


      <% if @wizard_state.value_type == "store" %>
        Suggested Retail - In Store Price:
      <% elsif @wizard_state.value_type == "internet" %>
        Suggested Retail - Internet Price:
      <% elsif @wizard_state.value_type == "private" %>
        Private Party Transaction Price:
      <% else @wizard_state.value_type ==  "sell" %>
        Sell to Jeweler Price:
      <% end %>
      </h4>

    <h4 class="suggestedH5"> $<%= number_with_delimiter(h.price1, :delimiter => ',')  %></h4>

</div>
 <div class="clearfix"></div>

        <div class="calculator_options_fw">
        <ul>
        <li><h4><a href="/calculator"  class="find-Value button blue">Find a Value For Another Diamond</a></h4></li>
        <li><h4><a href="/pages/guide_to_online_jewelry_retailers" class="find-Value button blue">View Max's Online Retailer Guide</a></h4></li>
        <li><h4><a href="/pages/find_a_local_jeweler" class="find-Value button blue">Find a Local Jeweler</a></h4></li>
      
        </ul>  
        </div>


  </div>  



 <div class="clearfix"></div>
       

