<script>

function submitCalc(){
$("#realmarketvalueform").submit();
}

</script>


 <h2><strong> REALMARKET VALUE CALCULATOR</strong></h2>
<h4>Step 1: Select a Shape:</h4>
<div class="calculator_options">
            

     <%= form_for(@wizard_state,:url => @wizard_state.next_step_path , :method => :post, html: { :id => "realmarketvalueform" } ) do |f| %>
      <ul id="listContent" class="listContent" >
         <% Shape.all.order("display_order ASC").each do |shape| %>    
          <li><label><p class="shape_name"><%= shape.shape %></p>
            <span><%= image_tag shape.image  %></span><br>
            <% checked = @wizard_state.shape == shape.shape.downcase %>
            <%= f.radio_button :shape, shape.shape.downcase, label: shape.shape ,  :checked => checked %>
          </label></li>
        <% end %>
       </ul>
       <div class="netxButtonBox">
         <a onclick="submitCalc();" class="next button blue" style="margin-top:25px;">Next</a>
       </div>
     <% end %>


 </div>

 <div class="clearfix"></div>