<script type="text/javascript">
  function submitCalc(){
    $("#realmarketvalueform").submit();
  }

</script>


<h2><strong> REALMARKET VALUE CALCULATOR</strong></h2>
<h4>Choose Your Value Type:</h4>
    <div class="calculator_options">
  <%= form_for(@wizard_state, :url => @wizard_state.next_step_path, :method => :post, html: { :id => "realmarketvalueform" } ) do |f| %>

    <%= f.hidden_field :shape %>
    <%= f.hidden_field :carat %>
    <%= f.hidden_field :hascertificate %>
    <%= f.hidden_field :certificate %>
    <%= f.hidden_field :color %>
    <%= f.hidden_field :cut %>
    <%= f.hidden_field :clarity %>
    <%= f.hidden_field :fluor %>
    <%= f.hidden_field :wlratio  %>
    <div class="calculator_options_fw">
    <ul class="step-list">
      <li></li>
        <li>
          <h3><%= f.radio_button :value_type, "store", { class: "radioboxStep2" } %> Suggested Retail - In Store Price</h3>
          <p>What you should expect to pay when buying at a reputable retail store where you can examine the diamond in person and receive the services of a professional jeweler, excluding taxes. Includes all the retailer's overhead, marketing and sales costs, and a fair profit.</p>
        </li>
      
      <li>
       
          </li>
        <li>
          <h3><%= f.radio_button :value_type, "internet", { class: "radioboxStep2" } %> Suggested Retail - Internet Price</h3>
          <p>What you should expect to pay when buying from an Internet retailer that will ship the product directly to you. Includes all the retailer's costs of running an Internet business and a fair profit, excluding taxes and shipping charges to your destination. This is also a mail order price.</p>
       
      </li>
      <li>
        
         </li>
        <li>
          <h3> <%= f.radio_button :value_type, "private", { class: "radioboxStep2" } %> Private Party Transaction Price</h3>
          <p>The amount a buyer should expect to pay and a seller get when selling a diamond in a private party transaction.</p>
       
      </li>
      <li>
        

         </li>
        <li>
          <h3> <%= f.radio_button :value_type, "sell", { class: "radioboxStep2" } %> Sell To Jeweler Price</h3>
          <p>The amount you should expect to get when selling your diamond to a retailer/jeweler. This price is lower than the Private Party Transaction Price because the retailer/jeweler must incur overhead, marketing and sales expenses in order to resell the diamond at a fair profit.</p>
        
      </li>
      
        <div class="netxButtonBox"><br>
          <%= f.submit "Next", { class: "submit_button button blue" } %>
        </div>
      
    </ul>
    </div>

    <% end %>
  </div>

 <div class="clearfix"></div>