
/****************************************************************************
(Bigger than 959)
****************************************************************************/
@media only screen and (min-width: 960px) 
{
   .features ul li { width: 25%; float: left; }
}



/****************************************************************************
(800 X 600) + (768 X 1024)
****************************************************************************/
@media only screen and (min-width: 768px) and (max-width: 959px)
{
    nav .top-menu { width: 724px; }
    nav .top-menu li a { padding: 0 10px; }
    nav .top-menu li.phone { float: right; }
    header { width: 724px; }
    header article { float: none; width: 100%; }
    header article p { width: 60%; }
    header figure { float: none; margin: 0 auto; }
    header article .comp-ver { right: 0px; top: 106px; }
    header article .mobile-ver { right: 0px; top: 226px; }
    .tagline { width: 724px; }
    section { width: 724px; }
    .screen-shots .arrows { top: 0; }
    .studio { width: 30%; margin-right: 5%; }
    .studio p { float: none; width: 100%; margin-bottom: 20px; }
    .studio figure { width: 100%; float: none; }
    .reviews { width: 30%; margin-right: 5%; }
    .updates { width: 30%; }
    form { width: 385px; }
    form ul.left { width: 100%; margin-right: 0; }
    form ul.right { width: 100%; }
    form textarea { width: 365px; }
    form .submit { width: 100%; }
    form .input-field, form .input-field-b { width: 365px; }
    .social-nav { margin: 0px 14px 0px 14px; }
    footer { width: 724px; }
    .features ul li { width: 25%; float: left; }
}


/****************************************************************************
(600 X 800)
****************************************************************************/
@media only screen and (min-width: 480px) and (max-width: 767px)
{
    nav .top-menu { width: 460px; }
    nav .top-menu li.menu-item { display: none; }
    nav .top-menu li.resp-menu { display: block; width: 224px; }
    nav .top-menu li.resp-menu select {  }
    nav .top-menu li.resp-menu select option {  }
    header { width: 460px; }
    header article { float: none; width: 100%; }
    header article p { width: 100%; }
    header figure { display: none; margin: 0 auto; }
    header article .comp-ver { position: static; margin: 0 auto; }
    header article .mobile-ver { position: static; margin: 0 auto; }
    header article h1 { margin: 50px 0px 0px; }
    .tagline { width: 460px; }
    section { width: 460px; }
    .features ul li { width: 50%; margin-bottom: 20px; }
    .screen-shots .arrows { top: 0; }
    .team ul li { width: 50%; margin-bottom: 20px; }
    .studio { width: 100%; margin-right: 0; margin-bottom: 50px; }
    .studio p { float: none; width: 100%; margin-bottom: 20px; }
    .studio figure { width: 100%; float: none; }
    .reviews { width: 48%; margin-right: 4%; }
    .updates { width: 48%; }
    form { width: 100%; margin-bottom: 50px; }
    form ul.left { width: 100%; margin-right: 0; }
    form ul.right { width: 100%; }
    form textarea { width: 440px; }
    form .submit { width: 100%; }
    form .input-field, form .input-field-b { width: 440px; }
    .social-nav { margin: 0 14px 0 0; }
    footer { width: 460px; text-align: center; }
    footer ul,
    footer p { float: none; }
}


/****************************************************************************
{320 X 480} + (480 X 320)
****************************************************************************/
@media only screen and (max-width: 479px)
{
    nav .top-menu { width: 300px; }
    nav .top-menu li.menu-item { display: none; }
    nav .top-menu li.resp-menu { display: block; }
    nav .top-menu li.phone { float: none; text-align: center; margin: 0 auto; }
    header { width: 300px; }
    header article { float: none; width: 100%; }
    header article p { width: 100%; }
    header figure { display: none; margin: 0 auto; width: 300px; }
    header figure span.community { right: 20px; }
    header article .comp-ver { position: static; margin: 0 auto; }
    header article .mobile-ver { position: static; margin: 0 auto; }
    header article h1 { margin: 50px 0px 0px; }
    .tagline { width: 300px; }
    section { width: 300px; }
    .features ul li { width: 100%; margin-bottom: 20px; }
    .screen-shots .arrows { top: 45px; }
    .screen-shots ul li { width: 300px; text-align: center; }
    .team ul li { width: 100%; margin-bottom: 20px; }
    .studio { width: 100%; margin-right: 0; margin-bottom: 50px; }
    .studio p { float: none; width: 100%; margin-bottom: 20px; }
    .studio figure { width: 100%; float: none; }
    .download article > div { width: 300px; }
    .download-btn { float: none; overflow: hidden; margin: 0 auto; }
    .trial-btn { float: none; overflow: hidden; margin: 0 auto; }
    .reviews { width: 100%; margin-right: 0; }
    .updates { width: 100%; }
    form { width: 100%; margin-bottom: 50px; }
    form ul.left { width: 100%; margin-right: 0; }
    form ul.right { width: 100%; }
    form textarea { width: 280px; }
    form .submit { width: 100%; }
    form .input-field, form .input-field-b { width: 280px; }
    .social-nav { margin: 0 auto 50px; float: none; }
    .contact { width: 100%; text-align: center; }
    .contact p.contact-phone { padding: 0; }
    .contact address { padding: 0; text-align: center; }
    footer { width: 300px; text-align: center; }
    footer ul,
    footer p { float: none; }
}

@media only screen and (-webkit-device-pixel-ratio: 1.5) {
  /* CSS for High-density screens goes here *
   * Ex: Samsung Galaxy SII, HTC Nexus One, HTC Evo 3D */
   nav .top-menu { width: 100%; }
    nav .top-menu li.menu-item { display: none; }
    nav .top-menu li.resp-menu { display: block; }
    nav .top-menu li.phone { float: none; text-align: center; margin: 0 auto; }
    header { width: 100%; }
    header article { float: none; width: 100%; }
    header article p { width: 100%; }
    header figure { display: none; margin: 0 auto; width: 300px; }
    header figure span.community { right: 20px; }
    header article .comp-ver { position: static; margin: 0 auto; }
    header article .mobile-ver { position: static; margin: 0 auto; }
    header article h1 { margin: 50px 0px 0px; }
    .tagline { width: 100%; }
    section { width: 100%; }
    .features ul li { width: 100%; margin-bottom: 20px; }
    .screen-shots .arrows { top: 45px; }
    .screen-shots ul li { width: 100%; text-align: center; }
    .team ul li { width: 100%; margin-bottom: 20px; }
    .studio { width: 100%; margin-right: 0; margin-bottom: 50px; }
    .studio p { float: none; width: 100%; margin-bottom: 20px; }
    .studio figure { width: 100%; float: none; }
    .download article > div { width: 100%; }
    .download-btn { float: none; overflow: hidden; margin: 0 auto; }
    .trial-btn { float: none; overflow: hidden; margin: 0 auto; }
    .reviews { width: 100%; margin-right: 0; }
    .updates { width: 100%; }
    form { width: 100%; margin-bottom: 50px; }
    form ul.left { width: 100%; margin-right: 0; }
    form ul.right { width: 100%; }
    form textarea { width: 90%; }
    form .submit { width: 100%; }
    form .input-field, form .input-field-b { width: 90%; }
    .social-nav { margin: 0 auto 50px; float: none; }
    .contact { width: 100%; text-align: center; }
    .contact p.contact-phone { padding: 0; }
    .contact address { padding: 0; text-align: center; }
    footer { width: 100%; text-align: center; }
    footer ul,
    footer p { float: none; }
}

@media only screen and (-webkit-device-pixel-ratio: 2) {
  /* CSS for Ultra-high-density (Retina) screens goes here *
   * Ex: Samsung Galaxy SIII, HTC Evo LTE, iPhone 4 */
   nav .top-menu { width: 100%; }
    nav .top-menu li.menu-item { display: none; }
    nav .top-menu li.resp-menu { display: block; }
    nav .top-menu li.phone { float: none; text-align: center; margin: 0 auto; }
    header { width: 100%; }
    header article { float: none; width: 100%; }
    header article p { width: 100%; }
    header figure { display: none; margin: 0 auto; width: 300px; }
    header figure span.community { right: 20px; }
    header article .comp-ver { position: static; margin: 0 auto; }
    header article .mobile-ver { position: static; margin: 0 auto; }
    header article h1 { margin: 50px 0px 0px; }
    .tagline { width: 100%; }
    section { width: 100%; }
    .features ul li { width: 100%; margin-bottom: 20px; }
    .screen-shots .arrows { top: 45px; }
    .screen-shots ul li { width: 100%; text-align: center; }
    .team ul li { width: 100%; margin-bottom: 20px; }
    .studio { width: 100%; margin-right: 0; margin-bottom: 50px; }
    .studio p { float: none; width: 100%; margin-bottom: 20px; }
    .studio figure { width: 100%; float: none; }
    .download article > div { width: 100%; }
    .download-btn { float: none; overflow: hidden; margin: 0 auto; }
    .trial-btn { float: none; overflow: hidden; margin: 0 auto; }
    .reviews { width: 100%; margin-right: 0; }
    .updates { width: 100%; }
    form { width: 100%; margin-bottom: 50px; }
    form ul.left { width: 100%; margin-right: 0; }
    form ul.right { width: 100%; }
    form textarea { width: 90%; }
    form .submit { width: 100%; }
    form .input-field, form .input-field-b { width: 90%; }
    .social-nav { margin: 0 auto 50px; float: none; }
    .contact { width: 100%; text-align: center; }
    .contact p.contact-phone { padding: 0; }
    .contact address { padding: 0; text-align: center; }
    footer { width: 100%; text-align: center; }
    footer ul,
    footer p { float: none; }
}