/*
Author: Pixar Themes.
Author URI: http://www.pixarwpthemes.com/

------------------------------------------------------------------
[Table of Contents]
------------------------------------------------------------------

1. CSS Reset
2. Fonts
3. Basic Styles
4. Main Menu
5. Header
6. Tag Line
7. Features
9. Screen Shots
10. Team
11. Download
12. 3 Cols
13. Contact
14. Footer

/****************************************************************************
    *-*-*CSS RESET-*-*
****************************************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio,
video {	margin: 0; 	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table {	border-collapse: collapse; border-spacing: 0; }


/****************************************************************************
    *-*-*FONTS-*-*
****************************************************************************/
@font-face {
    font-family: 'RobotoBold';
    src: font-url('Roboto-Bold-webfont.eot');
    src: font-url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Roboto-Bold-webfont.woff') format('woff'),
         font-url('Roboto-Bold-webfont.ttf') format('truetype'),
         font-url('assets/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLight';
    src: font-url('Roboto-Light-webfont.eot');
    src: font-url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Roboto-Light-webfont.woff') format('woff'),
         font-url('Roboto-Light-webfont.ttf') format('truetype'),
         font-url('Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoRegular';
    src: font-url('Roboto-Regular-webfont.eot');
    src: font-url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Roboto-Regular-webfont.woff') format('woff'),
         font-url('Roboto-Regular-webfont.ttf') format('truetype'),
         font-url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoThin';
    src: font-url('Roboto-Thin-webfont.eot');
    src: font-url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Roboto-Thin-webfont.woff') format('woff'),
         font-url('Roboto-Thin-webfont.ttf') format('truetype'),
         font-url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: font-url('Roboto-LightItalic-webfont.eot');
    src: font-url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Roboto-LightItalic-webfont.woff') format('woff'),
         font-url('Roboto-LightItalic-webfont.ttf') format('truetype'),
         font-url('Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/****************************************************************************
    *-*-*BASIC STYLES-*-*
****************************************************************************/
body{ background:#fff; color:#336574; font:12px Arial, Helvetica, "Trebuchet MS", sans-serif; }

h1,h2,h3,h4,h5,h6{ font-weight:normal; }
h1{ font-size:50px;}
h2{ font-size:32px;}
h3{ font-size:28px;}
h4{ font-size:24px;}
h5{ font-size:18px;}
h6{ font-size:14px;}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #09495d; text-decoration: none; outline: none; }
a:hover { color: #09495d; }
a:hover, a:active { outline: 0; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/****************************************************************************
    *-*-*MAIN MENU-*-*
****************************************************************************/
nav { width: 100%; position: fixed; background: #fff; z-index: 9999; }
nav .top-menu { border-bottom: 1px solid #5dcaed; width: 960px; margin: 0px auto; }
nav .top-menu li { float: left; margin: 15px 5px; font: 16px 'RobotoBold', Arial, Helvetica, sans-serif; line-height: 57px; }
nav .top-menu li.logo { margin: 10px; }
nav .top-menu li a { color: #09495d; padding: 0px 10px; display: block; }
nav .top-menu li a:hover { background: #d7f0f8; }
nav .top-menu li.logo img { display: block; }
nav .top-menu li.phone { margin: 0px 0px 0px 23px; float: right; }
nav .top-menu li.phone cite { font-family: 'RobotoLight', Arial, Helvetica, sans-serif; background: #000; display: inline-block; color: #fff; line-height: 27px; padding: 0px 6px; vertical-align: middle; }
nav .top-menu li.phone span { font-size: 0px; border-right: 4px solid #aedae8; width: 27px; height: 27px; display: inline-block; vertical-align: middle; background: url(../assets/phone-icon.png); }
nav .top-menu li.resp-menu { display: none; }

nav li.resp-menu .activetrigger { background: #d7f0f8; }
nav li.resp-menu .dropcontainer li { background: #d7f0f8; margin: 0 !important; line-height: 27px; width: 100%; float: none; }
nav li.resp-menu .dropcontainer li a:hover { background: #aedae8; }
nav li.resp-menu .dropdownhidden { display: none; }
nav li.resp-menu .dropdownvisible { height: auto; position: absolute; top: 57px; width: 224px; }


/****************************************************************************
    *-*-*HEADER-*-*
****************************************************************************/
.header-wrapper { width: 100%; background: #00adef; overflow: hidden; }
header { max-width: 960px; margin: 50px auto 0px; } 
header article { float: left; max-width: 620px; position: relative; }
header article h1 { color: #fff; font-family: 'RobotoBold', Arial, Helvetica, sans-serif; line-height: 48px; margin: 112px 0px 0px; }
header article h1 span { font-family: 'RobotoThin', Arial, Helvetica, sans-serif; display: block; }
header article h3 { color: #fff; font-family: 'RobotoRegular', Arial, Helvetica, sans-serif; margin: 0px 0px 32px; }
header article p { color:#fff; max-width: 600px; font: 16px 'RobotoLight', Arial, Helvetica, sans-serif; line-height: 30px; margin: 0px 0px 25px; }
header article p strong { font-weight: bold; }
header article .comp-ver { text-align: right; height: 120px; padding: 0px 130px 0px 0px; width: 110px; position: absolute; right: 20px; top: 256px; background: url(../assets/mouse-icon.png) right center no-repeat; }
header article .comp-ver a { display: block; color: #0c607b; padding: 30px 0 0; font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif; }
header article .comp-ver a span { display: block; font-size: 14px; }
header article .mobile-ver { text-align: left; height: 120px; padding: 0px 0px 0px 130px; width: 110px; position: absolute; right: 20px; top: 376px; background: url(../assets/tablet-icon.png) left center no-repeat; }
header article .mobile-ver a { display: block; color: #0c607b; padding: 30px 0 0; font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif; }
header article .mobile-ver a span { display: block; font-size: 14px; }
header figure { float: right; width: 340px; text-align: center; padding: 80px 0px 50px; position: relative; }
header figure img {}
header figure span { display: block; width: 37px; height: 37px; position: absolute; }
header figure span.thumb { background: url(../assets/thumb-icon.png); top: 85px; left: 30px; } 
header figure span.flight { background: url(../assets/flight-icon.png); bottom: 60px; left: 30px; } 
header figure span.busy { background: url(../assets/busy-icon.png); top: 270px; right: 40px; } 
header figure span.community { background: url(../assets/people-icon.png); top: 129px; right: 0px; }


/****************************************************************************
    *-*-*TAGLINE-*-*
****************************************************************************/
.tagline { max-width: 960px; margin: 0px auto 50px; text-align: center; background: url(image_path('shadow.png')) center bottom no-repeat; padding: 0px 0px 50px; }
.tagline h2 { margin: 50px 0px 20px; color: #336574; font: 28px 'RobotoRegular', Arial, Helvetica, sans-serif; }
.tagline h4 { margin: 0px 0px 20px; color: #336574; font: 22px 'RobotoLight', Arial, Helvetica, sans-serif; }
.tagline h2 strong { font-family: 'RobotoBold', Arial, Helvetica, sans-serif; }

.button { margin: 0px 5px; display: inline-block; padding: 0px 20px; line-height: 40px; color: #fff; font-weight:bold; }
.button:hover { color: #fff; }
.button.red { background: #fd4239; }
.button.green { background: #b4e335; }
.button.blue {background: #0080c9;}

section { max-width: 960px; margin: 0px auto; }
section > h4 { color: #1b4856; margin: 0px 0px 50px; font-family: 'RobotoRegular', Arial, Helvetica, sans-serif; }
section > h4  span { font-size: 15px; }


/****************************************************************************
    *-*-*FEATURES-*-*
****************************************************************************/
.features ul { margin: 0px 0px 50px; }
.features ul li { text-align: center; }
.features ul li img { display: inline-block; margin: 0px 0px 10px; max-height: 100px;}
.features ul li h6 { color: #1b4856; margin: 0px 0px 20px; font-family: 'RobotoRegular', Arial, Helvetica, sans-serif; }
.features ul li p { color: #1b4856;  font: 13px 'RobotoLight', Arial, Helvetica, sans-serif; line-height: 20px; padding:0 15px; }


.calculator_options {max-width: 600px;margin:25px 25%;}
.calculator_options ul li {float:left;text-align:center;}
.calculator_options_fw ul li {width:100%;text-align:center;}

.learn-box {max-width: 260px;float:left;height: 320px; padding: 23px 23px; margin-bottom: 25px;margin-top:20px;}
.learn-box_fw ul li {width:100%;text-align:left;}
.learn-introduction {max-width:600px;float:left;}
.learn-box img {max-width: 240px;max-height: 100px;}
.learn-box p {line-height: 1.5em;padding: 10px 0px;}
.learn-box h4 {font-size:16px;}
.learn-ad {max-width:290px;float:right;}
.six-boxes {max-width:900px;}

.glossary p, .retailer p, .about-Us p {padding:15px 0px;}
.retailer {padding:25px 0px;}
.retailer a{font-weight: bold;text-decoration: underline;}
.bold {font-weight: bold; }

/****************************************************************************
    *-*-*CONTACT-*-*
****************************************************************************/
.contacts { margin: 0px auto 50px; }

form { max-width: 600px; float: left; }
form ul { overflow: hidden; }
form ul li { margin-bottom: 17px; }
form ul.left { width: 240px; margin-right: 17px; float: left; } 
form ul.right { width: 340px; float: right; } 
form .input-field { font: bold 11px Arial; background-color:#5a5a5a; width: 220px; height: 38px; border: none; padding: 0px 10px; color: #fff !important; outline: none; }
form .input-field.input-field-b { width: 320px; }
form textarea { font: bold 11px Arial; display: block; background-color:#5a5a5a; width:320px; height: 73px; border: none; padding: 10px; color: #fff !important; outline: none; resize: none; }
form .submit { margin-bottom: 17px; cursor: pointer; background-color: #0080c9; width: 100%; height: 38px; border: none; color: #fff; font-weight:bold; }
form label.error { display: none !important; }
form input.error { background-color: #fd4239; }
form input.valid { background-color: #aedae8; }

#loading { visibility: hidden; }
#success { text-align: center; clear: both; }

.social-nav { margin: 0px 40px 0px 15px; width: 80px; float: left; }
.social-nav a { display: block; float: left; width: 40px; height: 40px; }
.social-nav a.fb { background: url(image_path('facebook.png')) no-repeat; }
.social-nav a.fk { background: url(image_path('flicker.png')) no-repeat; }
.social-nav a.tw { background: url(image_path('twitter.png')) no-repeat; }
.social-nav a.in { background: url(image_path('ln.png')) no-repeat; }
.social-nav a.vm { background: url(image_path('v.png')) no-repeat; }

.contact { width: 225px; float: right; text-align: right; }
.contact p.contact-email { color: #336574; font: 18px 'RobotoLight', Arial, Helvetica, sans-serif; letter-spacing: 3px;  }
.contact p.contact-phone { margin: 0px 0px 28px; padding-left: 60px; color: #336574; font: 18px 'RobotoBold', Arial, Helvetica, sans-serif; }
.contact address {  color: #1b4856; font: 13px 'RobotoLight', Arial, Helvetica, sans-serif; line-height: 20px; text-align: left; padding-left: 60px; }
.contact address strong { font-family: 'RobotoRegular', Arial, Helvetica, sans-serif; }


/****************************************************************************
    *-*-*FOOTER-*-*
****************************************************************************/
footer { max-width: 960px; margin: 0px auto; border-top: 1px solid #5dcaed; }
footer p { float: left; color: #1b4856; font: 12px 'RobotoLight', Arial, Helvetica, sans-serif; line-height: 60px; }
footer p strong { font-family: 'RobotoBold', Arial, Helvetica, sans-serif;  }
footer ul { float: right; }
footer ul li { display: inline; text-align: right; margin: 0px 0px 0px 10px; color: #1b4856; font: 11px 'RobotoLight', Arial, Helvetica, sans-serif; line-height: 60px; }
footer ul li  a:hover { text-decoration: underline; }


div.light_square .pp_close { width: 17px; height: 17px; background: url(/assets/close.jpg) center center no-repeat; right: 10px; top: -35px; }
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{ background: transparent; }