
<div class="instructions" style="color:#000;">

Difference Between Internet Retailer vs Max Across The Board chart 
</div>

<div style="color:#000;width:3200px;position:absolute;margin-top:200px;margin-left:-200px;">
	
	<div style="width:37px;border:solid 2px #000;float:left;color:#000;text-align:center;font-size:10px;">

		Carat <br> Values  
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">0.23-0.29</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">0.30-0.39</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">0.40-0.49</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">0.50-0.59</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">0.60-0.69</div>

		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">0.70-0.74</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">0.75-0.79</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">0.80-0.89</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">0.90-0.99</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.00-1.09</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.10-1.19</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.20-1.24</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.25-1.29</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.30-1.39</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.40-1.49</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.50-1.59</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.60-1.69</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.70-1.74</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.75-1.89</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">1.90-1.99</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">2.00-2.10</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">2.11-2.24</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">2.25-2.49</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">2.50-2.74</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">2.75-2.89</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">2.90-2.99</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">3.00-3.10</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">3.11-3.24</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">3.25-3.49</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">3.50-3.74</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">3.75-3.89</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">3.90-3.99</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">4.00-4.24</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">4.25-4.49</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">4.50-4.74</div>
		<div style="width:35px;height:35px;;border:solid 2px #000;display:block;color:#000;">4.75-4.99</div>

	</div>

	<% @colors.each do |col| %>
	  <% @clarity.each do |clar| %>


	<div style="width:37px;border:solid 2px #000;float:left;color:#000;text-align:center;font-size:10px;">

		<%= col %> <br> <%= clar %> 
		<% @roundstratas.each do |rs| %>
			<div class="cv" style="width:35px;height:35px;;border:solid 2px #000;display:block;color:black;">
				<% unless @raw_values.where(:clarity => clar,  :color => col, :carat => rs, :median => true).blank? %>
				<% @cvd = @raw_values.where(:clarity => clar,  :color => col, :carat => rs, :median => true).last %>
				<%= number_with_precision(@cvd.difference * 100, :precision => 2)  %> 
				
	       <div class="cv-detail">
  				
  				<%= @cvd.carat %> - <%= col %> - <%= clar %> <br>
  				 Blue Nile: <%= @cvd.price %> <br>
  				Max Internet Value: <%= @cvd.max_value  %> <br>
  				Difference: <%= number_with_precision(@cvd.difference * 100, :precision => 2)  %> % 
  			
  				</div>
  				<% end %>

	        </div>
		<% end %>

	</div>
	<% end %>
	<% end %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script>
  
  $(".cv").each(function(element) {
    if ($(this).clone().children().remove().end().text() == 0)  {
      this.style.backgroundColor = "#ffffff"; 
    } else if ( Math.abs($(this).clone().children().remove().end().text()) <= 5 ) {
      this.style.backgroundColor = "#00f900";
    } else if ( Math.abs($(this).clone().children().remove().end().text()) <= 10) {
      this.style.backgroundColor = "#d4fb79";
    } else if ( Math.abs($(this).clone().children().remove().end().text()) <= 15) {
      this.style.backgroundColor = "#fffc79";
    } else if  ( Math.abs($(this).clone().children().remove().end().text()) <= 20) {
      this.style.backgroundColor = "#ff9300";
    } else if ( Math.abs($(this).clone().children().remove().end().text()) > 20)  {
      this.style.backgroundColor = "#ff615a";
    } else {
      this.style.backgroundColor = "#ffffff";
    }; 
    if ($(this).clone().children().remove().end().text() < 0 ) {
      this.style.color = "#0235d6";
    };

    $(this).hover(function() {
  	$(this).children(".cv-detail").show();}, function() {
    $(this).children(".cv-detail").hide();
     });
	

	});

   


</script>

</div>
