<!doctype html>
<!--[if IE 9]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if IE 10]>    <html class="ie10" lang="en"> <![endif]-->
<!--[if IE 11]>    <html class="ie11" lang="en"> <![endif]-->
<!--[if gt IE 11]><!--> <html class="gt-ie11" lang="en"> <!--<![endif]-->
    <head>
     <meta charset="utf-8">
       <!-- <% if content_for?(:title) %>
	        <%= yield(:title) %>
	        <% else %> -->
	        <title>DiamondPriceInfo.com - Max's Diamond Price Guide</title>
        <!-- <% end %> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

           <%= stylesheet_link_tag    'prettyPhoto', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'responsive', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'html5', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
       
        <link rel="shortcut icon" href="favicon.ico">
        <!--[if lt IE 9]>
            <script src="js/html5.js"></script>
        <![endif]-->

   
    <%= csrf_meta_tags %>

  
   
  </head>

  <body>
   <!-- MAIN MENU -->
        <nav>
            <ul class="top-menu clearfix">
                <li class="logo"><%= image_tag 'logo4.jpg' %></li>
                <li class="menu-item"><a href="http://diamondpriceinfo.com">HOME</a></li>
                <li class="menu-item"> <%= link_to 'ABOUT', page_path('about_us') %> </li>
                <li class="menu-item"><%= link_to 'DIAMOND PRICES', calculator_path %> </li> 
                <li class="menu-item"><%= link_to 'LEARN ABOUT DIAMONDS', page_path('learn_about_diamonds') %> </li> 
                <li class="menu-item"><%= link_to 'BUYING GUIDE', page_path('guide_to_online_jewelry_retailers') %> </li>
                <li class="menu-item"><%= link_to 'CONTACT', page_path('contact_us') %> </li> 
                 <li class="resp-menu">
                    <select name="resp-menu" id="resp-menu" class="turnintodropdown">
                        <option value="/">Max's Diamond Price Guide</option>
                        <option value="pages/about_us">ABOUT</option>
                        <option value="calculator">Diamond Prices</option>
                        <option value="pages/learn_about_diamonds">Learn About Diamonds</option>
                        <option value="pages/guide_to_online_jewelry_retailers">Buying GUide</option>
                        
                        <option value="/pages/contact">CONTACT</option>
                    </select>
                </li> 
               
            </ul>
        </nav>
        <!-- MAIN MENU -->

 <!-- HEADER -->
        <div class="header-wrapper">
            <header id="top">
                <div class="clearfix">
                    <article>
                        <h1>MAX'S<span>DIAMOND PRICE GUIDE</span></h1>
                        <h3>FIND YOUR DIAMOND'S REALMARKET VALUE</h3>
                        <p><strong>We're Your Independent Source for Diamond Pricing.</strong></p>
                        
                    </article>
                    <figure>
                    <!-- google ad or CJ ad goes here -->
                         <a href="http://www.jdoqocy.com/click-7744481-11436191" target="_blank">
    <img src="http://www.ftjcfx.com/image-7744481-11436191" width="300" height="250" alt="" border="0"/></a>
                    
                    </figure>
                    <%= link_to 'Read Our Buying Guide', page_path('guide_to_online_jewelry_retailers'), class: "button blue" %> 
                </div>
            </header>
        </div>
        <!-- HEADER -->
    <%= yield %>


        <!-- CONTACTS -->
        <section id="contact" class="contacts clearfix">
            <h4>QUESTIONS ABOUT DIAMOND PRICING?  <span>SEND US A MESSAGE</span></h4>
            <form action="mailto:info@diamondpriceinfo.com" method="post" id="contactForm">
                <ul class="left">
                    <li><input type="text" class="input-field required" name="name" placeholder="Name" value="" /></li>
                    <li><input type="text" class="input-field required" name="subject" placeholder="Subject" value="" /></li>
                </ul>
                <ul class="right">
                    <li><textarea class="mailcontant" name="body" cols="5" rows="5" placeholder="Message"></textarea></li>
          <li><input type="text" class="input-field input-field-b required" name="question" placeholder="Security Question: 3+7 = " value="" /></li>
                </ul>
        <p><input type="submit" name="submit" value="Start Your Message" class="submit"/></p>
                <p id="success"><img id="loading" src="/assets/loading.gif" alt="Sending....." /></p>
            </form>
            <ul class="social-nav clearfix">
                <li><a href="https://www.facebook.com/diamondpriceguide/" class="fb">&nbsp;</a></li>
                <li><a href="https://twitter.com/maxspriceguides" class="tw">&nbsp;</a></li>
            </ul>
            <div class="contact">
                <p> Email:</p>
                <p class="contact-email">contact@diamondpriceinfo.com</p>
                             
            </div>
        </section>
        <!-- CONTACTS -->

        <!-- FOOTER -->
        <footer>
            <p><strong>DiamondPriceInfo.com</strong> &copy; Copyright 2017.</p>
            
        </footer>
  </body>
  <!-- jquery-->
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
   <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</html>
