<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag '/favicon.ico' %>
  <link rel="canonical" href="http://www.diamondpriceinfo.com/" />

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "learn_about_diamonds", media: "all" %>
  <%= javascript_include_tag "application" %>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% end %>
  </title>
  <meta name="description" content="<%= yield(:description) %>" />
  <meta name="keywords" content="<%= yield(:keywords) %>" />
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="wrapper">
    
    <div id="header">
      <%= render 'shared/logo_and_header'%>
      <%= render 'shared/menu'%>
    </div>
  
    <div id="contentBox">
      <div class="main-block">
        <div class="leftBottom">
          <div class="bottomSpaceAbout">
            <%= yield %>
          </div>
        </div>
      </div>

  <%= render 'shared/footer'%>
  <%= render 'shared/ga'%>

  </div>

</body>
</html>
