<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag '/favicon.ico' %>
  <link rel="canonical" href="http://www.diamondpriceinfo.com/" />

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% end %>
  </title>
  <meta name="description" content="<%= yield(:description) %>" />
  <meta name="keywords" content="<%= yield(:keywords) %>" />
  <%= csrf_meta_tags %>
</head>

<body>
 
<div id="wrapper">
  <div id="header">
    <%= render 'shared/logo_and_header'%>
    <%= render 'shared/menu'%>
  </div>

  <%= yield %>

  <%= render 'shared/footer'%>
  <%= render 'shared/ga'%>
</div>



</body>
</html>
