<div class="about-Us">
  <h2>Linking Policy</h2><br><br>
  <p>diamondpriceinfo.com
    <br><br>
    Last Updated: 01/17/11 
    <br><br>

    We encourage you to link to our website, Max's Diamond Price Guide found here at: <a href="http://www.diamondpriceinfo.com" target="_blank">http://www.diamondpriceinfo.com</a>, and the various section entrance pages and specific articles within.    
    <br><br>
    OTHER IMPORTANT DIAMONDPRICEINFO.COM POLICIES:
    <br>
    •<a href="/pages/privacy">Privacy Policy</a>
    <br>
    •<a href="/pages/copyright">Trademark Use Policy</a>
    <br>
    •<a href="/pages/terms_of_use">Terms of Service</a></p>


</div>
<div class="about-right">
  <%= image_tag "rings.jpg" %>
</div>


